
.collapsible{
	box-shadow: none;
}

.collapsible-body{
	position: relative;
	.btn-floating{
		&.btn-large{
			height: 50px;
		    width: 50px;
		    line-height: 50px;
		    position: absolute;
		    right: 20px;
		    bottom: 30px;
		    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
		    i {
			    line-height: 50px;
			}
		}
	}
}

.collapsible-header{
    color: $primary-color;
    font-weight: 600;
    font-size: $font-14;
    padding: 5px 15px;
    position: relative;
    &:after{
    	position: absolute;
    	content: '';
    	background: url(../img/dwn-arrow.svg) no-repeat 0 0;
    	height: 15px;
    	width: 15px;
    	right: 20px;
    	top: 18px;
    }
    &.active{
    	color: $blue-text;
    	&:after{
	    	background: url(../img/up-arrow.svg) no-repeat 0 0;
	    	top: 18px;
	    }
    }
}


.vetical-tab-nav{
	.vertical-nav-wrap{
		float: left;
    	width: 100%;
    	.user-search{
    		margin-bottom: 0px;
    	}
    	ul{
			padding: 20px;
			overflow: auto;
	    	height: 170px;
	    	border-bottom: 1px solid #95c3d8; 
		}
	}
	
	.vertical-tabs-content{
		width: 100%;
		border-left: none;
	}

	.permissions-lists{
		overflow: auto;
		.permissions-list{
			width: 600px;
		}
	}
} 
