
.right-side-bar, 
.contacts, 
.content {
    background-color: #fff;
    padding: 60px 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 70px;
}

.screens {
    text-align: center;
    border: 2px solid #dddee4;
    border-radius: 5px;
    cursor: pointer;
	transition: all 0.3s ease-in-out;
	a{
		display: block;
    	padding: 20px;
    	img{
    		margin-bottom: 20px;
    		width: 100px;
    	}
	}
    h4 {
	    font-family: $primary-font;
	    color: #4d4d4d;
	}
	&:hover {
	    border: 2px solid #8360f2;
	    transition: all 0.3s ease-in-out;
	}
}

.widgets, 
.information {
    padding-bottom: 40px;
    margin-bottom: 50px;
    background: #fff;
    border-bottom: 1px dotted #95c3d8;
    &:last-child {
	    border: none;
	    margin-bottom: 0px;
	}
	.input-field{
		[type="checkbox"] + label{
			margin: 0;
		}
	} 
}

.widgets-header, 
.information-header {
	h3{
	    margin-bottom: 30px;
	    font-weight: 600;
	    display: inline-block;
	}
}

.information-header{
	.add-input {
	    display: inline-block;
	    margin-left: 10px;
	}
}

div.email-sidebar-text {
	padding-top: 30px;
	h5.email-text {
		color: $primary-color;
		font-size: 15px;
		font-weight: 600;
		margin-bottom: 30px;
	}
	p{
		font-size: 13px;
		color: $primary-color;
		line-height: 24px;	
	}
}

div.contents{
	input.select-dropdown{
		border-bottom: 1px solid #dadada;
		text-transform: capitalize;
	}
}
div.contents{
	input{
		border-bottom: 1px solid #dadada;
	}
}

div.content-tab-view {
	[type="checkbox"] + label{ 
		padding-left: 30px;
		padding-right: 0px;
		padding-top: 28px;
		color: #4d4d4d;
		font-size: 14px;
		margin: 0px;
	}
}

.email-settings {
	[type="checkbox"].filled-in {
		&:checked {
			&+label {
				&:after {
					height: 18px;
					width: 18px;
					top: 28px;
					left: 0;
				}
				&:before {
					top: 28px;
					left: 1px;
					width: 7px;
					height: 12px;
				}
			}
		}
		&:not(:checked) {
			&+label {
				&:after {
					height: 18px;
					width: 18px;
					top: 28px;
					left: 0;
				}
				&:before {
					top: 28px;
					left: 1px;
					width: 7px;
					height: 12px;
				}
			}
		}
	}
}



a.call-to-add {
	color: #3c86f5;
	font-size: 14px;
	span {
		margin-left: 20px;
	}
}

/*.logo-upload,
.picture-upload{
	.logo-wrapper,
	.picture-wrapper{
		width: 225px;
		height: 225px;
		border: 2px solid #95c3d8;
		display: block;
		margin: 0 auto;
		border-radius: 2px;
		position: relative;
		overflow: hidden;
		a{
			display: inline-block;
			img{
				display: block;
				max-width: 100%;
				width: 100%;
				height: auto;
			}
			.info{
				position: absolute;
				padding: 20px 20px 20px 0;
				bottom: 0px;
				left: 0px;
				width: 100%;
				text-align: right;
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
				span{
					font-family: $primary-font;
					font-weight: 600;
					font-size: $font-13;
					color: #4d4d4d;
					text-transform: capitalize;
				}
				h5{
					font-family: $primary-font;
					font-weight: 700;
					font-size: $font-20;
					color: $blue-text;
					text-transform: uppercase;
				}
			}
		}
	}
}*/

#edit-user{
	margin-bottom: 40px;
}

.avatar-view{
	position: relative;
	&:hover{
		.logo-hover-state{
			opacity: 1;
	    	transition: all 0.3s ease-in-out;
		}
	}
	.logo-hover-state{
		position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    text-align: center;
	    padding: 28px 0 0px;
	    background: rgba(255,255,255,0.9);
	    opacity: 0;
	    transition: all 0.3s ease-in-out;
	    span.file-upload{
	    	height: 30px;
		    width: 30px;
		    display: block;
		    margin: 0 auto 10px;
		    background: url(../img/sprite.png) no-repeat -6px -274px;
	    }
	}
}

.personal-info{
	.avatar-view{
		.logo-hover-state{
			padding: 90px 0 40px;
		}
	}
}

.address-clone{
	margin-bottom: 20px;
	.add-input,
	.remove-input{
		margin-top: 10px;
	}
}

#contacts-list{
	position: relative;
}