
.dashboard-contents-wrapper{
	margin-bottom: 100px;
	.dashboard-contents{
		padding: 30px 20px;
		background: $white;
	}
}


.select-dashboard{
	ul{
		margin-bottom: 50px;
		li{
			list-style-type: none;
			display: inline-block;
			position: relative;
			&:first-child{
				a{
					padding-left: 0px;
				}
				&:after{
					display: none;
				}
			}
			&:after{
				content: '';
				position: absolute;
				width: 2px;
				height: 20px;
				background: #3949ab;
				left: -3px;
    			top: 0px;
				transform: rotate(20deg);
			}
			&.active{
				a{
					color: $blue-text;
					font-weight: 600;
					font-size: $font-18;
				}
				&:after{
					top: 3px;
				}
			}
			a{
				display: inline-block;
				padding: 0 10px;
				font-size: $font-14;
				font-family: $font-montserrat;
				color: $secondery-color;
				letter-spacing: 0.5px;
			}
		}
	}
}

.personal-dashboard{
	display: none;
}

.deal-card-list{
	.card{
		width: 49%;
		margin-right: 2%;
		border-radius: 3px;
		float: left;
		padding: 30px 15px 20px;
		min-height: 170px;
		&:last-child{
			margin-right: 0px;
		}
		&.card-small{
			width: 24%;
			margin-right: 1.3%;
			&:last-child{
				margin-right: 0px;
			}
		}
		h2{
			font-family: $font-montserrat;
			font-size: $font-14;
			margin-bottom: 15px;
			color: $blue-text;
			position: relative;
    		z-index: 9;
    		letter-spacing: 0.5px;
		}
		.price{
			font-family: $primary-font;
			font-weight: 400;
			font-size: 40px;
			line-height: 1.1;
			color: #0482bb;
			display: block;
			margin-bottom: 20px;
			span{
				font-size: 35px;
				color: $secondery-color;
			}
		}
		.year{
			text-align: right;
			display: block;
			font-size: $font-13;
			padding-top: 10px;
			color: $secondery-color;
			border-top: 1px solid #c8dfea;
		}
		&.no-data{
			.no-data-screen{
				position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    text-align: center;
			    padding-top: 65px;
			    background: rgba(251,251,252,0.85);
			    h4{
			    	margin-bottom: 15px;
				    color: #544d52;
				    font-size: 12px;
				    font-family: "Montserrat", sans-serif;
			    }
			}
		}
	}
}

.numbers{
	padding: 15px 20px;
	margin-bottom: 50px;
	background: #f7f8f9;
	min-height: 176px;
	ul{
		padding-bottom: 17px;
    	border-bottom: 1px solid #e1e1e1;
		li{
			float: left;
			list-style-type: none;
			padding: 0 20px;
			border-right: 1px solid #95c3d8;
			&:first-child{
				padding-left: 0px;
			}
			&:last-child{
				border-right: none;
				padding-right: 0px;
			}
			.numers-header{
				font-size: $font-16;
				font-family: $primary-font;
				font-weight: 600;
				letter-spacing: 0.5px;
				margin-bottom: 15px;
				color: $primary-color;
				display: inline-block;
				span{
					color: $blue-text;
				}
			}
			.price{
				font-family: $primary-font;
				font-weight: 400;
				font-size: 40px;
				line-height: 1.1;
				display: block;
				margin-bottom: 5px;
			}
		}
	}
	.year{
		text-align: right;
	    display: block;
	    font-size: $font-13;
	    padding-top: 10px;
	    color: $primary-color;
	    border-top: 1px solid rgba(255, 255, 255, 0.2);
	}
}

.graphs-wrapper{
	margin-bottom: 50px;
	.graph{
		height: 500px;
		background: #fbfbfc;
		padding: 30px;
		position: relative;
    	overflow: hidden;
    	h3{
    		font-size: 14px;
    		letter-spacing: 0.5px;
    	}
		/*iframe{
			display: none !important;
		}*/
		#canvas-holder{
			text-align: center;
			span{
				display: block;
			    background: rgba(255,255,255,0.8);
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    top: 0;
			    left: 0;
			    font-weight: 600;
			    font-size: 18px;
			    padding-top: 35%;
			}
		}
		canvas{
			&#canvas{
				width: 670px !important;
				height: 380px !important;
				margin: 0 auto;
				background-color: rgb(251, 251, 252) !important;
			}
			&#chart-area{
		    	margin-top: 50px;
			}
		}
		&.sales-graph,
		&.funnel-graph{
			.no-sales-data{
				position: relative;
				text-align: center;
				.no-sales{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					text-align: center;
					padding-top: 55px;
					background: rgba(251, 251, 252, 0.75);
					h4 {
					    margin-bottom: 15px;
					    color: #544d52;
					    font-size: 15px;
					    font-family: "Montserrat", sans-serif;
					}
				}
			}
		}
	}
}

#chartdiv {
	width: 100%;
	height: 350px;
	margin: auto;
}

#chartdiv2 {
    width   : 100%;
    height  : 350px;
    position: relative;
    span{
    	font-size: 20px;
	    font-weight: 600;
	    display: block;
	    text-align: center;
	    position: absolute;
	    width: 100%;
	    left: 0;
	    top: 50%;
	    margin-top: -15px;
    }
} 

.dashboard-contents-wrapper{
	.feeds-list{
		margin-bottom: 50px;
		.border{
			height: 400px;
			overflow: auto;
		}
		.content-table{
			padding: 20px;
			.content-table-data{
				margin-bottom: 10px;
				width: 27%;
				&:first-child {
				    width: 7% !important;
				    overflow: visible;
				}
				&:nth-child(2) {
					width: 48%;
					overflow: hidden;
				}
				&:last-child {
				    width: 17% !important;
				}
			}
		}
		.timeline{
			left: 0;
			right: auto;
			&:before{
				height: 60px;
			}
		}
	}
	.tasks-list{
		margin-bottom: 50px;
		padding: 20px;
		height: 400px;
		overflow: auto;
	}

	.tasks{
		.edit-tasks{
			.edit-task-footer{
				.mark-done{
					padding: 0 0px;
				}
			} 
		} 
	} 
}


.dashboard-contents{
	.tasks{
		.edit-tasks{
			margin-left: 5px;
			.mark-done{
				padding: 0 0px;
				label{
					font-size: 12px;
				    padding: 0;
				    margin-left: 0px;
				}
			}
		}
	}
}
