
.drag-container{
	/*padding: 0 20px;*/
    background: #fff;
    overflow: auto;
    .drag-wrapper{
    	margin: 0 20px;
    }
    .drag-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	    .drag-column{
			width: 23%;
		    float: left;
		    margin-left: 30px;
			padding: 60px 0;
			position: relative;
			background: rgba(255, 255, 255, 0.1);
			/*overflow: hidden;*/
			&:first-child{
				margin-left: 0px;
			}
			&:last-child{
				margin-right: 20px;
			}
			.drag-header{
				position: relative;
				margin-bottom: 30px;
				.drag-column-header{
					display: inline-block;
					text-transform: uppercase;
					margin-right: 10px;	
					letter-spacing: 0.5px;
					font-weight: 600;
					color: $blue-text;
				}
				input.rename-field{
					position: absolute;
					left: 0px;
					top: 0px;
					height: 20px;
					line-height: 20px;
					width: 80%;
					border: none;
					font-size: $font-18;
					font-weight: 400;
					font-family: $secondery-font;
					letter-spacing: 0.5px;
					display: none;
					&:focus{
						border: none;
						box-shadow: none;
					}
				}
				.total-price{
					color: $primary-color;
					display: inline-block;
					font-size: $font-13;
					font-weight: 600;
					font-family: $primary-font;
				}
				.drag-header-more{
					position: absolute;
					right: 20px;
					top: 0px;
				}
				.add-deals{
					height: 18px;
				    width: 18px;
				    float: left;
				    background: url(../img/sprite.png) no-repeat -120px -164px;
				}
				.icons {
				    position: relative;
				    top: -3px;
				    margin-left: 4px;
				}
				.contextual-popup{
					width: 200px;
					padding: 20px;
					position: absolute;
					background: #fff;
					right: 0px;
					margin-right: -88px;
					z-index: 3;
					top: 30px;
					display: none;
					-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					-moz-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					&:after {
					    background: url(../img/arrow-up.png) no-repeat 0 0;
					    position: absolute;
					    left: 50%;
					    top: -13px;
					    width: 17px;
					    height: 14px;
					    margin-left: -8px;
					    content: '';
					}
					ul{
						li{
							padding-bottom: 5px;
							&:last-child{
								padding-bottom: 0px;
							}
							a{
								font-size: 12px;
							    transition: all 0.3s ease-in-out;
							    color: $primary-color;
							    display: block;
							    font-family: $primary-font;
							    &:hover{
							    	color: $blue-text;
							    }
							}
						}
					}
				}
			}
			&:last-child{
				.drag-inner-list {
					border-right: none;
				}
			}
		}
		.drag-inner-list {
		  	height: 530px;
    		overflow-y: auto;
      		overflow-x: hidden;
      		background: rgb(255,255,255);
			background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(247,248,249,1) 100%);
			background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(247,248,249,1) 100%);
			background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(247,248,249,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f8f9',GradientType=1 );
			border-right: 1px solid #dcdcdc;
		}
	}
}

.card {
	padding: 20px;
	border: 1px solid #95c3d8;
	border-radius: 3px;
	box-shadow: none;
	background: #fbfbfc;
	overflow: hidden;
	margin: 0 0 30px;
	.card-content {
		padding: 0 0 10px 0;
		.card-title {
			font-size: $font-15;
			line-height: 23px;
			font-family: $primary-font;
			letter-spacing: 0.5px;
			font-weight: 600;
			a{
				color: $primary-color;
			}
		}
		.task-assigned{
			float: left;
		    width: 50%;
		    span.avatar-pic-wrapper{
				display: inline-block;
				width: 30px;
				padding: 10px 0;
			}
		}
		.task-price{
		    float: right;
		    width: 50%;
		    text-align: right;
		    .price{
			    padding-top: 8px;
			    display: inline-block;
			    font-weight: 600;
			    font-style: italic;
			    color: $primary-color;
			    span{
					font-size: $font-20;
					font-weight: 600;
					font-style: normal;
					font-family: $primary-font;
					color: #0482bb;
					position: relative;
				    top: 3px;
				}
			}
		}
	}
	.card-action{
		border: none;
		padding: 0px;
		z-index: 1;
	    background: transparent;
	    .card-id{
			font-size: $font-12;
			font-weight: 600;
			font-style: normal;
			font-family: $primary-font;
			color: #0482bb;
			letter-spacing: 0.5px;
		}
		.card-status{
			font-size: $font-12;
			font-weight: 400;
			font-style: normal;
			font-family: $primary-font;
			display: inline-block;
			margin-right: 4px;
			line-height: 14px;
			letter-spacing: 0.5px;
			padding: 4px 8px;
			border-radius: 20px;
			a{
				color: $color-white !important;
				margin-right: 0px !important;
				text-transform: none !important;
			}
		}
		span{
			margin-right: 15px;
			&:last-child{
				margin-right: 0px;
			}
		}
	}
	.card-type{
		position: absolute;
		right: 0;
	    bottom: -5px;
		font-family: $font-montserrat;
		font-weight: 600;
		font-size: 35px;
		color: #d6d6ef;
		line-height: 35px;
	    text-transform: uppercase;
	}
	.card-bg{
		position: absolute;
		height: 100%;
		width: 3px;
		left: 0;
	    top: 0;
		background: #92283f; /* Old browsers */
		background: -moz-linear-gradient(top,  #92283f 1%, #ff695c 50%, #ffca6e 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #92283f 1%,#ff695c 50%,#ffca6e 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #92283f 1%,#ff695c 50%,#ffca6e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92283f', endColorstr='#ffca6e',GradientType=0 ); /* IE6-9 */
	}
}

/*.drag-item.is-moving {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
}*/

.drag-options {
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.drag-options.active {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}

.gu-mirror {
	position: fixed;
	margin: 0;
	z-index: 9999;
	opacity: 1;
	list-style-type: none;
}

.gu-hide {
  	display: none;
}

/*.gu-unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}*/

.gu-transit {
  	opacity: 0.2;
}

.card-lists{
	overflow: hidden;
	.card {
		width: 32%;
	    float: left;
	    margin: 0 15px 15px 0;
	    padding: 0px;
	    &:last-child{
	    	margin-right: 0px;
	    }
	    .card-content{
    	    padding: 20px 20px 15px;
    	    background: #ffca6e;
		    background: -moz-linear-gradient(left, #92283f 0%, #92283f 0%, #ff695d 50%, #ffca6e 100%);
		    background: -webkit-linear-gradient(left, #ffca6e 0%, #ffca6e 0%, #ff695d 50%, #92283f 100%);
		    background: linear-gradient(to right, #ffca6e 0%, #ffca6e 0%, #ff695d 50%, #92283f 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92283f', endColorstr='#539fe1',GradientType=1 );
		    .task-assigned{
		    	span.avatar-pic-wrapper{
		    		padding: 0px 0;
		    	}
		    } 
	    }
	    .task-price{
	    	float: none;
	    	width: 100%;
	    	text-align: left;
	    	.price{
	    		font-size: 40px;
		    	font-weight: 600;
		    	font-family: $primary-font;
		    	font-style: normal;
		    	color: $color-white;
		    	line-height: 40px;
    			margin-bottom: 20px;	
		    	span{
		    		font-size: 30px;
				    font-weight: 600;
				    font-style: normal;
				    font-family: $primary-font;
				     color: $color-white; 
				     position: relative; 
				     top: 0px; 
		    	}
	    	}
	    }
	    .task-assigned{
	    	width: 100%;
	    	.card-id{
	    		font-size: $font-20;
			    float: right;
			    color: $color-white;
			    line-height: 1.6;
	    	}
	    }
	    .card-action{
	    	padding: 15px 20px 10px;
	    	.card-title{
	    		font-size: $font-14;
			    letter-spacing: 0.5px;
			    line-height: 23px;
			    display: block;
			    margin-bottom: 15px;
			    a{
			    	font-weight: 600;
			    	color: $blue-text !important;
			    	text-transform: none !important;
			    }
	    	}
	    }
	    .card-footer{
	    	text-align: center;
	    	border-top: 1px solid #95c3d8;
	    	a{
	    		padding: 20px 0;
	    		font-size: $font-13;
	    		font-family: $primary-font;
	    		color: $primary-color;
	    		display: block;
	    		text-transform: uppercase;

	    	}
	    }
	}
}