
.header{
	z-index: 995;
}


.drag-container{
	.drag-wrapper{
		width: 100%;
	    max-width: 300px;
	    overflow: hidden;
	    margin: 0 auto;
	    position: relative;
	    a.nxt{
	    	height: 35px;
	    	width: 35px;
	    	background: $blue url(../img/arrow.svg) no-repeat  4px 2px;
	    	position: fixed;
	    	text-indent: 99999px;
	    	right: 22px;
	    	top: 60%;
	    	display: block;
	    	border-radius: 3px;
	    	z-index: 2;
	    }
	    a.pre{
	    	height: 35px;
	    	width: 35px;
	    	background: $blue url(../img/arrow.svg) no-repeat -27px 2px;
	    	position: fixed;
	    	text-indent: 99999px;
	    	left: 22px;
	    	top: 60%;
	    	display: block;
	    	border-radius: 3px;
	    	z-index: 2;
	    }
	    .drag-list{
	    	width: 100%;
	    	/*height: 918px;*/
    		position: relative;
	    	.drag-column{
	    		margin: 0px;
	    		position: absolute;
    			width: 100%;
    			padding: 80px 0;
    			display: none;
    			-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
				-moz-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
				animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    			&.active{
    				display: block;
    				-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					-moz-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    			}
	    	}
	    }
	}
}


.note-lists{
	ul{
		li{
			margin: 0 0 5px 0;
    		transform: scale(0.8);
		}
	}
}

.notes{
	&.note-add{
		position: relative;
		transform: scale(0.8);
		.btn-floating{
			right: 50% !important;
		    bottom: 50% !important;
		    margin: 0 -25px -25px 0;
		}
	}
} 