/************************************************
Google Fonts
*************************************************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Open+Sans:300,400,600,700');

$primary-font: 'Open Sans', sans-serif;
$secondery-font: 'Montserrat', sans-serif;


/************************************************
Background colors
*************************************************/

$red: #E57373;
$purple: #BA68C8;
$deep-purple: #9575CD;
$indigo: #7986CB;
$blue: #64B5F6;
$light-blue: #4FC3F7;
$teal: #4DB6AC;
$green: #81C784;
$amber: #FFD54F;
$orange: #FFB74D;
$deep-orange: #FF8A65;
$grey: #E0E0E0;

$white: #ffffff;


/************************************************
Text colors
*************************************************/

$primary-color: #969696;
$primary-dark-color: #4d4d4d;
$link-color: #3c86f5;
$link-hover-color: #6299f6;
$blue-text: #0482bb;

/************************************************
Font Sizes
*************************************************/

$font-10: 10px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;

/************************************************
Global Mixings
*************************************************/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transit($time){
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}