/************************************************
Google Fonts
*************************************************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

@font-face {
    font-family: 'lucida_sansdemibold_roman';
    src: url('../fonts/lucida/lucida_sans_demibold_roman-webfont.woff2') format('woff2'),
         url('../fonts/lucida/lucida_sans_demibold_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$primary-font: 'Open Sans', sans-serif;
$secondery-font: 'Raleway', sans-serif;
$social-button-font: 'lucida_sansdemibold_roman', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;


/************************************************
Background colors
*************************************************/

$blue: #5572f7;
$blue-hover: #123cf7;
$red: #dd4c64;
$light-blue: #039be5;
$cyen: #00acc1;
$teal: #0ca0a4;
$light-teal: #33c7a9;
$indigo: #1e253e;
$purple: #593c8f;
$light-purple: #5e548e;
$green: #68c096;
$green-hover: #20c073;
$lime: #eaa447;
$light-green: #a5be00;
$orange: #ff8966;
$brown: #706c61;
$blue-grey: #373f62;

$white: #ffffff;


/************************************************
Text colors
*************************************************/

$primary-color: #3a3a3a;
$secondery-color: #969696;
$primary-dark-color: #616161;
$link-color: #1e88e5;
$link-hover-color: #1a78cb;
$blue-text: #3949ab;
$menu-color: #424242;
$menu-hover-color: #3949ab;
$label-color: #3949ab;
$color-white: #ffffff;


/************************************************
Buttons colors
*************************************************/

$btn-cancle: #fb6e6f;
$btn-cancle-hover: #fb4041;
$btn-general: #eaa447;
$btn-disabled: #bdbdbd;
$btn-save: #66bb6a;
/*$btn-save: #43a047;*/


/************************************************
Font Sizes
*************************************************/

$font-9: 9px;
$font-10: 10px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;

/************************************************
Tag colors
*************************************************/

$tag-light-blue: #1072f2;
$tag-cyen: #4DD0E1;
$tag-teal: #0ca0a4;
$tag-indigo: #1e253e;
$tag-red: #dd4c64;
$tag-purple: #593c8f;
$tag-green: #679436;
$tag-lime: #eaa447;
$tag-light-green: #a5be00;
$tag-orange: #ff8966;
$tag-brown: #706c61;
$tag-blue-grey: #90A4AE;


/************************************************
Global Mixings
*************************************************/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transit($time){
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}