
.footer{
	background: #fff;
	z-index: 99;
	/*position: fixed;*/
	bottom: 0px;
	width: 100%;
	.copy-right{
		line-height: 56px;
		height: 56px;
		text-align: center;
		font-size: $font-14;
		font-family: $primary-font;
	}
}

