/*
.form-layout-10{
	width: 7.5%;
	float: left;
	margin-right: 20px;
}

.form-layout-20{
	width: 17.5%;
	float: left;
	margin-right: 20px;
}

.form-layout-30{
	width: 100%;
	float: none;
	margin-right: 0px;
}

.form-layout-33{
	width: 100%;
	float: none;
	margin-right: 0px;
}

.form-layout-40{
	width: 100%;
	float: none;
    margin-right: 0px;
}

.form-layout-50{
	width: 100%;
	float: none;
    margin-right: 0px;
}

.form-layout-60{
	width: 100%;
	float: none;
	margin-right: 0px;
}

.form-layout-80{
	width: 100%;
	float: none;
	margin-right: 0px;
}
*/

.form-layout-100{
	width: 100%;
	float: none;
	input{
		width: 100%;
	}
	.input-area{
		input{
			width: 50%;
		}
	} 
}

