

.form-layout {
    width: 100%;
    div:last-child{
		margin-right: 0px;
	}
}

.form-layout-10{
	width: 7.5%;
	float: left;
	margin-right: 20px;
}

.form-layout-20{
	width: 17.5%;
	float: left;
	margin-right: 20px;
}

.form-layout-30{
	width: 27.5%;
	float: left;
	margin-right: 10px;
}

.form-layout-33{
	width: 31.5%;
	float: left;
	margin-right: 6px;
}

.form-layout-40{
	width: 37.5%;
    float: left;
    margin-right: 20px;
}

.form-layout-50{
	width: 46%;
    float: left;
    margin-right: 40px;
}

.form-layout-60{
	width: 58.5%;
	float: left;
	margin-right: 10px;
}

.form-layout-80{
	width: 78.5%;
	float: left;
	margin-right: 10px;
}

.form-layout-100{
	width: 99%;
	float: left;
	input{
		width: 99%;
	}
}

.field-group input {
  	&[type=text], &[type=email], &[type=password] {
	    height: 40px;
	    margin: 0 0 10px 0;
	    line-height: 40px;
	    font-size: $font-13;
	    color: $primary-color;
	    border-bottom: 1px solid #dadada;
	    box-shadow: none;
	    position: relative;
	    z-index: 2;
  	}
  	&[type=text]:disabled, &[type=email]:disabled{
  		color: #aaaaaa;
  	}
  	&[type=text] label, &[type=email] label, &[type=password] label {
    	font-size: $font-14;
  	}
}

textarea.materialize-textarea{
	border: none;
	border-bottom: 1px solid #dadada;
	height: 50px;
	padding: 5px 0 0 0;
	font-size: $font-13;
}

.input-field{
	label:not(.label-icon).active{
		font-size: $font-13;
		color: $blue-text;
	}
	label{
		font-size: $font-13;
		color: $primary-color;
		z-index: 1;
	}
	&.date-field{
		position: relative;
		span{
		    height: 20px;
		    width: 20px;
		    display: inline-block;
		    background: url(../img/sprite.png) no-repeat -40px -355px;
		    position: absolute;
		    top: 10px;
		    right: 0;
		}
	}
} 

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: $primary-color;
}
input::-moz-placeholder { /* Firefox 19+ */
  	color: $primary-color;
}
input:-ms-input-placeholder { /* IE 10+ */
  	color: $primary-color;
}
input:-moz-placeholder { /* Firefox 18- */
  	color: $primary-color;
}


.add-input {
	display: inline-block;
    font-size: $font-13;
    color: $label-color;
    font-family: $primary-font;
    position: relative;
    height: 50px;
    line-height: 50px;
    transition: 0.2s all ease-in-out;
    outline: none;
    span{
		position: relative;
	    top: 5px;
	    margin-right: 8px;
	    height: 20px;
	    width: 20px;
	    display: inline-block;
	    background: url(../img/sprite.png) no-repeat -54px -198px;
	}
}

.remove-input {
	display: inline-block;
    font-size: $font-13;
    color: $label-color;
    font-family: $primary-font;
    position: relative;
    height: 50px;
    line-height: 50px;
    transition: 0.2s all ease-in-out;
  	span {
	    position: relative;
	    top: 5px;
	    margin-right: 8px;
	    height: 20px;
	    width: 20px;
	    display: inline-block;
	    background: url(../img/sprite.png) no-repeat -119px -218px;
	}
  	&:hover span {
    	background-position: -119px -218px;
  	}
}


form {
	.widgets {
		.field-group {
			input[type=text] {
				height: 30px;
				line-height: 30px;
				font-size: 13px;
				font-family: 'Open Sans', sans-serif;
				color: $primary-color;
				border-bottom: 1px solid #dadada;

				&:focus {
					&:not([readonly]) {
						border-bottom: 1px solid #dadada;
						box-shadow: none;
						+ {
							label {
								color: $label-color;
							}
						}
					}
				}
			}
			label {
				color: $label-color;
				font-weight: 400;
				font-family: 'Open Sans', sans-serif;
				font-size: 13px;
				transform: translateY(-140%);
			}
			.add-more {
				height: 20px;
				width: 20px;
				background: url(../img/sprite.png) no-repeat -54px -198px;
				display: block;
				position: absolute;
				right: -30px;
				top: -15px;
				margin-left: -10px;
			}
			.remove-item {
				height: 20px;
				width: 20px;
				background: url(../img/sprite.png) no-repeat -119px -218px;
				display: block;
				position: absolute;
				right: -30px;
				top: -15px;
				margin-left: -10px;
			}
			.select-wrapper {
				span.caret {
					margin: 12px 0 0;
				}
				input[type=text] {
					border-bottom: 1px solid transparent;
				}
			}
			textarea{
				border: none;
			    padding: 5px 0 0 0;
			    height: 50px;
			    outline: none;
			}
		}
		&.deal-details{
			.select-wrapper {
				width: 100%;
				input[type=text] {
					height: 30px;
				    line-height: 30px;
				    margin: 0 0 10px 0;
				    color: $primary-color;
				}
			}
		}
		.edit-default-contact{
			.field-group{
				.input-field{
					margin: 0;
				}
				label{
					transform: translateY(0);
    				top: 0;
				}
			}
		}
	}
}

.widgets {
	.add-input {
		font-size: 13px;
		text-align: left;
		display: block;
		height: 30px;
		line-height: 30px;
		span {
			position: absolute;
			background-position: -54px -198px;
			top: 6px;
			margin-left: -10px;
			right: -30px;
			margin: 0px;
			height: 20px;
			width: 20px;
		}
	}
	.phone-no-clone {
		.field-group {
			position: relative;
			.add-more,
			.remove-item {
				top: 6px;
			}
		}
	}
	.email-no-clone {
		.field-group {
			position: relative;
			.add-more,
			.remove-item {
				top: 6px !important;
			}
		}
	}
	.address-section {
		.add-more,
		.remove-item {
			top: 6px !important;
		}
	}
	.country {
		.add-more,
		.remove-item {
			top: 6px !important;
		}
	}
	.add-extra-im-profile-parent {
		.add-more,
		.remove-item {
			top: 6px !important;
		}
	}
	.add-extra-social-profile-parent {
		.add-more,
		.remove-item {
			top: 6px !important;
		}
	}
}

.select-phone, .select-email {
    margin: 0px;
}

textarea.materialize-textarea {
	&:focus {
		&:not([readonly]) {
			&+label {
				color: $blue-text;
			}
		}
	}
}


.company-logo{
	height: 120px;
	width: 220px;
	overflow: hidden;
	img{
		width: 100%;
		height: auto;
	}
}

.contents.contextual-section-wrapper{
	.select-wrapper {
		span.caret {
			margin: 11px 0 0 !important;
		}
	}
}

