/************************************************
Global Styes
*************************************************/
body{
	background: #f7f8f9;
	font-family: $primary-font;
	font-size: $font-13;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $primary-dark-color;
    /*text-transform: capitalize;*/
}

body::-webkit-scrollbar {
   	width: 8px;
	background-color: #F5F5F5;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
 
body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

ul, li{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

h1, h2, h3, h4{
	padding: 0px;
	margin: 0px;
	font-family: $secondery-font;
}

h2{
	font-size: $font-24;
	line-height: 1.2;
}

h3{
	margin-bottom: 30px;
	color: $blue-text;
	font-weight: 600;
	font-size: $font-18;
	line-height: 1;
}

h4{
	font-size: $font-18;
	line-height: 1;
}

h5{
	padding: 0px;
	margin: 0px 0;
	font-size: $font-15;
	font-family: $primary-font;
}

h6{
	padding: 0px;
	margin: 0px 0 15px;
	font-size: $font-13;
	font-family: $primary-font;
}

p{
	margin: 0 0 10px 0;
}

a {
    color: $link-color;
}

img{
	max-width: 100%;
}

button{
	&:focus, &:active, &:visited{
		background: transparent;
	}
}

.border-top{
	border-top: 1px dotted #95c3d8;
	&.form-layout{
		padding-top: 20px;
		margin-top: 50px;
	}
}

.sky-blue{
	background-color: #52a2c6 !important; 
}

.container{
	max-width: 1200px;
	width: 100%;
	.row{
		margin: 0 -15px 0;
		.col{
			padding: 0 15px;
		}
	}
}

.had-container{
	.row{
		margin-bottom: 0px;
	}
}

.contents {
	margin-bottom: 100px;
	>.container {
		>.row {
			>.col {
				padding: 0px;
			}
		}
	}
}

.clear-fix {
  	clear: both;
  	&:before {
    	display: table;
    	content: " ";
  	}
  	&:after {
    	display: table;
    	content: " ";
    	clear: both;
  	}
}
		
.icons{
	color: $primary-color;
	display: inline-block;
}

.default{
	background-color: #dfd9d8 !important;
}

.warning{
	background-color: #ff5e2b; 
}

.error{
	background-color: #fa285e; 
}

.success{
	background-color: #33c7a9; 
}

.border{
	border: 1px solid #95c3d8;
	@include border-radius(5px);
}

.hide{
	display: none !important;
}

.show{
	display: block !important;
}

.buttons button {
    margin: 0 5px;
    text-transform: capitalize;
}

.field-group input:-webkit-autofill, 
.field-group textarea:-webkit-autofill, 
.field-group select:-webkit-autofill {
    background-color: transparent !important;
    background-image: none !important;
    color: $primary-color !important;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-wrapper {
  	span.caret {
    	text-indent: -99999px;
    	background: url(../img/sprite.png) no-repeat -2px -47px;
    	width: 15px;
  	}
  	input.select-dropdown {
    	font-size: $font-13;
    	border-bottom: 1px solid #dadada;
  	}
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
    background-color: #def0f7;
    background-image: none;
    color: rgb(0, 0, 0);
}

.bullet {
    height: 12px;
    width: 12px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 8px;
}

.big-bullet{
	position: absolute;
    height: 100%;
    width: 1px;
    top: 4px;
    left: -20px;
    background-color: #a0a0a0;
    &:after{
	    width: 13px;
	    content: '';
	    height: 13px;
	    background-color: #fff;
	    border-radius: 50px;
	    position: absolute;
	    left: -6px;
	    top: 0px;
	    border: 3px solid $primary-color;
    }
    &.red-bullet{
    	&:after{
    		border: 3px solid $red;
    	}
    }
    &.blue-bullet{
    	&:after{
    		border: 3px solid $blue;
    	}
    }
    &.cyen-bullet{
    	&:after{
    		border: 3px solid $cyen;
    	}
    }
    &.teal-bullet{
    	&:after{
    		border: 3px solid $teal;
    	}
    }
    &.indigo-bullet{
    	&:after{
    		border: 3px solid $indigo;
    	}
    }
    &.purple-bullet{
    	&:after{
    		border: 3px solid $purple;
    	}
    }
    &.green-bullet{
    	&:after{
    		border: 3px solid $green;
    	}
    }
    &.orange-bullet{
    	&:after{
    		border: 3px solid $orange;
    	}
    }
    &.lime-bullet{
    	&:after{
    		border: 3px solid $lime;
    	}
    }
    &.brown-bullet{
    	&:after{
    		border: 3px solid $brown;
    	}
    }
}

.dropdown-content{
	li{
		a, span{
			color: $primary-color;
			text-transform: capitalize;
			font-size: $font-13;
			padding: 14px 10px;
		}
	} 
}

.invoice-grid{
	.dropdown-content{
		li{
			a, span{
				text-transform: none;
			}
		}
	}
}

.wrapper {
	.progress {
    	margin: 0px;
    }
}

.modal-overlay {
    background: #f1f1f1;
}



.modal {
	background-color: $white;
	width: 700px;
	form {
		margin-bottom: 50px;
	}
	h3 {
		margin-bottom: 15px;
		letter-spacing: 1px;
	}
	.modal-content {
		padding: 50px 20px;
	}
	.buttons {
		margin-bottom: 0px;
		position: relative;
	}
	.modal-footer {
		.btn {
			float: none;
			margin: 0 6px;
		}
	}
	&.modal-fixed-footer {
		height: auto;
		max-height: 85%;
		transform: scaleX(1) !important;
		top: 5% !important;
		.modal-content {
			position: relative;
			height: 100%;
		}
	}
	.modal-close {
	    position: absolute;
	    right: 35px;
	    top: 20px;
	    height: 20px;
	    width: 20px;
	    border: none;
	    background: url(../img/sprite.png) no-repeat -118px -136px;
	    z-index: 2;
	}
}

#modal2{
	.select-wrapper{
		input{
			text-transform: capitalize;
		}
	}
}

span.error-message{
	position: absolute;
    bottom: -40px;
    width: 100%;
    left: 0;
    text-align: center;
    color: #ff4e16;
}

.btn {
	text-transform: capitalize;
	box-shadow: none;
	border-radius: 3px;
	padding: 0 20px;
	font-size: $font-14;
	font-family: $primary-font;
	font-weight: 600;
	&:hover {
		box-shadow: none;
	}
	&.split-btn {
		padding: 0 17px 0 50px;
		position: relative;
		&:after {
			position: absolute;
			content: '';
			left: 40px;
			top: 0px;
			width: 1px;
			height: 100%;
			background: rgba(0, 0, 0, 0.2);
		}
	}
	&:disabled {
		background-color: #bdbdbd !important;
		box-shadow: none;
		color: #ffffff !important;
		cursor: default;
	}
	&.select-button {
		padding: 0 35px 0 13px;
		position: relative;
		box-shadow: none;
		&:hover {
			padding: 0 35px 0 13px;
			position: relative;
		}
		&:after {
			background: url(../img/sprite.png) no-repeat -2px -47px;
			content: '';
			position: absolute;
			top: 14px;
			right: 14px;
			height: 10px;
			width: 12px;
		}
	}
	&.btn-orange{
		background-color: $btn-general;
	}
	&.btn-dark-orange{
		background-color: $btn-cancle;
		&:hover{
			background-color: $btn-cancle-hover;
		}
	}
	&.btn-green{
		background-color: $green;
		padding: 0 27px;
		&:hover{
			background-color: $green-hover;
		}
	}
}

.btn-toggle{
	text-align: right;
    margin-bottom: 20px;
    overflow: hidden;
    margin-right: 5px;
    .btn-one{
	    border-top-right-radius: 0px;
	    border-bottom-right-radius: 0px;
	    background: #f7f8f9;
	    color: $primary-color;
	    border: 1px solid $blue;
	    &.active{
	    	background: $blue;
	    	color: $white;
	    }
    }
    .btn-two{
	    border-top-left-radius: 0px;
	    border-bottom-left-radius: 0px;
	    background: #f7f8f9;
	    color: $primary-color;
	    margin-left: -4px;
	    border: 1px solid $blue;
	    &.active{
	    	background: $blue;
	    	color: $white;
	    }
    }
}

.btn-large {
	box-shadow: none;
	&:hover {
		box-shadow: none;
	}
}

.help-block{
	font-size: 14px;
    color: #cf2d2d;
    font-style: italic;
    strong{
    	font-weight: 600;
    }
}

input:not([type]):focus:not([readonly]), 
input[type=text]:focus:not([readonly]), 
input[type=password]:focus:not([readonly]), 
input[type=email]:focus:not([readonly]), 
input[type=url]:focus:not([readonly]), 
input[type=time]:focus:not([readonly]), 
input[type=date]:focus:not([readonly]), 
input[type=datetime]:focus:not([readonly]), 
input[type=datetime-local]:focus:not([readonly]), 
input[type=tel]:focus:not([readonly]), 
input[type=number]:focus:not([readonly]), 
input[type=search]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #3949ab;
    box-shadow: 0 1px 0 0 #3949ab;
}

@-webkit-keyframes scale-up-center{
	0%{
		-webkit-transform:scale(.5);
		transform:scale(.5)
	}
	100%{
		-webkit-transform:scale(1);
		transform:scale(1)
	}
}
@keyframes scale-up-center{
	0%{
		-webkit-transform:scale(.5);
		transform:scale(.5)
	}
	100%{
		-webkit-transform:scale(1);
		transform:scale(1)
	}
}

.alert-wrapper{
	text-align: center;
    position: absolute;
    width: 100%;
    top: 100px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: none;
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	-moz-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    .alert-message{
		padding: 0 50px;
	    height: 50px;
	    display: inline-block;
	    line-height: 50px;
	    border-radius: 5px;
	    p{
			font-size: 14px;
			font-family: 'Open Sans', sans-serif;
			color: #fff;
			margin: 0px;
		}
	}
}

input[type=text],
input[type=email] {
	&:focus {
		&:not([readonly]) {
			+ {
				label {
					color: $label-color;
				}
			}
		}
	}
}

.border-right {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 5px;
	height: 100%;
	background: #a9aec3;
}

.notes{
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		border-width: 0 40px 35px 0;
		border-style: solid;
		border-color: #fff #fff #bababb #bababb;
		background: #bababb;
		display: block;
		width: 0;
	}
	&.note-orange{
		background-color: $orange;
		border-left: 2px solid #d06d50;
		&:before{
			border-color: #fff #fff #d06d50 #d06d50;
		}
	}
	&.note-blue{
		background-color: $blue;
		border-left: 2px solid #186db8;
		&:before{
			border-color: #fff #fff #186db8 #186db8;
		}
	}
	&.note-red{
		background-color: $red;
		border-left: 2px solid #af2c29;
		&:before{
			border-color: #fff #fff #af2c29 #af2c29;
		}
	}
	&.note-green{
		background-color: $green;
		border-left: 2px solid #2f6f32;
		&:before{
			border-color: #fff #fff #2f6f32 #2f6f32;
		}
	}
	&.note-teal{
		background-color: $teal;
		border-left: 2px solid #006359;
		&:before{
			border-color: #fff #fff #006359 #006359;
		}
	}
	&.note-light-teal{
		background-color: $light-teal;
		border-left: 2px solid #279c85;
		&:before{
			border-color: #fff #fff #279c85 #279c85;
		}
	}
	&.note-indigo{
		background-color: $indigo;
		border-left: 2px solid #0e1019;
		&:before{
			border-color: #fff #fff #0e1019 #0e1019;
		}
	}
	&.note-purple{
		background-color: $purple;
		border-left: 2px solid #3f2471;
		&:before{
			border-color: #fff #fff #3f2471 #3f2471;
		}
	}
	&.note-lime{
		background-color: $lime;
		border-left: 2px solid #bd8539;
		&:before{
			border-color: #fff #fff #bd8539 #bd8539;
		}
	}
	&.note-brown{
		background-color: $brown;
		border-left: 2px solid #4c4a43;
		&:before{
			border-color: #fff #fff #4c4a43 #4c4a43;
		}
	}
	&.note-cyen{
		background-color: $cyen;
		border-left: 2px solid #007d8c;
		&:before{
			border-color: #fff #fff #007d8c #007d8c;
		}
	}
	&.note-blue-grey{
		background-color: $blue-grey;
		border-left: 2px solid #181c2f;
		&:before{
			border-color: #fff #fff #181c2f #181c2f;
		}
	}
}



/*** TAG COLORS ***/

.tag-red{
	background-color: $tag-red !important;
}

.tag-purple{
	background-color: $tag-purple !important;
}

.tag-indigo{
	background-color: $tag-indigo !important;
}

.tag-blue{
	background-color: $tag-light-blue !important;
}

.tag-green{
	background-color: $tag-green !important;
}

.tag-light-green{
	background-color: $tag-light-green !important;
}

.tag-orange{
	background-color: $tag-orange !important;
}

.tag-teal{
	background-color: $tag-teal !important;
}

.tag-cyan{
	background-color: $tag-cyen !important;
}

.tag-brown{
	background-color: $tag-brown !important;
}

.tag-grey{
	background-color: $tag-blue-grey !important;
}

.tag-lime{
	background-color: $tag-lime !important;
}

/************************************************
Background colors
*************************************************/

.red{
	background-color: $red !important;
}

.red-text{
	color: $red !important;
}

.blue{
	background-color: $blue !important;
	&:hover{
		background-color: $blue-hover !important;
	}
}

.blue-text{
	color: $blue !important;
}

.light-blue{
	background-color: $light-blue !important;
}

.light-blue-text{
	color: $light-blue !important;
}

.cyen{
	background-color: $cyen !important;
}

.cyen-text{
	color: $cyen !important;
}

.green{
	background-color: $green !important;
	&:hover{
		background-color: $green-hover !important;
	}
}

.green-text{
	color: $green !important;
}

.light-green{
	background-color: $light-green !important;
}

.light-green-text{
	color: $light-green !important;
}

.teal{
	background-color: $teal !important;
}

.light-teal{
	background-color: $light-teal !important;
}

.indigo{
	background-color: $indigo !important;
}

.purple{
	background-color: $purple !important;
}

.light-purple{
	background-color: $light-purple !important;
}

.lime{
	background-color: $lime !important;
}

.orange{
	background-color: $orange !important;
}

.brown{
	background-color: $brown !important;
}

.blue-grey{
	background-color: $blue-grey !important;
}

.white{
	background-color: $white !important;
}

/************************************************
Timeline colors
*************************************************/

.timeline{
	height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    top: 3px;
    right: -40px;
    z-index: 3;
    &:before{
    	content: '';
    	width: 1px;
	    background: #b0b1b2;
	    position: absolute;
	    top: 14px;
	    height: 70px;
	    left: 7px;
	    z-index: -1;
    }
    &:after{
    	content: '';
    	height: 7px;
	    width: 7px;
	    display: inline-block;
	    border-radius: 50px;
	    background: #fff;
	    position: absolute;
	    top: 4px;
	    left: 4px;
	    z-index: 3;
    }
}

/************************************************
MODAL SCROLL BAR
*************************************************/

.modal::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.modal::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}

.modal::-webkit-scrollbar-thumb{
	border-radius: 10px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #2492c4;
}


.spinner {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 5px;
	transition: all 0.3s ease-in-out;
	border-radius: 50%;
	background: transparent;
	border-top: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 2px solid transparent;
	border-left: 2px solid transparent;
	animation: loading 0.5s infinite linear;
}
@keyframes loading {
  	to {
    	transform: rotate(360deg);
  	}
}
@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

.saved{
	.checkmark{
  		display: inline-block;
  	}
}

.checkmark{
  	display: none;
  	margin-left: 3px;
	&:after{
		content: '';
		display: block;
		width: 7px;
	    height: 14px;
	    margin-left: 5px;
		border: solid #fff;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
	}
}
/*
.select-wrapper .dropdown-content{
	height: 200px;
}*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $primary-color;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $primary-color;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $primary-color;
}
:-moz-placeholder { /* Firefox 18- */
  color: $primary-color;
}

.send-mail{
	margin-bottom: 20px;
}

.showbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    right: 0;
    padding: 5%;
    background: rgba(241, 241, 241, 0.6);
    z-index: 999;
}

.loader {
	position: relative;
	margin: 0 auto;
	width: 50px;
	height: 50px;
}

.loader:before {
	content: '';
	display: block;
	padding-top: 100%;
}

.circular {
	animation: rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}
@keyframes color {
	100%,
	0% {
		stroke: #d62d20;
	}
	40% {
		stroke: #0057e7;
	}
	66% {
		stroke: #008744;
	}
	80%,
	90% {
		stroke: #ffa700;
	}
}

.loader-wrapper{
	display: table-cell;
    vertical-align: middle;
}

.showbox-wrapper{
	display: none;
}

#fileSelected{
	opacity: 0;
	visibility: hidden;
}

#image-cropper{
	.buttons{
		margin-top: 40px;
	}
}

.jcrop-active{
	width: 100% !important;
    height: auto !important;
}

.error-log{
	display: block;
    margin-top: 10px;
    color: #f13a2d;
}

.test-mail{
	margin-top: 10px;
    display: block;
}

#show-invoice-template-preview{
	width: 90%;
	top: 10% !important;
	max-height: 80%;
}

#add-new-task-form{
	margin: 0px;
	.buttons{
		margin-top: 40px;
	}
}

.chip-container{
	padding-top: 20px;
	.chip{
		color: rgba(255, 255, 255, 1);
		background-color: #b9b9b9;
	}
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
   display: none;
}

.pace .pace-progress {
  	background: #1e88e5;
  	position: fixed;
  	z-index: 2000;
  	top: 0;
  	right: 100%;
  	width: 100%;
  	height: 3px;
}

.select-wrapper input.select-dropdown:disabled{
	color: #3a3a3a;
    border-bottom: 1px solid #dadada;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


[type="checkbox"] + label{
	margin-top: 10px;
    font-size: $font-13;
	color: $primary-color;
    height: 16px;
    line-height: 16px;
    padding-left: 30px;
}

[type="radio"]:checked + label:after, 
[type="radio"].with-gap:checked + label:after{
	background-color: #679436 !important;
	border: 2px solid #679436 !important;
}

[type="checkbox"].filled-in:not(:checked) + label:after{
	width: 16px;
    height: 16px;
}
[type="checkbox"].filled-in:checked + label:after{
	border: 2px solid #679436;
    background-color: #679436;
    width: 16px;
    height: 16px;
}

[type="checkbox"].filled-in:not(:checked) + label:before{
	left: 2px;
    top: 5px;
}

[type="checkbox"].filled-in:checked + label:before{
	width: 6px;
    height: 11px;
}

.send-test-mail{
	margin-top: 20px;
}

.left-border{
	border-left: 1px solid #95c3d8;
}

.settings-tabs{
	.left-border{
		padding-left: 40px;
	}
}


.task-type-wrapper{
	margin-top: 20px;
	h5{
		float: left;
	    padding: 10px 15px 0 0;
	    font-size: 13px;
	}
	.type-radio-list{
		float: left;
		.widget-radio{
			padding: 6px 30px 6px 9px;
		    float: left;
		    margin-left: -1px;
		    text-transform: none;
		    cursor: pointer;
		    font-size: 14px;
		    font-weight: 600;
		    position: relative;
		    color: rgba(38,41,44,0.64);
		    text-decoration: none;
		    display: inline-block;
		    background: #eee;
		    white-space: nowrap;
		    border: 1px solid #c2c8cd;
		    &.active{
		    	background: #fff;
		    }
		    span.icon{
		    	position: absolute;
		    	right: 5px;
		    	i{
		    		font-size: 20px;
		    	}
		    }
		}
	}
}

.invalid-message{
	position: absolute;
    width: 50%;
    left: 25%;
    display: none;
    background: #e5e8e9;
    border: 1px solid #95c3d8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .message{
    	display: block;
    	padding: 15px 20px;
    	i{
    		float: left;
    		color: #F57F17;
    	}
    	span{
    		padding: 3px 0 0 20px;
    		float: left;
    		text-transform: none;
    		display: inline-block;
    	}
    }
}

#tutorial .flex-direction-nav{
	a{
		text-indent: -99999px;
		font-size: 0px;
		&:before{
			display: none;
		}
	}
	.flex-prev {
    	left: 10px;
    	background: #1e88e5 url(../img/arrow.svg) no-repeat -26px 4px;
	} 
	.flex-next {
	    right: 10px;
	    text-align: right;
	    background: #1e88e5 url(../img/arrow.svg) no-repeat 6px 4px;
	}
}


.deals-wrapper{
	margin-top: 10px;
}

.deal-stage-wrapper{
	.deal-stages{
		float: left;
		border: 1px solid #95c3d8;
		margin-left: -1px;
		&:first-child{
			border-top-left-radius: 4px;
    		border-bottom-left-radius: 4px;
		}
		&:last-child{
			border-top-right-radius: 4px;
    		border-bottom-right-radius: 4px;
		}
		label{
			padding: 8px 12px;
		    height: auto;
		    text-transform: capitalize;
		    font-size: $font-13;
		    font-weight: 600;
		    color: #3a3a3a;
		    &:before,
		    &:after{
		    	display: none;
		    }
		} 
		input:checked{
			+ label{
				background: $blue;
    			color: #fff;
			}
		}
	}
}

.overlay{
	position: relative;
	&:after{
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0.8);
		content: '';
		top: 0px;
		left: 0px;
	}
}