.header{
	padding: 0px 45px;
	background-color: #ffffff;
	border-bottom: 1px solid #95c3d8;
	position: fixed;
	width: 100%;
	z-index: 995;
	top: 0;
	left: 0;

	nav.top-menu {
		height: 84px;
	    line-height: 84px;
	    background-color: transparent;
	    box-shadow: none;
	    ul{
	    	text-align: center;
	    	li{
	    		line-height: 40px;
				padding: 0px 0;
				float: none;
				display: inline-block;
				&.active{
					background-color: transparent;
				}
				a{
					padding: 30px 24px;
					font-size: $font-14;
					font-weight: 600;
					font-family: $primary-font;
					color: $primary-dark-color;
					position: relative;
					&:after{
						background: #0483bc;
						height: 2px;
						width: 100%;
						bottom: 0px;
						left: 0px;
						content: '';
						position: absolute;
						opacity: 0;
						transition: all 0.3s ease-in-out;
					}
					&:hover, &.active{
						color: $blue-text;
						text-decoration: none;
						background-color: transparent;
						&:after{
							opacity: 1;
							transition: all 0.3s ease-in-out;
						}
					}
				}
	    	}
	    }
	}

	.right-nav {
	    float: right;
    	width: 100%;
	    .search {
		    display: inline-block;
		    position: relative;
		    .search-icon {
			    background-color: transparent;
			    border: none;
			    background-image: url(../img/sprite.png);
			    background-repeat: no-repeat;
			    background-position: -34px 6px;
			    height: 40px;
			    width: 40px;
			}
		}
		.notification {
			display: inline-block;
		    position: relative;
		    float: left;
		    padding: 28px 0;
		    .notify-icon {
			    background-color: transparent;
			    border: none;
			    background-image: url(../img/sprite.png);
			    background-repeat: no-repeat;
			    background-position: -34px -34px;
			    height: 40px;
			    width: 40px;
			    position: relative;
			    opacity: 1;
			    span {
				    height: 20px;
				    width: 20px;
				    border-radius: 20px;
				    border: 2px solid #fff;
				    display: inline-block;
				    position: absolute;
				    right: 2px;
				    text-align: center;
				    font-size: $font-10;
				    color: #fff;
				    top: 2px;
				    background: #ed1c24;
				}
				&.notifyhide {
				    opacity: 0;
				}
			}
			.search-cross {
			    background-color: transparent;
			    border: none;
			    background-image: url(../img/sprite.png);
			    background-repeat: no-repeat;
			    background-position: -74px -159px;
			    height: 40px;
			    width: 40px;
			    position: relative;
			    opacity: 0;
			    position: absolute;
			    top: 2px;
			    left: 0;
			    z-index: -1;
			    &.search-cross-show{
			    	opacity: 1;
    				transition: all 0.3s ease-in-out;
    				z-index: 2;
			    }
			}
		}

		
	}

	.logo-wrapper{
	    /*height: 84px;*/
	    padding: 10px 0;
	    overflow: hidden;
	    a{
	    	display: inline-block;
	    }
	    img{
	    	display: block;
		    /*width: 100%;*/
		    max-width: 100%;
		    height: 75px;
	    }
	}

	.search-show{
		position: relative;
		.serach-wrapper {
		    transition: all 0.3s ease-in-out;
		    position: absolute;
		    max-width: 784px;
		    width: 100%;
		    background: #fff;
		    z-index: 999;
		    top: 20px;
		    left: 0;
		    display: none;
		    -webkit-transform: translateZ(0);
		    transform: translateZ(0);
		    -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		    -moz-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		    animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		    &.serach-wrapper-open {
			    display: block;
			    transition: all 0.3s ease-in-out;
			}
			.search-bar {
			    padding-left: 30px;
			    .input-field {
				    margin-top: 0px;
				    .file-path-wrapper {
					    padding-right: 140px;
					    padding-left: 0px;
					    position: relative;
					    &:before {
						    content: '';
						    position: absolute;
						    background: #1cc1b6;
						    width: 1px;
						    height: 34px;
						    top: 7px;
						    left: 0;
						}
					    input {
						    &:focus {
							    border-bottom: none;
							    box-shadow: none;
							}
						}
					}
					.search-cat {
					    background: transparent;
					    color: $primary-color;
					    position: absolute;
					    top: 0;
					    right: 20px;
					    width: 100px;
					}
				}
				input {
				    padding-left: 10px;
				    border-bottom: none;
				    padding-left: 10px;
				    font-weight: 700;
				    font-size: $font-18;
				    color: $primary-color;
				    position: relative;
				    &.select-dropdown {
					    font-weight: 500;
					    font-size: $font-14;
					    padding-left: 0;
					}
					&.valid {
					    box-shadow: none;
					}
				}
				.searchcat{
					background: transparent;
				    color: $primary-color;
				    position: absolute;
				    top: 0;
				    right: 20px;
				    width: 100px;
				}
			}
			.search-view {
			    border: 1px solid #95c3d8;
			    border-top: 2px solid #0483bc;
			    padding: 20px 20px 70px 20px;
			    .search-lists {
				    float: left;
				    width: 50%;
				    h2 {
					    font-size: $font-14;
					    color: $blue-text;
					    font-weight: 700;
					    letter-spacing: 1px;
					    margin-bottom: 30px;
					}
					ul{
						li{
							margin-bottom: 30px;
							a{
								color: $primary-color;
							    font-size: $font-14;
							    text-decoration: none;
							    font-family: $primary-font;
							    padding-right: 25px;
							    position: relative;
							    &:after{
								    content: '';
								    position: absolute;
								    right: 0;
								    top: 0;
								    width: 20px;
								    height: 20px;
								    background: url(../img/sprite.png) no-repeat -47px -169px;
							    }
							}
						}
					}
					&.quick-links{
						ul{
							li{
								a{
									font-family: $primary-font;
								    font-size: $font-14;
								    color: $blue-text;
								    padding: 0px;
								    font-weight: 600;
								    &:after{
								    	display: none;
								    }
								}
							}
						}
					}
				}
			}
		}
	}

	.profile{
		float: left;
		margin-right: 5px;
	}
}

.notification-wrapper {
    position: fixed;
    top: 0px;
    border-radius: 0px;
    z-index: 999;
    background: #fff;
    width: 300px;
    right: -300px;
    height: 100%;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    .chips{
    	position: absolute;
	    right: 15px;
	    top: 7px;
	    z-index: 5;
	    display: inline-block;
	    font-size: 10px;
	    padding: 0 10px;
	    line-height: 22px;
	    cursor: pointer;
    }
    ul{
    	margin-top: 40px;
    	border-top: 1px solid #f2f2f2;
    	li{
    		border-bottom: 1px solid #f2f2f2;
			padding: 10px;
			a{
				font-size: $font-13;
			    color: #4d4d4d;
			    line-height: 1;
			}
    	}
    }
    &.notification-open {
	    opacity: 1;
	    right: 0px;
	    visibility: visible;
	    transition: all 0.3s ease-in-out;
	    -webkit-animation: notification-open 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: notification-open 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
}

.profile {
	padding: 27px 0;
	position: relative;
	a{
		float: left;
	}
	.profile-pic{
		float: left;
		margin-right: 5px;
		border: 2px solid #95c3d8;
		height: 45px;
		width: 45px;
		line-height: 45px;
		border-radius: 50px;
		overflow: hidden;
		img{
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
	.profile-info{
		float: left;
		a{
			display: inline-block;
		}
		h5{
			font-style: italic;
		    color: $primary-dark-color;
		    position: relative;
		    line-height: 44px;
		    padding-right: 20px;
		    .dwn-arrow{
				position: absolute;
			    right: 0px;
			    top: 18px;
			    height: 10px;
			    width: 15px;
			    background: url(../img/sprite.png) no-repeat -2px -25px;
			}
		}
	}
	.profile-usermenu {
		width: 200px;
		padding: 20px;
		position: absolute;
		display: none;
		right: 0px;
		background: #fff;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		ul {
			li {
				padding-bottom: 10px;
				&:last-child {
					padding-bottom: 0px;
				}
				a {
					font-size: 13px;
					color: $primary-color;
					float: none;
					display: block;
					line-height: 20px;
					&:hover, &.active {
						color: #6299f6;
					}
				}
			}
		}
	}
}


@-webkit-keyframes scale-up-hor-center{
	0%{
		-webkit-transform:scaleX(.4);
		transform:scaleX(.4)
	}
	100%{
		-webkit-transform:scaleX(1);
		transform:scaleX(1)
	}
}
@keyframes scale-up-hor-center{
	0%{
		-webkit-transform:scaleX(.4);
		transform:scaleX(.4)
	}
	100%{
		-webkit-transform:scaleX(1);
		transform:scaleX(1)
	}
}


.bottom-header {
    padding: 22px 0;
    .btn{
    	margin-right: 15px;
    	&:last-child{
    		margin-right: 0px;
    	}
    }
}

@-webkit-keyframes notification-open {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes notification-open {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
