
.mobile-menu{
	a.button-collapse{
		z-index: 998;
	    display: inline-block;
	    position: absolute;
	    top: 34px;
    	left: 15px;
    	padding: 5px;
	}
	.profile{
		padding: 20px 20px 40px;
		a{
			padding: 0px;
			&:hover{
				background: transparent;
			}
		}
	}
}

.header{
    position: absolute;
    .right-nav{
        padding: 27px 0;
        text-align: right;
        .notification-wrapper{
            right: -260px;
            &.notification-open{
                right: 10px;
                display: block;
                opacity: 1;
            }
        }
    } 
    .logo-wrapper{
        height: auto;
    }
}

.stiky-menu-icons{
	position: fixed;
    width: 100%;
    height: 60px;
    background: #000;
    bottom: 0px;
    z-index: 99;
    text-align: center;
    ul{
    	padding: 12px 0 0 0;
    	margin: 0px;
    	li{
    		padding: 0px;
    		margin: 0px;
    		list-style-type: none;
    		display: inline-block;
    		width: 19%;
    		a{
    			background: url(../img/sprite.png) no-repeat 0 0;
    			height: 36px;
    			width: 36px;
    			text-indent: -99999px;
    			display: block;
    			margin: 0 auto;
    			opacity: 0.7;
    			&.contact-icon{
    				background-position: -1px -474px;
    			}
    			&.deal-icon{
    				background-position: -59px -474px;
    			}
    			&.task-icon{
    				background-position: -7px -530px;
    			}
    			&.invoice-icon{
    				background-position: -60px -530px;
    			}
    			&.estimate-icon{
    				background-position: -110px -474px;
    			}
    			&:hover{
    				opacity: 1;
    			}
    		}
    	}
    }
}