.invoice{
	padding-top: 80px;
}

.view-invoice{
	#flip{
		padding: 20px 10px;
	    text-align: center;
	    background-color: $green;
	    border: solid 1px $green;
	    cursor: pointer;
	    display: block;
	    font-size: 14px;
	    font-weight: 600;
	    font-family: "Open Sans", sans-serif;
	    color: $white;
	    position: relative;
	}
	#panel{
		border-bottom: 1px solid #95c3d8;
		background: $white;
		display: none;
		#tabs{
			ul.ui-tabs-nav{
		 	    padding: 0 25px;
		 	    margin-bottom: 10px;
			 	li{
			 		width: 25%;
			 	}
			}
			.activity-list{
				.activities{
					&:last-child{
						.timeline{
							&:before{
								display: none;
							}
						}
					}
					.timeline{
						right: auto;
						top: 25px;
						left: 0px;
						&:before{
							height: 50px;
						}
					}
					p{
						font-size: $font-15;
						font-family: $primary-font;
						color: $primary-color;
						padding-left: 35px;
					}
				}
			}

			div.remindertop{
				padding-bottom: 40px;
				border-bottom: 1px solid #c8c8c8;
				p{
					font-size: 14px;
				    font-weight: 600;
				    font-family: "Open Sans", sans-serif;
				    color: #616161;
				    padding-right: 20px;
				    display: inline-block;
				}
				a.call-to-remind{
					background-color: #ff7043;
				    text-transform: none;
				    box-shadow: none;
				    border-radius: 5px;
				    padding: 6px 20px;
				    font-size: 14px;
				    font-family: "Open Sans", sans-serif;
				    font-weight: 600;
				    display: inline-block;
				    color: #fff;
				}
			}

			div.reminderbottom{
				padding: 40px 0 100px 0;
				p{
					font-size: 14px;
				    font-weight: 600;
				    font-family: "Open Sans", sans-serif;
				    color: #616161;
				    padding-right: 20px;
				    display: inline-block;
				}
			}
		}

		div.tabs-wrapper{
			padding: 20px 50px;
		}

		a.call-to-close{
			position: absolute;
			right: 0;
		    background: url(../img/sprite.png) no-repeat -79px -159px;
		    width: 40px;
		    height: 40px;
		}
	}
}

.invoice-wrapper{
	background: $white;
	padding: 60px 20px;
	margin-top: 80px;
	.input-field{
		&.date-field{
			a.settings{
				background: url(../img/sprite.png) no-repeat -119px -246px;
				height: 20px;
			    width: 20px;
			    display: inline-block;
			    position: absolute;
			    right: 25px;
			    top: 11px;
			    z-index: 9;
			}
			&.date-settings{
				span{
					right: 25px;
				}
				a.settings{
					right: 0px;
				}
			}
		}
	}
	.company-logo{
		margin-bottom: 50px;
	}
	.create-new{
		a.add-input{
			margin-top: 8px;
			span{
				margin-left: 10px;
			}
		}
	}
}

						
.select-terms{
	label{
		font-size: $font-15;
		font-weight: 600;
		color: $primary-color;
	}
}

.input-area{
	border-bottom: 1px solid #dadada;
	margin: 14px 0 10px 0;
    padding-right: 30px;
	label{
		float: left;
		width: 50%;
		height: 40px;
		line-height: 40px;
		font-size: $font-13;
		color: $primary-color;
	}
	input{
		float: left;
		width: 50%;
		margin-bottom: 0px;
		height: 40px;
		line-height: 40px;
		text-align: right;
		border-bottom: none !important;
		box-shadow: none;
		font-size: $font-13;
		color: $primary-color;
	}
	.select-wrapper{
		input{
			text-align: left;
		}
	}
}

.text-areas{
	textarea{
		border-bottom: 1px solid #dadada;
	    border-top: none;
	    border-right: none;
	    border-left: none;
	    padding: 10px 0 0 0;
	    margin-bottom: 10px;
	    outline: none;
	}
	.message{
		margin-top: 8px;
		position: relative;
		span{
			background: url(../img/sprite.png) no-repeat -66px -357px;
			position: absolute;
			top: 15px;
			right: 12px;
			width: 17px;
			height: 15px;
			display: inline-block;
			z-index: 9;
			cursor: pointer;
		}
	}
	.settings{
		position: relative;
		margin-top: 8px;
		span{
			/*background: url(../img/sprite.png) no-repeat -119px -246px;*/
			position: absolute;
			top: 14px;
			right: 10px;
			width: 20px;
    		height: 20px;
			display: inline-block;
			z-index: 9;
			/*cursor: pointer;*/
		}
	}
}



.quotes-grid{
	position: relative;
	.content-table-data{
		width: 17%;
		overflow: visible;
		&:first-child{
			width: 17% !important;
		}
		&:last-child{
			width: 15% !important;
		}
		ul.quote-actions {
			padding: 9px 0 0 0;
			margin: 0;
			height: 100%;
			li {
				height: 35px;
				width: 35px;
				list-style-type: none;
				display: inline-block;
				a {
					display: block;
					height: 100%;
					text-indent: -99999px;
					background: url(../img/sprite.png) no-repeat 0 0;
					&.quote-edit {
						background-position: -77px -384px;
					}
					&.quote-pdf {
						background-position: -4px -383px;
					}
					&.quote-mail {
						background-position: -97px -345px;
					}
					&.quote-delete {
						background-position: -40px -384px;
					}
				}
			}
		}
	}
}

.invoice-grid{
	padding: 50px 0px;
	.content-table-body{
		.content-table-data{
			border-right: 1px solid #95c3d8;
		}
	}
	.content-table-data:nth-child(2) {
		width: 10%;
	}
	.content-table-data{
		width: 17.5%;
		overflow: visible;
		&:first-child{
			width: 45% !important;
		}
		&:last-child{
			width: 10% !important;
			border-right: none;
			text-align: right;
		}
		&.input-field{
			margin: 0px;
			input{
		    	border: none;
		    	text-transform: none;
			}
		}
		.add-input,
		.remove-input{
			text-align: center;
			outline: none;
		}
		.input-field{
			margin: 0px;
			input{
		    	border: none;
		    	text-transform: none;
			}
		}
		textarea{
	    	border: none;
	    	line-height: 22px;
		    height: 50px;
		    overflow: auto;
		    outline: none;
		    text-transform: capitalize;
		    padding-top: 12px;
		}
		input{
			margin: 0px;
			height: 48px;
		    line-height: 48px;
		    border: none;
		    text-transform: capitalize;
		    font-size: $font-13;
		    background: transparent;
		    outline: none;
		    &:focus:not([readonly]){
	    	    border-bottom: none;
				box-shadow: none;
		    }
		}
	}
	.add-table-item{
		max-width: 400px;
	    width: 100%;
	    margin: 20px auto;
	    border-radius: 3px;
	    border: 1px solid #95c3d8;
	    text-align: center;
	    a{
	    	font-family: $primary-font;
	    	font-size: $font-16;
	    	display: block;
	    }
	    span{
	    	margin-left: 8px;
	    }
	}
	.content-table-body{
		.input-field{
			.select-wrapper{
				width: 50px;
    			display: inline-block;
			}
		}
	}
}



.filupp > input[type="file"]{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.filupp {
	position: relative;
	display: block;
	margin: 14px 0 10px 0;
	font-size: $font-13;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: $primary-color;
	cursor: pointer;
	border-bottom: 1px solid #dadada;;
}

.filupp:before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border-top: 0;
	background: url(../img/sprite.png) no-repeat -81px -239px;
	text-align: center;
}

.filupp-file-name{
	width: 75%;
}

div.company-logo {
	border-radius: 3px;
	border: 2px solid #0482bb;
	a {
		display: block;
		img {
			width: 100%;
		}
	}
}

.chips{
	min-height: auto;
    margin-bottom: 0;
    padding: 0 15px;
    line-height: 24px;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    border: none;
    font-size: $font-12;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}

.invoice-error{

}

.invoice-wrapper{
	.buttons{
		padding-top: 50px;
		position: relative;
		.invoice-error{
			position: absolute;
		    bottom: -40px;
		    width: 100%;
		    text-align: right;
		    left: 0;
		    font-size: 14px;
		}
	}
}


.list-search{
	position: absolute;
    right: 0;
    overflow: hidden;
    width: 300px;
    top: -60px;
    .search-icon{
    	background-color: transparent;
	    border: none;
	    background-image: url(../img/sprite.png);
	    background-repeat: no-repeat;
	    background-position: -34px 6px;
	    height: 40px;
	    width: 40px;
	    z-index: 5;
	    right: 0;
	    position: absolute;
    }
    input.search{
    	transform: translateX(300px);
    	transition: all 0.3s ease-in-out;
		margin: 0px;
		opacity: 0;
		&.search-open{
			opacity: 1;
			transform: translateX(0px);
    		transition: all 0.3s ease-in-out;
		}
    }
}
