
.login-wrapper {
    background: #fff url(../img/background-welcome.jpg) no-repeat left bottom;
    background-size: cover;
    height: 100vh;
    .login-inner-content-wrapper{
		display: table;
		width: 100%;
		height: 100vh;
		.login-inner-content{
			display: table-cell;
			vertical-align: middle;
			.login-inner{
				background: #fff;
			    position: relative;
			    overflow: hidden;
			    border-radius: 5px;
			    .login-left-side{
					background: #fff;
					width: 60%;
					text-align: center;
					padding: 160px 20px;
					position: relative;
					h2{
						text-transform: uppercase;
						font-family: $primary-font;
						margin-bottom: 50px;
					}
					h3{
						font-family: $primary-font;
						font-size: $font-15;
						margin-bottom: 70px;
						font-weight: 400;
					}
					form{
						text-align: left;
						.wrong-pass{
						    font-size: $font-14;
						    color: #cf2d2d;
						    font-style: italic;
						    font-weight: 600;
						    position: absolute;
						    left: 0;
						    bottom: -23px;
						}
					}
					.submit-button{
						margin-top: 40px;
						position: relative;
						.login-error{
							display: block;
						    padding-top: 15px;
						    position: absolute;
						    width: 100%;
						    left: 0;
						    bottom: -35px;
						}
						.send-mail{
							max-width: 205px;
							width: 100%;
						}
						
					}
				}
				.login-right-side{
					width: 40%;
					position: relative;
					img{
						display: block;
						width: 100%;
					}
					.orange-overlay{
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0px;
						left: 0px;
						opacity: 0.66;
						background: #e4798f; /* Old browsers */
						background: -moz-linear-gradient(top,  #f07f10 0%, #e4798f 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top,  #f07f10 0%, #e4798f 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom,  #f07f10 0%, #e4798f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f07f10', endColorstr='#e4798f',GradientType=0 ); /* IE6-9 */
					}
				}
			}
		}
	}
}

.newuser{
	text-align: center;
	padding-top: 30px;
	font-size: $font-13;
	a{
		color: $link-color;
		text-decoration: none;
		font-size: $font-13;
		font-weight: 400;
	}
}

#sendResetPasswordEmail{
	width: 205px;
}


.signin-form,
.signup-form {
	.form-layout-50{
		width: 47.5%;
	    float: left;
	    margin-right: 20px;
	}
	.sign-up-text{
		font-size: $font-14;
		line-height: 1;
		color: #4d4d4d;
		font-weight: 600;
		display: block;
		text-align: center;
		margin-bottom: 30px;
	}
}

.success-message{
	font-size: $font-13;
	line-height: 30px;
	color: #679436;
    margin-top: 20px;
    display: none;
}

.success-message-text{
	margin-top: 10px;
}

.buttons {
	margin-bottom: 25px;
	a.linkedin-button {
		line-height: 1;
		font-size: $font-13;
		font-family: $social-button-font;
		height: 40px;
		line-height: 40px;
		background: url(../img/sprite.png) no-repeat -75px 4px;
	}
	a.google-button {
		line-height: 1;
		font-size: $font-13;
		font-family: $social-button-font;
		height: 40px;
		line-height: 40px;
		background: url(../img/sprite.png) no-repeat -75px -35px;
	}
}

span.error-mark,
span.check-mark {
	opacity: 0;
	visibility: hidden;
	transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	transition: all 0.5s ease-in-out;
	position: absolute;
	right: 0;
	top: 11px;
	&:after {
		opacity: 0;
		content: '';
		height: 17px;
		width: 17px;
		display: block;
		transform: scale(0, 0);
		-moz-transform: scale(0, 0);
		-webkit-transform: scale(0, 0);
		transition: all 0.5s ease-in-out;
	}
}

span.error-mark {
	&:after {
		background: url(../img/sprite.png) no-repeat -9px -171px;
	}
}

span.check-mark {
	&:after {
		background: url(../img/sprite.png) no-repeat -28px -172px;
	}
}

div.input-field.input-invalid {
	span.error-mark {
		opacity: 1;
		visibility: visible;
		height: 18px;
		width: 18px;
		display: inline-block;
		background: #c50000;
		border-radius: 20px;
		transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transition: all 0.5s ease-in-out;
		&:after {
			opacity: 1;
			transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-webkit-transform: scale(1, 1);
			transition: all 0.5s ease-in-out;
		}
	}
}

div.input-field.input-valid {
	span.check-mark {
		opacity: 1;
		visibility: visible;
		height: 18px;
		width: 18px;
		display: inline-block;
		background: #32b232;
		border-radius: 20px;
		transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transition: all 0.5s ease-in-out;
		&:after {
			opacity: 1;
			transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-webkit-transform: scale(1, 1);
			transition: all 0.5s ease-in-out;
		}
	}
}

.signup-form-wrapper {
    opacity: 0;
    position: absolute;
    top: 60px;
    z-index: -1;
    width: 92%;
}

.signin-form .form-layout-50.email-full{
	float: none;
	transform: translate(116px, 0);
	transition: all 0.5s ease-in-out;
}

.hide-pass{
	transform: translate(460px, 0);
    position: absolute;
}