div#tabs-7{
	div.image-content{
		span.image-wrapper{
			width: 200px;
		    height: 200px;
		    display: block;
		    overflow: hidden;
		    position: relative;
		    a{
		    	display: block;
		    }
		    .file-field input[type=file]{
		    	font-size: 0px;
		    }
		}
	}
}
div.submitBtn{
	text-align: center;
}

.select-payment{
	&.stripe{
		display: none;
	}
}