
.right-side-bar {
    .more-widgets {
	    position: absolute;
	    right: 10px;
	    top: 10px;
	}
}

.widgets{
	.widgets-header {
	    position: relative;
	    .more-actions {
		    display: inline-block;
		    position: absolute;
		    right: 35px;
		    top: -2px;
		    width: 52px;
		    a{
		    	&.maximize {
				    display: none;
				}
		    }
		}
	}
	.widgets-sub-header{
		h5 {
		    color: $primary-color;
		    margin-bottom: 8px;
		    font-weight: 700;
		}
	} 
	.tasks {
	    margin-bottom: 10px;
	    padding: 10px 20px;
	    margin: 0 -20px 10px;
	    border-top: 1px solid transparent;
	    border-bottom: 1px solid transparent;
	    transition: all 0.3s ease-in-out;
	}
}

.deals {
    margin-bottom: 20px;
	.progress-bar-wrapper{
		height: 5px;
	    position: relative;
	    width: 100%;
	    margin-bottom: 10px;
	    .progress-bar {
		    position: absolute;
		    height: 100%;
		    width: 100%;
		    border-radius: 10px;
		    background: #92283f;
		    background: -moz-linear-gradient(left, #92283f 0%, #92283f 0%, #ff695d 50%, #ffca6e 100%, #539fe1 100%);
		    background: -webkit-linear-gradient(left, #92283f 0%,#92283f 0%,#ff695d 50%,#ffca6e 100%,#539fe1 100%);
		    background: linear-gradient(to right, #92283f 0%,#92283f 0%,#ff695d 50%,#ffca6e 100%,#539fe1 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92283f', endColorstr='#539fe1',GradientType=1 );
		}
	}
	.deal-title, .deal-complete {
	    font-size: $font-12;
	    line-height: 1;
	    font-family: $primary-font;
	}
}

.address-section,
.country{
	&.input-field{
		margin-top: 0px;
	}
	.select-wrapper{
		margin-bottom: 20px;
	}
}

/**** Calendar ****/

.calender-wrapper {
	padding: 0 0px;
	.calender {
		border-radius: 0px;
		position: relative;
		.month {
			overflow: hidden;
			display: block;
			width: 100%;
			height: auto;
			background: $blue;
			padding: 30px 15px;
			aside {
				float: left;
				width: 40%;
				text-align: center;
			}
			header {
				position: relative;
				display: block;
				height: 80px;
				background: #e9eaf0;
				box-shadow: inset 0 -1px 0 rgba(0,0,0,.06);
				h1 {
					margin-left: 30px;
					line-height: 80px;
				}
				.pagination {
					span {
						&:first-of-type {
							background-position: -77px -4px;
							&:hover {
								background-position: -106px -4px;
							}
						}
						&:last-of-type {
							background-position: -90px -4px;
							&:hover {
								background-position: -119px -4px;
							}
						}
					}
				}
			}
			article {
				float: right;
				width: 60%;
				b {
					display: block;
					float: left;
					width: 26px;
					height: 26px;
					margin: 4px;
					text-align: center;
					font: 600 14px/26px 'Open Sans';
					color: #fff;
				}
				span {
					display: block;
					float: left;
					width: 26px;
					height: 26px;
					margin: 4px;
					text-align: center;
					font: 600 12px/26px 'Open Sans';
					color: #dad3ff;
					border-radius: 2px;
					cursor: pointer;
					&:not(.disable) {
						&:active {
							background: #b9becf;
						}
					}
				}
				span.disable {
					color: #afa2f3;
				}
				span.active {
					color: #dad3ff;
					border-radius: 100%;
					background: #2e3192;
					&:hover {
						color: #dad3ff;
						border-radius: 100%;
						background: #2e3192;
					}
					&:active {
						color: #dad3ff;
						border-radius: 100%;
						background: #2e3192;
					}
				}
				div {
					display: block;
					overflow: hidden;
					clear: both;
				}
			}
			.calender-week {
				display: inline-block;
				padding: 6px 4px 0;
				color: #dad3ff;
				font-size: $font-12;
				@include transit(0.3s);
			}
			.calender-day {
				display: inline-block;
				padding: 6px 4px 0;
				color: #dad3ff;
				font-size: $font-12;
				@include transit(0.3s);
			}
			.calender-months {
				display: inline-block;
				padding: 6px 4px 0;
				color: #dad3ff;
				font-size: $font-12;
				@include transit(0.3s);
			}
			.calender-day-months {
				margin-bottom: 40px;
				.active {
					color: #fff;
					font-size: $font-14;
					@include transit(0.3s);
					transform: translate(0px, -5px);
				}
			}
			.calender-date-month {
				margin-bottom: 20px;
				.calender-date {
					display: block;
					font-size: 40px;
					line-height: 1;
					color: #fff;
					font-family: $primary-font;
				}
				.calender-month {
					font-size: $font-16;
					line-height: 1.2;
					color: #fff;
					text-transform: uppercase;
					font-family: $primary-font;
				}
			}
		}
		.add-event{
			position: absolute;
		    bottom: 10px;
		    right: 10px;
			.btn-large {
				background-color: $blue;
				i {
					font-size: 30px;
				}
			}
		}
		.events-wrapper {
		    padding: 50px 45px;
		    .events {
			    position: relative;
			    padding-bottom: 10px;
				.events-time{
					float: left;
					width: 15%;
					span{
						font-size: $font-18;
						position: relative;
						display: inline-block;
						color: #0482bb;
						font-weight: 600;
						font-family: $primary-font;
						sup{
							font-size: $font-9;
						    top: 5px;
						    right: -20px;
						    color: #0482bb;
						    position: absolute;
						    font-weight: 600;
						    font-family: $primary-font;
						}
					}
				}
				.events-details{
					float: left;
					width: 85%;
					h5{
						margin: 0px;
						color: $blue-text;
						font-weight: 700;
						text-transform: uppercase;
						font-size: $font-12;
					}
					p{
						font-weight: 600;
					}
				}
				&:last-child {
					padding-bottom: 0px;
					span.big-bullet{
						background: transparent;
					}
				}
			}
		}
	}
}



.profile-wrapper {
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #cceaf7;
	span.profile-image {
		height: 50px;
		width: 50px;
		border-radius: 50px;
		border: 2px solid #0482bb;
		overflow: hidden;
		display: block;
		position: absolute;
		left: 0px;
		bottom: 30px;
	}
	.profile-name-designation {
		padding-left: 60px;
		span.name {
			display: block;
			font-size: $font-14;
			line-height: 20px;
			color: #0482bb;
			font-weight: 700;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			max-width: 150px;
		}
		span.designation {
			display: block;
			font-size: $font-13;
			line-height: 20px;
			color: $primary-color;
			font-weight: 400;
		}
		span.label{
			position: absolute;
		    right: 0;
		    top: 0;
		    background: #8fc9fc;
		    padding: 3px 8px;
		    border-radius: 4px;
		    color: #3a3a3a;
		    font-weight: 600;
		    font-size: 12px;
		}
	}
}


.right-side-bar{
	.profile-wrapper{
		.profile-name-designation {
			padding-left: 0px;
		}
	}	
}