#tabs {
	ul.ui-tabs-nav {
		border-bottom: 1px solid #fbc2eb;
		margin-bottom: 50px;
		li {
			float: left;
			padding: 0 27px;
			outline: none;
			&:first-child {
				padding-left: 0px;
			}
			&:last-child {
				padding-right: 0px;
			}
			a {
				position: relative;
				display: inline-block;
				padding: 10px;
				text-transform: capitalize;
				color: $primary-color;
				font-weight: 600;
				font-size: $font-14;
				transition: all 0.3s ease-in-out;
				font-family: $primary-font;
				&:after {
					position: absolute;
					content: '';
					height: 2px;
					width: 100%;
					bottom: 0;
					left: 0;
					transition: all 0.3s ease-in-out;
				}
			}
			&:hover {
				a {
					color: $blue-text;
					transition: all 0.3s ease-in-out;
					outline: none;
					&:after {
						background: #3c86f5;
						color: #0482bb;
						transition: all 0.3s ease-in-out;
					}
				}
			}
			&.ui-tabs-active {
				a {
					color: $blue-text;
					transition: all 0.3s ease-in-out;
					outline: none;
					&:after {
						background: #3c86f5;
						color: #0482bb;
						transition: all 0.3s ease-in-out;
					}
				}
			}
		}
	}
}

.tabs-wrapper {
	.document{
		form{
			margin-bottom: 0px;
		}
	}
	form{
		margin-bottom: 50px;
	}
	.user-grid {
		&.contacts-grid {
			padding: 0px;
			.select-all {
				.filled-in {
					&:not(:checked) {
						+ {
							label {
								&:after {
									left: 9px;
									top: 20px;
								}
								&:before {
									top: 11px;
									left: 6px;
								}
							}
						}
					}
					&:checked {
						+ {
							label {
								&:after {
									left: 9px;
									top: 20px;
								}
								&:before {
									left: 9px;
									top: 19px;
								}
							}
						}
					}
				}
			}
		}
		.content-table-data {
			width: 14.5%;
			
			&:first-child {
				width: 5%;
			}
		}
		.content-table-data.filter {
			position: relative;
			width: 5%;
			span {
				position: absolute;
				right: 10px;
				top: 0px;
			}
		}
		.avatar-pic-wrapper {
			width: 30px;
		}
	}

	.role-grid {
		.content-table-data {
			width: 33.33%;
			&:first-child {
				width: 33.33%;
			}
			&:last-child {
				width: 33.33%;
			}
		}
		.content-table-data.filter {
			position: relative;
			span {
				position: absolute;
				right: 110px;
				top: 0px;
			}
		}
	}

	.feeds-list {
		.content-table-row{
			cursor: default;
		}
		.content-table-data {
			overflow: visible;
			&:nth-child(1) {
				width: 7% !important;
			}
			&:nth-child(2) {
				width: 55%;
				overflow: hidden;
			}
			&:nth-child(3) {
				width: 19%;
			}
			&:nth-child(4) {
				width: 19% !important;
			}
		}
	}

	.add-fields{
		form{
			margin-bottom: 50px;
		}
	}

	

	.drag-container{
		.drag-list{
			.drag-column{
				.drag-header{
					.drag-column-header{
						font-size: 14px;
					}
					.total-price{
						display: block;
					}
				} 

				.card{
					padding: 15px;
					.card-type{
						line-height: 22px;
						font-size: 22px;
						.task-assigned {
							span.avatar-pic-wrapper{
								padding: 5px 0;
							}
						}
					}
				} 
			}
		}
	}   
}

.feeds-list {
	.content-table-row{
		cursor: default;
	}
}

.ui-tabs-panel {
	position: relative;
	.btn-floating{
		&.add-icon {
			height: 50px;
			width: 50px;
			line-height: 50px;
			position: absolute;
			right: 10px;
			bottom: -55px;
			box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
			display: none;
			i {
				line-height: 50px;
			}
		}
	}
	.drag-container{
		.drag-list{
			.drag-column{
				margin-left: 15px;
			}
		} 
	} 
}

.role-grid.contacts-grid {
	padding: 0px;
}


.feeds-list {
	.content-table-row {
		&:hover {
			background: transparent;
		}
	}
	.content-table-data {
		border-bottom: none;
		margin-bottom: 20px;
	}
	.avatar-pic-wrapper {
		padding: 5px 0;
		&:after {
			display: none;
		}
	}
	.avatar-pic {
		height: 40px;
		width: 40px;
		border: 2px solid #a9aec3;
		margin: 0 auto;
	}
}



.drag-area {
	position: relative;
	text-align: center;
	width: 170px;
	float: left;
	.drag-label {
		display: block;
		width: 170px;
		height: 156px;
		background: #fbfbfc;
		position: relative;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0 10px;
		cursor: pointer;
		margin-bottom: 30px;
	}
	.input-file {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	.file-upload {
		height: 40px;
		width: 40px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -20px 0 0 -20px;
		background: url(../img/sprite.png) no-repeat -3px -273px;
	}
	.file-name {
		position: absolute;
		width: 100%;
		bottom: 20px;
		left: 0;
		white-space: normal;
	}
}
.document-area {
	position: relative;
	text-align: center;
	width: 170px;
	float: left;
	margin-right: 30px;
	margin-right: 0px;
	.document-wrapper{
		display: block;
		background: #fbfbfc;
		border: 1px solid #95c3d8;
		padding: 0px 0px;
		height: 156px;
		margin-bottom: 25px;
		border-radius: 5px;
		overflow: hidden;
		position: relative;
		span {
			margin: 30px 0;
			display: block;
			height: 95px;
			overflow: hidden;
			text-align: center;
			img {
				display: block;
				margin: 0 auto;
			}
			
		}
	}

	.desc{
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease-in-out;
	    padding: 5px 0;
	    color: $primary-color;
	    font-size: $font-13;
	    text-transform: lowercase;
	    font-weight: 400;
	}
}

ul.all-documents {
	float: left;
	li {
		margin: 0 25px 10px 0;
		float: left;
		min-height: 240px;
		position: relative;
		&:hover {
			ul {
				opacity: 1;
				transition: all 0.3s ease-in-out;
			}
		}
		a {
			padding: 0px;
			&:hover {
				.document-area {
					.desc {
						border-bottom: 1px solid #dadada;
						transition: all 0.3s ease-in-out;
						color: $primary-color;
					}
				}
			}
		}
		&:last-child {
			margin-right: 0px;
		}
		ul {
			position: absolute;
		    width: 76px;
		    margin-left: -38px;
		    bottom: 90px;
		    left: 50%;
			opacity: 0;
			transition: all 0.3s ease-in-out;
			li {
				height: 20px;
				width: 20px;
				background: url(../img/sprite.png) no-repeat 0px 0px;
				margin: 0 3px;
				min-height: auto;
				a{
					display: block;
					height: 20px;
				}
			}
			li.document-edit {
				background-position: -55px -277px;
			}
			li.document-remove {
				background-position: -81px -277px;
			}
			li.document-expand {
				background-position: -106px -277px;
			}
			li.document-downld {
				background-position: -130px -277px;
			}
		}
	}
}

.note-lists {
	position: relative;
	z-index: 2;
	ul{
		li{
			float: left;
			margin: 0 15px 30px;
			&:first-child {
				margin-left: 0px;
			}
		}
	}
}


.notes {
	width: 170px;
	height: 230px;
	float: left;
	padding: 40px 8px;
	background: #d3d1d5;
	border-left: 2px solid #bababa;
	position: relative;
	a {
		display: block;
		height: 100%;
	}
	h4 {
		font-size: $font-16;
		color: #fff;
		border-bottom: 1px solid #fff;
		padding-bottom: 5px;
		position: relative;
		&:after {
			position: absolute;
			content: '';
			bottom: -2px;
			left: 0px;
			width: 65px;
			height: 2px;
			background: #fff;
		}
	}
	
	&.note-add {
		cursor: pointer;
		span {
			padding-top: 50px;
			display: block;
			a {
				margin: 0 auto;
				display: block;
			}
		}
	}
}

.note-actions {
	position: absolute;
	bottom: 0px;
	text-align: right;
	left: 0;
	width: 100%;
	ul {
		text-align: center;
		padding-bottom: 5px;
		li {
			background: url(../img/sprite.png) no-repeat 0 0;
			display: inline-block;
			height: 22px;
			width: 22px;
			float: none;
			margin: 0px;
			opacity: 0;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			&.note-edit {
				background-position: -54px -310px;
			}
			&.note-delete {
				background-position: -81px -310px;
			}
			&.note-expand {
				background-position: -106px -310px;
			}
		}
	}
	.note-author {
		display: inline-block;
		height: 25px;
		width: 25px;
		border-radius: 30px;
		overflow: hidden;
		margin: 0 8px 10px 0;
	}
}


.all-notes{
	li{
		position: relative;
		&:hover {
			.note-actions {
				ul {
					li {
						opacity: 1;
						transition: all 0.3s ease-in-out;
					}
				}
			}
		}
	}
}
	

	

.notes-form {
	padding: 40px 30px 40px 60px;
	border-radius: 0;
	background: #fff;
	position: relative;
	top: 0px;
	width: 100%;
	opacity: 0;
	display: none;
	span.note-border{
		position: absolute;
	    width: 30px;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: #b9b9b9;
	}
	.field-group{
		input {
			font-weight: 600;
			color: $primary-color;
			font-size: $font-16;
			&::-webkit-input-placeholder {
				font-weight: 600;
				color: $primary-color;
			}
		}
	}
	textarea.materialize-textarea {
		height: 500px !important;
		overflow: hidden;
		line-height: 55px;
		font-size: $font-14;
		/*font-style: italic;*/
		border-bottom: none;
		font-weight: 400;
		color: $primary-color;
		&:focus {
			&:not([readonly]) {
				border: none;
				box-shadow: none;
			}
		}
		&::-webkit-input-placeholder {
			font-weight: 400;
			color: $primary-color;
		}
	}
}
.note-close {
	border: none;
	background: url(../img/sprite.png) no-repeat -79px -197px;
	height: 30px;
	width: 30px;
	position: relative;
	opacity: 1;
	position: absolute;
	top: 20px;
	right: 20px;
}
.text-wrapper {
	background: linear-gradient(transparent, transparent 54px, #dadada 54px);
	background-size: 55px 55px;
	margin-bottom: 50px;
}

.file-drop-target {
	a {
		width: 205px;
		border: 1px solid #95c3d8;
		height: 60px;
		line-height: 60px;
		display: inline-block;
		background: #f7f8f9;
		color: $blue-text;
		text-align: center;
		margin-bottom: 20px;
	}
	
	input{
		display: none;
	}
	label{
		width: 205px;
	    border: 1px solid #95c3d8;
	    height: 60px;
	    line-height: 60px;
	    padding-left: 45px;
	    display: inline-block;
	    background: #f7f8f9;
	    span{
	    	font-size: 13px;
    		color: $blue-text;
    		position: relative;
			&:after {
				position: absolute;
				height: 26px;
				width: 26px;
				content: '';
				top: -4px;
				left: -34px;
				background: url(../img/sprite.png) no-repeat -81px -239px;
			}
	    }
	}
}

.personal-information{
	.author-pic{
		height: 200px;
		width: 200px;
		overflow: hidden;
	}
}

#tabs-8{
	.deal-stage{
		padding-top: 50px;
		h3{
			a{
				color: $blue-text;
			    position: relative;
			    padding: 2px 30px 2px 0px;
			    &:after{
			    	position: absolute;
				    right: 5px;
				    top: 3px;
				    height: 20px;
				    width: 20px;
				    content: '';
				    background: url(../img/sprite.png) no-repeat -118px -87px;
			    }
			}
		}
		.vertical-nav-wrap{
			ul{
				li{
					a{
						font-size: $font-14;
					    color: $primary-color;
					    padding: 10px 0;
					    display: block;
					}
				}
			}
		}
		.vertical-tabs-content{
			input{
				text-transform: capitalize;
			}
			ul{
				padding: 0px;
			}
		}
	}
}

.vetical-tab-nav{
	.vertical-nav-wrap{
		float: left;
		width: 25%;
		.user-search{
			height: 40px;
			line-height: 40px;
			display: none;
			padding: 0 65px 0 20px;
			position: relative;
			border-bottom: 1px solid #dadada;
			margin-bottom: 0px;
			.search{
				position: absolute;
			    height: 40px;
			    width: 50px;
			    border: none;
			    right: 0;
			    top: 0;
			    background: transparent url(../img/sprite.png) no-repeat -28px 5px;
			}
			input{
				height: 40px;
				border: none;
				font-size: $font-13;
				text-align: right;
				box-shadow: none;
				color: $primary-color;
				margin-bottom: 0px;
				&:focus{
					border: none;
					box-shadow: none;
				}
			}
		}
	}
	ul{
		margin: 0px;
		padding: 20px;
		list-style: none;
		overflow: hidden;
		li.active{
			.profile-wrapper{
				span.profile-image{
					border: 2px solid #0482bb;
				}
			} 
		}
	}
	.permissions{
		h4{
			margin-bottom: 20px;
		}
	}
	.permissions-lists{
		border: 1px solid #95c3d8;
		margin-bottom: 40px;
		.permissions-list{
			margin: 0px;
			padding: 0px;
			list-style: none;
			overflow: hidden;
			padding: 15px 20px;
    		border-bottom: 1px solid #95c3d8;
    		&:last-child{
    			border-bottom: none;
    		}
			li{
				list-style-type: none;
				float: left;
				width: 20%;
				font-family: $primary-font;
				h4{
					font-size: $font-13;
					line-height: 21px;
					margin-bottom: 0px;
					color: $primary-color;
					font-family: $primary-font;
				}
				label{
					padding: 0 0 0 30px;
					height: 16px;
					line-height: 16px;
					font-size: $font-13;
					color: $primary-color;
				}
			}
		}
	}
	.vertical-tabs-content{
		display: block;
		float: left;
		width:75%;
		border-left: 1px solid #95c3d8;
		padding: 30px 20px;
		.profile-wrapper{
			span.profile-image{
				border: 2px solid #0482bb;
			}
		} 
	}
	.ver-tabs-panel{
		display: none;
		margin: 0px;
		color: #555;
	}
	.profile-wrapper{
		padding-bottom: 15px;
	    margin-bottom: 15px;
	    border-bottom: none;
		span.profile-image{
			height: 40px;
		    width: 40px;
		    border-radius: 50%;
		    top: 0px;
		    border: 2px solid #95c3d8;
		    img{
		    	border: 4px solid #fff;
    			border-radius: 50%;
		    }
		}
		.dropdown-button{
			position: absolute;
		    left: 30%;
		    top: 0;
		}
		.designation{
			text-transform: capitalize;
		}
		.dropdown-content{
			padding: 0px;
		}
	}
}


.select-payment-method{
	ul{
		li{
			list-style-type: none;
			display: inline-block;
			padding: 0 15px;
			margin-bottom: 15px;
			&:first-child{
				padding-left: 0px;
			}
		}
	}
}

.select-stripe{
	display: none;
}

#tabs-2{
	a.blue{
		margin-bottom: 30px;
	}
}
