
.contacts-grid {
    padding: 50px 30px;
    h3 {
	    padding-top: 15px;
	    a{
	    	color: $blue-text;
	    	position: relative;
		   	padding: 2px 30px 2px 0px;
	    	&:after{
	    		position: absolute;
			    right: 8px;
			    top: 3px;
			    height: 20px;
			    width: 20px;
			    content: '';
			    background: url(../img/sprite.png) no-repeat -118px -87px;
	    	}
	    }
	    .total-contact {
		    font-size: $font-13;
		    font-weight: 400;
		    margin: 0 8px;
		}
	}
}

.content-table, .content-table-header, .content-table-body {
  	display: table;
  	width: 100%;
}

.demo-content{
	position: relative;
	&:before{
		content: 'No data yet, lets start now';
		position: absolute;
		left: 0px;
		top: 50%;
		text-align: center;
	    font-size: 15px;
	    font-weight: 700;
	    height: 40px;
	    margin-top: -20px;
	    line-height: 40px;
    	z-index: 1;
    	width: 100%;
	}
	&:after{
		position: absolute;
		left: 0px;
		top: 0px;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(218, 218, 218, 0.8);
	}
}

.content-table-header {
    border-radius: 0px;
    .content-table-row {
    	background: #fbfbfc;
    }
    .content-table-data {
	    border: none;
	    color: #3949ab;
    	font-weight: 600;
	}
}

.content-table-row {
	display: table-row;
	vertical-align: inherit;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
  	&:hover, &.selected {
    	background: #fbfbfc;
    	transition: all 0.3s ease-in-out;
    	.avatar-pic-wrapper{
    		&:after{
    			transition: all 0.3s ease-in-out;
    			opacity: 1;
    		}
    	}
  	}
  	.more-actions{
  		a{
  			color: $blue-text;
  			font-weight: 600;
  			padding-left: 20px;
  			position: relative;
  			&:after{
  				background: url(../img/sprite.png) no-repeat -35px -224px;
			    width: 15px;
			    height: 15px;
			    position: absolute;
			    top: 0px;
			    left: 0px;
			    content: '';
  			}
  		}
  		&:hover{
  			a.icons {
			    transition: all 0.3s ease-in-out;
			    opacity: 0;
			}
  		}
  		&:hover{ 
  			span {
			    opacity: 1;
			    transition: all 0.3s ease-in-out;
			}
  		}
  	}
  	&:last-child{
  		.content-table-data{
  			.timeline{
  				&:before{
  					display: none;
  				}
  			}
  		}
  	}
}

.content-table-data {
    padding: 0px 10px;
    display: table-cell;
    height: 50px;
    line-height: 47px;
    float: left;
    width: 16%;
    text-align: left;
    vertical-align: middle;
    text-overflow: ellipsis;
    /*overflow: hidden;*/
    white-space: nowrap;
    border-bottom: 1px solid #dadada;
    &:first-child{
    	width: 7% !important;
    }
    &:last-child{
    	width: 8% !important;
    }
    &.fil-result, &.filter{
    	width: 5% !important;
    }
    &.contactEmail{
    	overflow: hidden;
    	text-transform: none;
    }
    .select-all{
    	label {
		    text-indent: -9999px;
		    padding-left: 30px;
		    
		}
		.filled-in:not(:checked) + label,
		.filled-in:checked + label {
			&:after{
		    	height: 10px;
			    width: 10px;
			    background-color: transparent;
			    border: 1px solid #95c3d8;
			    top: 7px;
			    left: 14px;
			    border-radius: 0;
			    z-index: 0;
		    }
		    &:before {
			    top: 8px;
			    left: 13px;
			    transition: all 0.1s ease-in-out;
			}
		}
		.filled-in:checked + label{
			&:after {
			    border: 1px solid #8dc63f;
			    background-color: #8dc63f;
			}
			&:before {
			    top: 6px;
			    left: 14px;
			    width: 4px;
			    height: 7px;
			    border-top: 1px solid transparent;
			    border-left: 1px solid transparent;
			    border-right: 2px solid #fff;
			    border-bottom: 2px solid #fff;
			}
		}
    } 
    .phone-number-type {
	    height: 20px;
	    width: 20px;
	    display: block;
	    margin: 15px auto;
	    border-radius: 30px;
	    border: 1px solid #9ac6da;
	    font-size: $font-9;
	    font-weight: 700;
	    line-height: 18px;
	    text-align: center;
	    color: #0482bb;
	    font-family: $primary-font;
	    position: relative;
	    transition: all 0.3s ease-in-out;
	    span{
	    	position: absolute;
		    background: #679436;
		    color: #fff;
		    padding: 3px 10px;
		    left: -14px;
		    top: -30px;
		    opacity: 0;
		    z-index: -1;
		    font-size: 10px;
		    transition: all 0.3s ease-in-out;
	    }
	    &:hover{
	    	span{
	    		opacity: 1;
		    	z-index: 2;
		    	transition: all 0.3s ease-in-out;
	    	}
	    }
	}
	&.filter{
		span {
    		margin-top: 5px;
		} 
	}
	.more-actions {
	    position: relative;
	    text-align: center;
	    span{
	    	position: absolute;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    opacity: 0;
		    transition: all 0.3s ease-in-out;
	    	a {
			    height: 14px;
			    width: 14px;
			    display: inline-block;
			    background: url(../img/sprite.png) no-repeat 0 0;
			    &.edit-icon {
				    background-position: -13px -200px;
				}
				&.remove-icon {
				    background-position: -33px -200px;
				}
			}
		}
	}
	a.icons{
		i {
		    position: relative;
		    top: 7px;
		}
	} 
}


.avatar-pic-wrapper {
    position: relative;
    display: block;
    width: 40px;
    padding: 8px 0;
    .avatar-pic {
	    height: 26px;
	    width: 26px;
	    display: block;
	    border-radius: 50px;
	    margin: 0 auto;
	    font-size: $font-12;
	    font-weight: 700;
	    color: #fff;
	    margin: 3px auto 3px;
	    line-height: 25px;
	    text-align: center;
	    overflow: hidden;
	    position: relative;
	}
	&:after {
	    content: '';
	    height: 34px;
	    position: absolute;
	    width: 34px;
	    left: 50%;
	    margin-left: -17px;
	    top: 7px;
	    border-radius: 50px;
	    border: 1px solid #14a4a6;
	    opacity: 0;
	    transition: all 0.3s ease-in-out;
	}
}

.filter span {
    height: 40px;
    width: 40px;
    display: inline-block;
    background: url(../img/sprite.png) no-repeat 5px -100px;
    float: left;
}

.table-shorting{
	float: right;
	margin-bottom: 40px;
	li{
		margin: 0 15px 0 0;
		&:first-child{
			margin: 0 35px 0 0;
		}
		&:last-child{
			margin: 0;
		}
		&.serach-table{
			input{
				padding: 0 0 0 30px;
			    width: 140px;
			}
			span{
				position: absolute;
    			top: 10px;
			}
		} 
		&.filter{
			height: 40px;
		    line-height: 40px;
		    span{
				height: 40px;
				width: 40px;
				display: inline-block;
			    background: url(../img/sprite.png) no-repeat 5px -100px;
			    float: left;
			}
		}
		&.tables-length{
			input.select-dropdown{
				width: 60px;
				color: #0482bb;
			}
			.dropdown-content{
				li{
					span{
						color: #0482bb;
					}
				}
			}
		}
	}
}


#tabs .table-shorting li ul li{
	margin: 0px;
}

.serach-table .input-field,
.tables-length .input-field{
	margin-top: 0;
}

.contactMore{
	text-align: center;
}