
.tasks {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
    &:hover {
	    border-top: 1px solid #95c3d8;
	    border-bottom: 1px solid #95c3d8;
	    background: #fbfbfc;
	    transition: all 0.3s ease-in-out;
	}
	&.task-complete{
		background: #fbfbfc;
		.border-right,
		.tasks-priority{
			background: #b9b9b9 !important;
		}
		.tag-container{
			.tags{
				background: #b9b9b9 !important;
			}
		}
		label{
			color: #b9b9b9;
		}
		.task-assignee{
			color: #b9b9b9;
		}
	}
	&.task-edited{
		background: #fff;
	}
    label {
	    position: relative;
	    font-weight: 600;
	    font-size: $font-13;
	    color: $blue-text;
	    width: 40%;
	    line-height: 19px;
	    padding: 0;
	    margin-left: 35px;
	    margin-top: 0px;
	    letter-spacing: 0.5px;
	}
	.task-assignee {
	    padding-left: 35px;
	    color: #969696;
	    font-size: $font-13;
	    letter-spacing: 0.5px;
	}
	.tag-container {
	    position: absolute;
	    left: 45%;
	    top: 50%;
	    margin-top: -12px;
	    .tags {
		    padding: 3px 8px 3px 8px;
		    color: #fff;
		    font-size: 12px;
		    float: left;
		    margin-right: 5px;
		    font-weight: 600;
		    border-radius: 3px;
		    background-color: #b9b9b9;
		    text-transform: uppercase;
		}
		.more-tags{
			line-height: 24px;
    		font-size: $font-13;
		}
	}
	.tasks-priority {
	    position: absolute;
	    right: 80px;
	    top: 50%;
	    margin-top: -12px;
	    padding: 3px 10px 3px 30px;
	    color: #fff;
	    background: #b9b9b9;
	    font-size: 12px;
	    font-weight: 600;
	    border-radius: 3px;
	    text-transform: uppercase;
	    &:after {
		    position: absolute;
		    content: '';
		    height: 13px;
		    width: 14px;
		    top: 5px;
		    left: 10px;
		    background: url(../img/sprite.png) no-repeat -13px -227px;
		}
		&.tasks-done{
			background-color: #b9b9b9 !important;
		}
		.date-fr{
			display: none;
		}
		#date-fr{
			font-size: 10px;
		    height: 18px;
		    text-transform: uppercase;
		    line-height: 18px;
		    color: $blue-text;
		    border: none;
		    width: 100px;
		    text-align: center;
		    /*opacity: 0;*/
		    cursor: pointer;
		    ::-webkit-input-placeholder {
				color: $blue-text;
			}
			::-moz-placeholder { 
				color: $blue-text;
			}
			:-ms-input-placeholder { 
				color: $blue-text;
			}
			:-moz-placeholder { 
				color: $blue-text;
			}
		}
	}
	a.icons {
	    position: absolute;
	    right: 14px;
	    top: 50%;
	    margin-top: -10px;
	    padding-left: 20px;
	    color: $blue-text;
	    font-weight: 600;
	    &:after {
		    background: url(../img/sprite.png) no-repeat -35px -224px;
		    width: 15px;
		    height: 15px;
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    content: '';
		}
	}
	
	input.filled-in:not(:checked) + label{
		&:after {
		    height: 15px;
		    width: 15px;
		    border: 2px solid #a9aec3;
		    top: 0px;
		    left: -35px;
		}
		&:before {
		    top: 0px;
		    left: -34px;
		    transition: all 0.1s ease-in-out;
		}
	}

	input.filled-in:checked + label{
		&:after {
		    height: 15px;
		    width: 15px;
		    top: 0px;
		    left: -35px;
		    transform: scale(1,1);
		    border: 2px solid #67c078;
    		background-color: transparent;
		}
		&:before{
			top: 0px;
		    left: -34px;
		    width: 6px;
		    height: 9px;
		    transform: rotateZ(37deg) scale(1,1);
		    transition: all 0.1s ease-in-out;
		    border-right: 2px solid #67c078;
    		border-bottom: 2px solid #67c078;
		}
	}
	input.filled-in:disabled:checked + label{
		&:after{
			background-color: transparent;
		}
		&:before{
			border-right: 2px solid #b9b9b9;
    		border-bottom: 2px solid #b9b9b9;
		}
	}
	.edit-tasks{
		-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		-moz-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		.edit-task-header{
			margin-bottom: 30px;
			label {
			    display: none;
			}
			input{
				font-weight: 600;
			    font-size: 14px;
			    color: $blue-text;
			    padding: 0;
			    margin: 0px;
			    height: 30px;
			    letter-spacing: 0.5px;
			    line-height: 30px;
			}
			.tasks-priority {
			    color: #5090f6;
			    top: 13px;
			    right: 100px;
			    background: transparent;
			    margin: 0;
			    font-size: 10px;
			    padding: 3px 15px 3px 30px;
			    &:before {
				    content: '';
				    height: 10px;
				    width: 10px;
				    position: absolute;
				    right: 0px;
				    top: 5px;
				    background: url(../img/sprite.png) no-repeat -17px -338px;
				}
				&:after{
					background-position: -14px -316px;
				}
			}
			.task-removed {
			    width: 20px;
			    height: 20px;
			    display: inline-block;
			    background: url(../img/sprite.png) no-repeat -80px -277px;
			    position: absolute;
			    right: 25px;
			    top: 13px;
			}
		}
		.task-type-wrapper{
			margin-bottom: 20px;
			margin-top: 0px;
			.type-radio-list{
				.widget-radio{
					width: auto;
				}
			} 
		}
		.task-description{
			textarea{
				font-size: 14px;
			    color: $primary-font;
			    border: none;
			    height: 100px;
			    outline: none;
			}
		} 
		.edit-task-footer {
		    position: relative;
		    padding-top: 10px;
		    .task-assignee{
		    	padding: 0px;
		    	span{
		    		float: left;
    				margin-right: 8px;
		    	}
		    	.select-wrapper {
				    float: left;
				    width: 80px;
				    span.caret {
					    right: 2px;
					    top: 3px;
					}
				    input {
					    margin: 0;
					    height: 20px;
					    border: none;
					    color: #3c86f5;
					    font-size: $font-13;
					    letter-spacing: 0.5px;
					}
				}
		    }
		    .tag-container {
			    position: relative;
			    left: auto;
			    top: auto;
			    margin: 0px;
			    .tags{
			    	position: relative;
			    	.remove-tags{
				    	position: absolute;
					    top: -5px;
					    right: -4px;
					    background: url(../img/sprite.png) no-repeat -16px -359px;
					    height: 13px;
					    width: 13px;
					    display: inline-block;
				    }
			    }
			    .add-tags {
				    float: left;
				    .input-field {
					    margin: 0;
					}
				    input {
					    margin: 0;
					    height: 24px;
					    font-size: $font-13;
					    width: 120px;
					    line-height: 24px;
					}
				    .add-input {
					    width: 30px;
					    position: absolute;
					    right: -40px;
					    top: 0;
					    height: 100%;
					    span {
						    top: -7px;
						}
					}
				}
			}
			.mark-done {
			    text-align: right;
			    /*padding: 0 20px;*/
			    label{
			    	width: 100px;
			    }
			    input.filled-in:not(:checked) + label{
			    	&:after{
			    		height: 27px;
					    width: 27px;
					    top: -4px;
					    left: -30px;
					    border-radius: 40px;
					    content: '';
			    	}
			    	&:before{
			    		top: 3px;
					    left: -26px;
					    width: 8px;
					    content: '';
					    height: 15px;
					    border-radius: 40px;
					    border-right: 2px solid #ffffff;
					    border-bottom: 2px solid #ffffff;
			    	}
			    }
			    input.filled-in:checked + label{
				    &:after {
				    	height: 27px;
					    width: 27px;
					    top: -4px;
					    left: -30px;
					    border-radius: 40px;
					    background-color: #67c078;
					}
					&:before{
						top: -1px;
					    left: -26px;
					    width: 8px;
					    height: 15px;
					    border-right: 2px solid #ffffff;
					    border-bottom: 2px solid #ffffff;
					}
				}
			}
		}
	}
}

@-webkit-keyframes fade-in{
	0%{
		opacity: 0
	}
	100%{
		opacity: 1
	}
}
@keyframes fade-in{
	0%{
		opacity: 0
	}
	100%{
		opacity: 1
	}
}

.tasks-wrapper{
	background: #fff;
    padding: 60px 20px;
	.tasks {
	    border: 1px solid transparent;
	    &.task-selected, 
	    &.task-edited, 
	    &:hover {
		    border: 1px solid #95c3d8;
		    background: #fbfbfc;
		    transition: all 0.3s ease-in-out;
		}
		&.task-edited{
			-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
			-moz-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
			animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		}
	}
} 


@-webkit-keyframes fade-in-fwd{
	0%{
		-webkit-transform:translateZ(-80px);
		transform:translateZ(-80px);
		opacity:0;
	}
	100%{
		-webkit-transform:translateZ(0);
		transform:translateZ(0);
		opacity:1
	}
}
@keyframes fade-in-fwd{
	0%{
		-webkit-transform:translateZ(-80px);
		transform:translateZ(-80px);
		opacity:0
	}
	100%{
		-webkit-transform:translateZ(0);
		transform:translateZ(0);
		opacity:1
	}
}

.more-task-popup {
    display: none;
    transition: 0.3s all ease-in-out;
    max-width: 237px;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 9;
    top: -30px;
    background: #fff;
    -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	-moz-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    &.more-task-popup-open {
	    display: block;
	    top: 40px;
	    /*right: 13px;
	    left: auto !important;*/
	    margin: 4px -97px 0;
	}
	&.contextual-tasks {
	    max-width: 190px;
	    .popup-header {
		    padding: 15px 20px;
		    border-bottom: 1px solid #d5d8e0;
		    ul{
		    	li{
		    		padding-bottom: 5px;
		    		a{
		    			font-size: 12px;
					    transition: all 0.3s ease-in-out;
					    position: relative;
					    padding-left: 25px;
					    color: #969696;
					    display: block;
					    font-family: $primary-font;
					    &:hover{
					    	color: $blue-text;
					    }
					    &:after{
					    	background: url(../img/sprite.png) no-repeat 0 0;
						    width: 15px;
						    height: 15px;
						    position: absolute;
						    top: 0px;
						    left: 0px;
						    content: '';
					    }
					    &.edit{
					    	&:after{
					    		background-position: -33px -225px;
					    	}
					    }
					    &.complete{
					    	&:after{
					    		background-position: -34px -245px;
					    	}
					    }
					    &.change-date{
					    	&:after{
					    		background-position: -56px -225px;
					    	}
					    }
					    &.assign-task{
					    	&:after{
					    		background-position: -11px -245px;
					    	}
					    }
		    		}
		    	}
		    }
		}
	}
	&:after{
		background: url(../img/arrow-up.png) no-repeat 0 0;
		position: absolute;
		left: 50%;
		top: -13px;
		width: 17px;
		height: 14px;
		margin-left: -8px;
		content: '';
	}
}



.dtp {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 2000;
	font-size: $font-14;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  	> .dtp-content {
	    background: #fff;
	    max-width: 300px;
	    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	    max-height: 520px;
	    position: relative;
	    left: 50%;
	    > .dtp-date-view > header.dtp-header {
		    background: #1477ce;
		    color: #fff;
		    text-align: center;
		    padding: 0.3em;
	    }
  	}
  	div {
    	&.dtp-date, &.dtp-time {
	      	background: #1e88e5;
	      	text-align: center;
	      	color: #fff;
	      	padding: 10px;
    	}
	    &.dtp-date > div {
	      	padding: 0;
	      	margin: 0;
	    }
    	&.dtp-actual-month {
     	 	font-size: 1.5em;
    	}
    	&.dtp-actual-num, &.dtp-actual-maxtime {
      		font-size: 3em;
      		line-height: 0.9;
    	}
    	&.dtp-actual-year {
      		font-size: 1.5em;
      		color: #fff;
    	}
    	&.dtp-picker {
      		padding: 1em;
      		text-align: center;
    	}
    	&.dtp-picker-month, &.dtp-actual-time {
      		font-weight: 500;
      		text-align: center;
    	}
    	&.dtp-picker-month {
      		padding-bottom: 20px !important;
      		text-transform: uppercase !important;
    	}
  	}
  	.dtp-close {
    	position: absolute;
    	top: 0.5em;
    	right: 1em;
    	> a {
      		color: #fff;
      		> i {
        		font-size: 1em;
      		}
   		}
  	}
  	table.dtp-picker-days {
	    margin: 0;
	    min-height: 251px;
	    border: none;
    	tr {
      		border: none;
      		> td {
		        border: none;
		        font-weight: 700;
		        font-size: 0.8em;
		        text-align: center;
		        padding: 0.5em 0.3em;
        		> {
          			span.dtp-select-day {
            			color: #BDBDBD !important;
            			padding: 0.4em 0.5em 0.5em 0.6em;
          			}
          			a {
            			color: #212121;
            			height: 25px;
					    width: 25px;
					    display: inline-block;
					    line-height: 25px;
			            text-decoration: none;
			            border-radius: 50% !important;
          			}
        		}
      		}
    	}
  	}
  	.dtp-picker-time > a {
    	color: #212121;
    	text-decoration: none;
    	padding: 0.4em 0.5em 0.5em 0.6em;
    	border-radius: 50% !important;
  	}
  	table.dtp-picker-days tr > {
    	td > a.selected {
      		background: #1e88e5;
      		color: #fff;
      		height: 25px;
		    width: 25px;
		    display: inline-block;
		    line-height: 25px;
    	}
	    th {
	      	color: #757575;
	      	text-align: center;
	      	font-weight: 700;
	      	padding: 0.4em 0.3em;
	    }
  	}
  	.p10 {
  		width: 10%;
    	display: inline-block;
    	> a {
	      	color: #689F38;
	      	text-decoration: none;
	      	i.material-icons{
	      		color: #fff;
	      	}
    	}
  	}
  	.p20 {
    	width: 20%;
    	display: inline-block;
  	}
  	.p60 {
    	width: 60%;
    	display: inline-block;
  	}
  	.p80 {
    	width: 80%;
    	display: inline-block;
  	}
  	a {
    	&.dtp-meridien-am, &.dtp-meridien-pm {
      		position: relative;
      		top: 10px;
      		color: #212121;
      		font-weight: 500;
      		padding: 0.7em 0.5em;
      		border-radius: 50% !important;
      		text-decoration: none;
      		background: #eee;
      		font-size: 1em;
    	}
  	}
	.dtp-actual-meridien a.selected {
		background: #689F38;
		color: #fff;
	}
	.dtp-picker-time > {
		.dtp-select-hour, .dtp-select-minute {
		  cursor: pointer;
		}
	}
	.dtp-buttons {
		padding: 0 1em 1em 1em;
		text-align: right;
		.dtp-btn-cancel{
			background: #ff8966;
    		color: #fff;
    		width: 90px;
		}

		.dtp-btn-ok{
			background-color: #679436;
		    color: #fff;
		    width: 90px;
		    margin-left: 15px;
		}
	}
	&.hidden, .hidden {
		display: none;
	}
	.invisible {
		visibility: hidden;
	}
	.left {
		float: left;
	}
	.right {
		float: right;
	}
	.clearfix {
		clear: both;
	}
	.center {
		text-align: center;
	}
}

.dtp-picker-year {
	margin-bottom: 1px;
}

.year-picker-item {
	text-align: center;
	padding-top: 5px;
	font-size: large;
	cursor: pointer;
	margin: 0 auto;
}

.dtp-actual-year {
	&:hover {
		cursor: pointer;
	}
	&.disabled:hover {
		cursor: inherit;
	}
}

.year-picker-item {
	&:hover {
		color: #689F38;
	}
	&.active {
		color: #689F38;
		font-weight: bold;
	}
}

.dtp-select-year-range {
	display: inline-block;
	text-align: center;
	width: 100%;
}


