.task-structure{
    width: 100%;
    height: auto;
    margin: 0px;
	.tasks{
		padding: 20px;
	    border: 1px solid #95c3d8;
	    border-radius: 3px;
	    box-shadow: none;
	    width: 48%;
	    margin: 0 1% 20px;
		&:hover{
			padding: 20px;
		    border: 1px solid #95c3d8;
		    border-radius: 3px;
		    box-shadow: none;
		}
		&.task-complete{
			.mobile-tag-container{
				.tags {
				    background: #b9b9b9 !important;
				}

			}
			.tasks-priority-view {
			    background: #b9b9b9 !important;
			}
		}
		input.filled-in:not(:checked) + label{
		 	&:before

		 	{
		 		display:none;
		 	}
		 	&:after
		 	{
		 		display: none;
		 	}
		}
		label{
			margin-left: 0;
			width: 100%;
			&:before,
			&:after{
				display: none;
			}
		}
		div.task-assignee{
			padding-left: 0;
		}
		div.mobile-tag-container{
			padding-top: 20px;

			span.tags{
				padding: 3px 8px 3px 8px;
			    color: #fff;
			    font-size: 12px;
			    float: left;
			    margin-right: 5px;
			    font-weight: 600;
			    border-radius: 3px;
			    display: inline-block;
			}
		}
		div.tasks-status{
			padding-top: 20px;

			span.tasks-priority-view{
				padding: 3px 10px 3px 30px;
			    color: #fff;
			    background: #b9b9b9;
			    font-size: 12px;
			    font-weight: 600;
			    border-radius: 3px;
			    text-transform: uppercase;
			    position: relative;

			    &:after{
			    	position: absolute;
				    content: '';
				    height: 13px;
				    width: 14px;
				    top: 5px;
				    left: 10px;
				    background: url(../img/sprite.png) no-repeat -13px -227px;
			    }
			}
		}
	}
	a.icons{
		position: absolute;
	    right: 14px;
	    top: auto;
	    bottom: 20px;
	    margin-top: -14px;
	}
}


.tasks{
	.edit-tasks{
		margin-left: 0px;	
		.edit-task-header{
			margin-bottom: 20px;
			.tasks-priority{
				position: relative;
			    left: 0;
			    right: auto;
			}
		} 
		.task-description{
			textarea{
				height: 85px;
			}
		} 
		.edit-task-footer{
			.task-assignee{
				margin-bottom: 20px;
				.select-wrapper{
					margin-bottom: 0px;
				}
			}
			.mark-done{
				padding-top: 20px;
				input.filled-in:not(:checked) + label{
			    	&:after{
			    		height: 27px;
					    width: 27px;
					    top: -4px;
					    left: -40px;
					    border-radius: 40px;
					    display: inline-block;
					    content: '';
			    	}
			    	&:before{
			    		top: 3px;
					    left: -36px;
					    width: 8px;
					    content: '';
					    height: 15px;
					    border-radius: 40px;
					    display: inline-block;
					    border-right: 2px solid #ffffff;
					    border-bottom: 2px solid #ffffff;
			    	}
			    }
			    input.filled-in:checked + label{
				    &:after {
					    background-color: #67c078;
					    display: inline-block;
					}
					&:before{
						top: -1px;
					    left: -36px;
					    width: 8px;
					    height: 15px;
					    display: inline-block;
					    border-right: 2px solid #ffffff;
					    border-bottom: 2px solid #ffffff;
					}
				}
			}
			.tag-container{
				.add-tags{
					margin-top: 15px;
					input{
						width: 200px;
					}
				}
			}  
		} 
	}
}

