@import "definition";

@import "header-mobile";
@import "form-mobile";
@import "task-mobile";
@import "deal-mobile";
@import "accordion";



/************************************************
Global Styes
*************************************************/

@media only screen and (max-width: 1280px){
	.header{
		nav.top-menu{
			ul{
				li{
					a{
						padding: 30px 22px;
					}
				}
			} 
		} 
	}  
}
@media only screen and (max-width: 992px){}


@media only screen and (max-width: 767px){
	.vetical-tab-nav{
		.profile-wrapper{
			.dropdown-button{
				left: auto;
				right: 0px;
			}
		} 
		.ver-tabs-panel{
			.profile-wrapper{
				margin-bottom: 20px;
			}
		}
	} 
	.container {
	    width: 90%;
	}

	.input-area{
		padding-right: 10px;
	}

	.demo-content:before{
		width: 30%;
	}

	.add-input{
		display: block;
	}

	.input-field #default_contact + label{
		margin-bottom: 20px;
	}

	.settings-tabs{
		.left-border{
			border: none;
			padding-left: 15px;
		}
	}

	.feeds-list{
		.feeds-list-inner{
			padding: 20px 15px;
		}
		.feeds{
			padding: 0 0 0 25px;
	    	position: relative;
	    	p{
	    		margin: 0 0 5px 0;
	    	}
	    	.timeline{
	    		position: absolute;
	    		&:before {
	    			height: 65px;
	    		}
	    	}
	    	&:last-child{
	    		.timeline{
		    		&:before {
		    			display: none;
		    		}
		    	}
	    	}
		}
	}

	.header{
		nav.top-menu{
			ul{
				li{
					a{
						padding: 22px 16px;
					}
				}
			}
		} 
	} 

	.buttons a{
		&.linkedin-button,
		&.google-button{
			font-size: 12px;
		}
	}

	.card-lists .card {
    	width: 48%;
    	margin: 0 1% 20px;
    }

    .login-right-side{
   		&.right{
   			display: none;
   		}
   	}

   	.login-inner{
   		.login-left-side{
   			&.left{
   				width: 100% !important;
   			}
   		}
   	} 
   	.login-wrapper{
   		.login-inner-content-wrapper{
   			.login-inner-content{
   				.login-inner{
   					overflow: auto;
   				}
   			}
   		}
   	}   
   	.signup-form-wrapper{
	    width: 100%;
	    z-index: -1;
	    left: 0;
	    padding: 20px;
	    top: 0;
	    display: none;
   	}

	.logo-upload,
	.picture-upload{
		.logo-wrapper,
		.picture-wrapper{
			width: 100%;
		}
	}

	.login-wrapper{
		.login-inner-content-wrapper{
			.login-inner-content{
				.login-inner{
					.login-left-side{
						width: 100%;
						padding: 40px 20px;
						h3{
							line-height: 25px;
							margin-bottom: 50px;
						}
						h2{
							font-size: 18px;
						}
					}
				}
			}
		}
	}   

	.header{
		.right-nav{
			.notification{
				padding: 0px;
			}
		} 
	} 

	.side-nav{
		background-color: #f7f8f9;
		li{
			border-bottom: 1px solid #95c3d8;
		}
	}
	.wrapper{
		padding-top: 85px;
	}

	.select-wrapper{
		margin-bottom: 20px;
	}

	.widgets{
		.select-wrapper{
			margin-bottom: 10px;
			width: 95%;
		} 
		.add-input{
			span{
				right: -15px;
			}
		} 
	}

	form{
		.widgets{
			.field-group{
				.add-more{
					right: -15px;
				}
				.select-wrapper{
					input[type=text]{
						margin: 0 0 30px 0;
					}
				} 
			}
		} 
	} 

	.notes-form{
		padding: 40px 20px 40px 30px;
		span.note-border{
			width: 20px;
		}
	}

	.invoice-error{
		text-align: center;
	}

	.logo-upload{
		padding-top: 30px;
	}
	.container{
		.row{
			.col {
	   	 		padding: 0 15px !important;
			} 
		} 
	}

	.row{
		margin-bottom: 0px;
	}

	.row .col.s12 {
	    width: 100%;
	}

	.modal{
		max-width: 90%;
    	margin: 20px auto;
	}

	.header{
		position: absolute;
		.right-nav{
			padding: 27px 0;
			.notification-wrapper{
				right: -260px;
				&.notification-open{
					right: 10px;
					display: block;
					opacity: 1;
				}
			}
		} 
	}



	#tabs{
		ul.ui-tabs-nav{
			li{
		    	padding: 0 15px;
		    	a{
		    		font-size: 12px;
		    	}
			}
		}
	}  
	.task-structure{
		margin: 0px auto;
		.tasks{
			width: 100%;
			margin: 0 0 20px;
		}
	}
	
	.more-task-popup{
		&.contextual-tasks{
			top: 50px;
    		right: 40px;
    		left: auto !important;
		}
		&.more-task-popup-open{
			margin: 20px 0px 0;
		}
		&:after{
			left: 86%;
		}
	}
	.screens{
		margin-bottom: 20px;
	}
	ul.all-documents{
		li{
			.document-area{
				float: none;
				margin: 0 auto;
			}
		}
	}
	.card-lists .card {
   		width: 100%;
   		margin: 0 0 20px;
   	}
    
   	.invoice-grid{
   		
   	}

   	.invoice-grid {
   		overflow: auto;
   		.content-table, 
   		.content-table-header, 
   		.content-table-body{
   			width: 900px;
   		}
   		.content-table-data:first-child{
   			width: 38% !important;
   		}
   		.content-table-data:nth-child(2) {
		    width: 17%;
		}
   	}

   	
	.list-search{
		position: relative;
		right: 0;
		width: 100%;
		top: 0;
		margin: 0 auto;
		input.search{
			transform: translateX(0px); 
			opacity: 1;
			margin-bottom: 20px;
		}
	}

   	.deal-card-list{
   		.card{
   			margin-right: 0px;
   			width: 100%;
   			&.card-small{
   				width: 100%;
   			}
   		}
   	} 

   	.select-dashboard{
   		ul{
   			margin-bottom: 30px;
   			li{
   				margin-bottom: 5px;
	   			&:after{
	   				display: none;
	   			}
	   			&.active{
	   				a{
	   					font-size: $font-13;
	   				}
				} 
			}
		} 
	} 

   	.dashboard-contents-wrapper{
   		.dashboard-contents{
   			padding: 15px;
   		}
   	} 
   	.graphs-wrapper{
   		margin-bottom: 30px;
   		.graph{
   			padding: 10px;
   			height: 400px;
   			canvas#chart-area{
				width: 340px !important;
				height: 340px !important;
   			}
   		}
   	} 
   	.tabs-wrapper{
   		.feeds-list{
   			overflow: auto;
   			.content-table{
   				width: 800px;
   				overflow: hidden;
   			}
   		} 
   	}
   	.contacts-grid{
   		&.user-grid{
   			overflow: auto;
   			.content-table{
   				width: 900px;
   			}
   		}
   	} 
   	.tabs-wrapper{
   		.user-grid.contacts-grid{
   			.select-all{
   				.filled-in:not(:checked){
   					+ label:after{
						left: 9px;
						top: 9px;
   					}
   				}
   				.filled-in:checked{
   					+ label:after{
   						top: 9px;
   					}
   					+ label:before{
   						top: 8px;
   					}
   				} 
   			}
   		}
   	}   
   	.email-settings{
   		[type="checkbox"]{
	   		&.filled-in:not(:checked){
	   			+ label:after{
	   				top: 4px;
	    			left: 0;
	    			right: auto;
	   			}
	   			+ label:before{
	   				top: 4px;
				    left: 1px;
				    right: auto;
	   			}
	   		}
	   		&.filled-in:checked{
	   			+ label:after{
	   				top: 4px;
	    			left: 0;
	    			right: auto;
	   			}
	   			+ label:before{
	   				top: 4px;
				    left: 1px;
				    right: auto;
	   			}
	   		} 
	   	} 
   	} 
   	.collapsible-body{
   		padding: 15px;
   	}

   	.tabs-wrapper{
   		.user-grid{
   			.content-table-data{
   				width: 13.5%;
   				&:last-child {
				    width: 14% !important;
				}
   			}
   		}
   	}  

   	.send-mail{
   		margin-bottom: 0px;
   	}

   	.content-table-wrapper{
   		max-width: 600px;
   		width: 100%;
   		overflow: auto;
   		.content-table{
   			width: 1000px;
   		}
   	}
   	
}

@media only screen and (max-width: 600px){
	
	.select-payment,
	.invoice-wrapper{
   		.buttons{
   			button {
			    margin: 0 auto 15px;
			    display: block;
			    font-size: $font-13;
			    width: 140px;
   			} 
		}
   	}
   	.buttons{
		button {
		    margin: 0 5px;
			font-size: $font-12;
		} 
	}
   	.numbers{
   		ul{
   			li{
   				width: 100%;
   				padding: 0px;
   				border-right: none;
   				margin-bottom: 20px;
   			}
   		}
   	} 

   	.dashboard-contents-wrapper{
   		.feeds-list{
   			overflow: auto;
   			.content-table{
   				width: 500px;
   			}
   		}
   	} 
   	
   	.buttons a.linkedin-button{
   		margin-bottom: 20px;
   	}
   	
   	.deal-card-list
   	{
   		 margin-bottom: 0px;
   		 .deal-card
   		 {
   		 	padding: 10px 15px;
   		 	h2
	   		{
	   		 	color: #3a3a3a;
	   		 	font-size: 14px;
    			margin-bottom: 6px;
	   		}
   		 	.proposal-view
   		 	{
   		 		border-right: 1px solid #95c3d8;
   		 		float: left;
    			width: 50%;

	   		 	.year
	   		 	{
	   		 		color: #3a3a3a;
	   		 		text-align: left;
	   		 		border-bottom: none;
	   		 		padding-bottom: 6px;
	   		 	}
	   		 	.price
	   		 	{
	   		 		color: #3a3a3a;
				    font-size: 24px;
				    margin-bottom: 6px;

	   		 		span
	   		 		{
	   		 			font-size: 18px;
	   		 		}

	   		 		
	   		 	}
   		 	}
   		 	.won-view
   		 	{
   		 		float: left;
   		 		width: 30%;
   		 		margin-left: 30px;

   		 		.year
	   		 	{
	   		 		color: #3a3a3a;
	   		 		text-align: left;
	   		 		border-bottom: none
	   		 	}
	   		 	.price
	   		 	{
	   		 		color: #3a3a3a;
				    font-size: 24px;
				    margin-bottom: 6px;

	   		 		span
	   		 		{
	   		 			font-size: 18px;
	   		 		}

	   		 		
	   		 	}
   		 	}
   		 }
   	}
   	.deal-colour
   	{
   		padding: 47px 20px 50px;
	    margin-bottom: 0;
	    background: #f7f8f9;
	    border: 1px solid #95c3d8;
	    border-radius: 5px;
   	}
   	.numbers
   	{
   		padding: 10px 15px 10px;
	    margin-bottom: 20px;
	    background: #f7f8f9;

	    ul
	    {
	    	li
	    	{
	    		margin-bottom: 0px;

	    		.numers-header
	    		{
	    			font-size: 14px;
	    			margin-bottom: 5px;
	    		}
	    		.price
	    		{
	    			font-size: 24px;
	    		}
	    	}
	    }
   	}
	h3 
	{
	    margin-bottom: 30px;
	    font-size: 16px;
	}
}


@media only screen and (max-width: 425px){
	.invoice-grid {
   		.content-table, 
   		.content-table-header, 
   		.content-table-body{
   			width: 600px;
   		}
   	}
   	.deal-card-list{
   		.deal-card{
   			width: 100%;
    		margin-right: 0;
   		}
   	} 
}
