@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Open+Sans:300,400,600,700");
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.logo-wrapper {
    margin-bottom: 40px;
    padding: 20px 40px;
    background: #fff;
    border-bottom: 1px solid #95c3d8;
}

.row {
    margin-bottom: 0px !important;
}

.clear-fix {
    clear: both;
}

.clear-fix:before {
    display: table;
    content: " ";
}

.clear-fix:after {
    display: table;
    content: " ";
    clear: both;
}

.button .btn-green {
    background: #80cbc4;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: none;
}

.installation-wrapper {
    background: url(../img/installation-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.installation-wrapper span.blue-overlay {
    background: rgba(22, 122, 198, 0.75);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.installation-frame-outer {
    display: table;
    width: 100%;
    height: 100%;
}

.installation-frame-outer .installation-frame-inner {
    display: table-cell;
    vertical-align: middle;
}

.installation-frame-outer .installation-frame-contain {
    max-width: 900px;
    width: 100%;
    background: #f8f8f8;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #95c3d8;
}

.installation-frame-outer .installation-frame-contain .full-width {
    width: 100%;
    /*border-right: 4px solid #9cc7db; */
}


/*.installation-frame-outer .installation-frame-contain .full-width .form-wrapper{        width: 60%;        margin: 0 auto; }*/

.installation-frame-outer .installation-frame-contain .full-width h1 {
    font-weight: 400;
    text-align: center;
    color: #0482bb;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.installation-frame-outer .installation-frame-contain .full-width span.form-title {
    font-weight: 600;
    color: #4d4d4d;
    font-style: normal;
    display: block;
    padding: 0 10px;
    position: absolute;
    top: 45px;
    left: -38px;
    font-size: 13px;
    line-height: 17px;
}

.installation-frame-outer .installation-frame-contain .full-width span.caret {
    margin: auto 0;
}

.select-wrapper ul li span {
    text-align: left !important;
    font-style: normal !important;
    font-weight: 400 !important;
    margin-bottom: 0px !important;
    font-size: 13px !important;
}

.installation-frame-outer .installation-frame-contain .full-width .form-one,
.installation-frame-outer .installation-frame-contain .full-width .form-two {
    width: 70%;
    margin: 0 auto;
}

.installation-frame-outer .installation-frame-contain .full-width form {
    margin: 0 auto 40px;
    padding;
    0 80px;
}

.installation-frame-outer .installation-frame-contain .full-width form .input-field label:not(.label-icon).active,
.installation-frame-outer .installation-frame-contain .full-width form .input-field label {
    font-size: 13px;
    color: #3a3a3a;
}

.installation-frame-outer .installation-frame-contain .full-width form .input-field input[type=text] {
    text-transform: none;
    color: #3a3a3a;
    border-bottom: 1px solid #dadada;
}

.installation-frame-outer .installation-frame-contain .full-width form .input-field input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #dadada;
    box-shadow: 0 1px 0 0 #dadada;
}

.installation-frame-outer .installation-frame-contain .left-side {
    width: 70%;
    float: none;
    margin: 0 auto;
}

.installation-frame-outer .installation-frame-contain .right-side {
    width: 35%;
    float: left;
    border-left: 4px solid #9cc7db;
}

.installation-frame-outer .installation-frame-contain .right-side .logo-wrapper {
    margin: 0 auto 40px;
}

.installation-frame-outer .installation-frame-contain .right-side .company-logo {
    border: none;
}

.installation-frame-outer .installation-frame-contain .right-side .company-logo img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.installation-frame-outer .installation-frame-contain .right-side .company-details {
    text-align: center;
}

.installation-frame-outer .installation-frame-contain .right-side .company-details h2 {
    color: #0482bb;
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.installation-frame-outer .installation-frame-contain .right-side .company-details p {
    margin: 0px;
    font-size: 13px;
    font-weight: 600;
    color: #4d4d4d;
    text-align: center;
}

.installation-frame-outer .installation-frame-contain .right-side .company-details p span {
    margin-bottom: 0px;
    display: inline-block;
    font-style: normal;
    font-size: 13px;
}

.form-layout {
    width: 100%;
}

.form-layout div:last-child {
    margin-right: 0px;
}

.form-layout-100 {
    width: 100% !important;
}

.form-wrapper {
    position: relative;
    padding-bottom: 50px;
}

.form-wrapper .form-two,
.form-wrapper .form-three {
    display: none;
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}

.hidden {
    opacity: 0;
}

.logo-upload {
    display: table;
    height: 215px;
    width: 100%;
}

.file-path-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -moz-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    display: block !important;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper {
    position: relative;
    margin-bottom: 60px;
    width: 450px;
    margin: 0 auto 90px;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .step-slider {
    position: relative;
    top: 8px;
    border-bottom: 2px dotted #67d4a4;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .step-slider .step.half {
    position: absolute;
    width: 50%;
    background: #43a047;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .step-slider .step.full {
    position: absolute;
    width: 100%;
    background: #43a047;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .steps {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: #68d4a5;
    top: -12px;
    cursor: pointer;
    margin: 0px;
    color: #fff;
    line-height: 38px;
    font-size: 16px;
    text-align: center;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .steps.active {
    background: #ffffff;
    border: 2px solid #67d4a4;
    color: #68d4a5;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .steps.one {
    left: -2px;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .steps.two {
    left: 50%;
    margin-left: -15px;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .steps.three {
    right: -2px;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .steps.two .form-title {
    left: -34px;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .steps.three .form-title {
    left: -23px;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .steps i {
    display: none;
    position: absolute;
    left: 6px;
    top: 6px;
    color: #1c9c64;
    font-weight: 600;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .steps.activate .number {
    display: none;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .steps.activate i {
    display: block;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .steps.activate {
    background: transparent;
    border: 2px solid transparent;
    color: #ffffff;
}

.installation-frame-outer .installation-frame-contain .full-width .step-slider-wrapper .steps.activate .checkMark{
	opacity: 1;
}

.connection-error span {
    color: #fb3737;
    font-size: 13px;
    padding: 15px 0 0;
    display: block;
}

.checkBox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(255, 255, 255, 0.5);
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #68d4a5;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkMark {
	opacity: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: auto;
    box-shadow: inset 0px 0px 0px #68d4a5;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 50px #68d4a5;
    }
}