body {
  background-color: #fcfcfc;
}

#avatar-modal form{
  margin: 0px;
}

.avatar-view {
  display: block;
  margin: 40px auto 20px;
  height: 120px;
  width: 220px;
  border: 2px solid #95c3d8;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.img-size{
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.personal-info .avatar-view {
  height: 220px;
}

.avatar-view img {
  width: 100%;
}

.avatar-upload {
  overflow: hidden;
  padding: 20px 0;
}

.avatar-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
  color: #757575;
  paddign-top: 6px;
  font-size: 15px;
}

.avatar-upload input {
  display: block;
  margin-left: 110px;
}

.avatar-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  height: 364px;
  width: 100%;
  margin: 15px 0;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.avatar-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
  width: 100%;
}

.preview-lg {
  height: 184px;
  width: 184px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}



.avatar-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}


@media (min-width: 992px) {
  .avatar-preview {
    float: none;
  }
}

@media screen and ( max-width: 767px ){
  .avatar-upload label{
    margin-bottom: 20px;
  }

  .avatar-upload input{
    margin-left: 0px;
  }
}
