      /****CUSTOM STYLESHEET*****/
        @import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
        @import url('https://fonts.googleapis.com/css?family=Niconne');
        body
        {
            background: #f4f4f8;
            padding: 20px 0;
        }
        table.table
        {
            max-width: 742px;
            width: 100%;
            height: auto;
            margin: 0 auto;
            border: 1px solid #95c3d8;
            -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
        }
        table
        {
            width: 100%;
        }
        table.table> tbody > tr > td
        {
            padding: 10px 30px;
        }
        table tr td table tr td.headertag
        {
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            font-size: 40px;
            text-transform: uppercase;
            color: #4d4d4d;
        }
        table tr td table tr td.headerinfo
        {
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: #4d4d4d;
        }

        table tr td table tr td.secondrow p.secondrowtitle
        {
            font-family: 'Montserrat', sans-serif;
            font-weight: 900; 
            font-size: 16px;
            letter-spacing: 1px;
            margin-bottom: 10px; 
        }
        table tr td table tr td.secondrow p.secondrowtitle span
        {
            font-family: 'Niconne', cursive;
            font-size: 25px;
            font-weight: 400;
        }
        table tr td table tr td.secondrow p
        {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: #4d4d4d;
            margin-bottom: 5px;
        }
        table tr.bluetable,
        table tr.bluetableview
        {
            background: #d0e5fd;

        }
        table tr.bluetableview td.blankspace,
        table tr.bluetableview td.blankspaceview
        {
            width: 530px;
        }
        table tr.bluetableview td
        {
            font-family: 'Open Sans', sans-serif;   
            font-size: 12px;
            font-weight: 500;
            color: #4d4d4d;
            padding: 10px;
        }
        table tr.bluetable td table tr.bluetableheader th
        {
            
            font-family: 'Open Sans', sans-serif;   
            font-size: 14px;
            font-weight: 600;
            color: #4d4d4d;
            padding: 10px;
            padding-top: 30px;
        }
        table tr.bluetable td table tr.bluetableheader td
        {
           
            font-family: 'Open Sans', sans-serif;   
            font-size: 12px;
            font-weight: 500;
            color: #4d4d4d;
            padding: 10px;
        }
        tr.bordertop
        {
            border-top: 1px solid #95c3d8;
        }
        tr.borderbottom
        {
            border-bottom: 1px solid #95c3d8;
        }
        table tr.bluetable td table tr.bluetablefooter td
        {
           
            font-family: 'Open Sans', sans-serif;   
            font-size: 12px;
            font-weight: 500;
            color: #4d4d4d;
            padding: 10px;
        }
        table tr.bluetableview td table tr.bluetablefooter th
        {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: #4d4d4d;
            padding: 10px;
        }
        table tr.bluetable td table tr.bluetableheader th.desc
        {
            width: 250px;
        }
        .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td
        {
            border-top: transparent;
        }
        table tr td table tr td.secondrow
        {
            padding: 20px 0 50px 0;
        }
        table tr td table tr td.largewidth
        {
           width: 68%;
        }
        table tr td table tr td.smallwidth
        {
           width: 22%;
        }
        table tr.companyinfo td table tr td h1
        {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 600;
            color: #4d4d4d;
            text-transform: uppercase;
            margin: 0;
            padding: 20px 0;
        }
        table tr.companyinfo td table tr td p
        {
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            font-weight: 400;
            color: #4d4d4d;
            line-height: 20px;
            margin-bottom: 30px;
        }
        table tr.companyinfo td table tr td
        {
            width: 50%;
            vertical-align: top;
        }
        table tr.footer  td table tr
        {
            border-top: 1px solid #f0f0f0;
            border-bottom: 1px solid #f0f0f0;
        }
        table tr.footer > td
        {
            padding-bottom: 140px !important;
            background: #fff;
        }
        table tr.footer td table tr td p span.thankyou
        {
            font-family: 'Open Sans', sans-serif;
            font-size: 54px;
            font-weight: 600;
            color: #4d4d4d;
        }
        table tr.footer td table tr td p span.cursive
        {
            font-family: 'Niconne', cursive;
            font-size: 25px;
            font-weight: 400;
        }
        table tr.footer td table tr td p
        {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 600;
            color: #4d4d4d;
            text-align: center;
        }
        table.footerportion tr td table tr td p
        {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            font-weight: 600;
            color: #9a9a9a;
            margin: 0;
            padding: 50px 0 20px 0;
        }
        tr.companyinfo td {
            background: #fff;
            padding: 20px;
        }
        table.footerportion
        {
            max-width: 742px;
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
        table.table tr.whitebackground
        {
            background: #fff;
        }
        tr.bordertop td
        {
            padding-top: 20px !important;
        }
        tr.borderbottom td
        {
            padding-bottom: 20px !important;
        }
        tr.bluetableview td table tr.bluetablefooterView td.footerblank
        {
            width: 68%;
        }
        tr.bluetableview td table tr.bluetablefooterView td.blueborder
        {
            width: 20%;
            border-bottom: 1px solid #95c3d8;
        }

      /****BOOTSTRAP STYLE*****/
        table {
          border-collapse: collapse;
          border-spacing: 0; }
        td,
        th {
          padding: 0; }
        thead {
          display: table-header-group; }
        tr,
        img {
          page-break-inside: avoid; }
        
        .table {
          border-collapse: collapse !important; }
        .table-bordered th,
        .table-bordered td {
          border: 1px solid #ddd !important; } } 
        table {
          max-width: 100%;
          background-color: transparent; }
        th {
          text-align: left; }

        .table {
          width: 100%;
          margin-bottom: 20px; }
          .table > thead > tr > th,
          .table > thead > tr > td,
          .table > tbody > tr > th,
          .table > tbody > tr > td,
          .table > tfoot > tr > th,
          .table > tfoot > tr > td {
            padding: 8px;
            line-height: 1.42857;
            vertical-align: top;
             }
          .table > thead > tr > th {
            vertical-align: bottom;
            border-bottom: 2px solid #ddd; }
          .table > caption + thead > tr:first-child > th,
          .table > caption + thead > tr:first-child > td,
          .table > colgroup + thead > tr:first-child > th,
          .table > colgroup + thead > tr:first-child > td,
          .table > thead:first-child > tr:first-child > th,
          .table > thead:first-child > tr:first-child > td {
            border-top: 0; }
          .table > tbody + tbody {
            border-top: 2px solid #ddd; }
          .table .table {
            background-color: #fff; }
        @media (max-width: 767px) {
          .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            overflow-x: scroll;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            
            -webkit-overflow-scrolling: touch; }
            .table-responsive > .table {
              margin-bottom: 0; }
              .table-responsive > .table > thead > tr > th,
              .table-responsive > .table > thead > tr > td,
              .table-responsive > .table > tbody > tr > th,
              .table-responsive > .table > tbody > tr > td,
              .table-responsive > .table > tfoot > tr > th,
              .table-responsive > .table > tfoot > tr > td {
                white-space: nowrap; }
            .table-responsive > .table-bordered {
              border: 0; }
        }