/************************************************
Google Fonts
*************************************************/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");
@font-face {
  font-family: 'lucida_sansdemibold_roman';
  src: url("../fonts/lucida/lucida_sans_demibold_roman-webfont.woff2") format("woff2"), url("../fonts/lucida/lucida_sans_demibold_roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/************************************************
Background colors
*************************************************/
/************************************************
Text colors
*************************************************/
/************************************************
Buttons colors
*************************************************/
/*$btn-save: #43a047;*/
/************************************************
Font Sizes
*************************************************/
/************************************************
Tag colors
*************************************************/
/************************************************
Global Mixings
*************************************************/
.mobile-menu a.button-collapse {
  z-index: 998;
  display: inline-block;
  position: absolute;
  top: 34px;
  left: 15px;
  padding: 5px; }
.side-nav a
{

    text-transform: capitalize;
}
.deal-card-list .card h2
{
font-weight:700;
}
.mobile-menu .profile {
  padding: 20px; }
  .mobile-menu .profile a {
    padding: 0px; }
    .mobile-menu .profile a:hover {
      background: transparent; }

.header {
  position: absolute; }
  .header .right-nav {
    padding: 27px 0;
    text-align: right; }
    .header .right-nav .notification-wrapper {
      right: -260px; }
      .header .right-nav .notification-wrapper.notification-open {
        right: 10px;
        display: block;
        opacity: 1; }
  .header .logo-wrapper {
    height: auto; }
    .header .logo-wrapper a {
      padding-left: 45px; }

.stiky-menu-icons {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #2f333a;
  bottom: 0px;
  z-index: 99;
  text-align: center; }
  .stiky-menu-icons ul {
    padding: 12px 0 0 0;
    margin: 0px; }
    .stiky-menu-icons ul li {
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      display: inline-block;
      width: 19%; }
      .stiky-menu-icons ul li a {
        background: url(../img/sprite.png) no-repeat 0 0;
        height: 36px;
        width: 36px;
        text-indent: -99999px;
        display: block;
        margin: 0 auto;
        opacity: 0.5; }
.stiky-menu-icons ul li a:active
{
opacity:1;
}
        .stiky-menu-icons ul li a.contact-icon {
          background-position: -1px -474px; }
        .stiky-menu-icons ul li a.deal-icon {
          background-position: -59px -474px; }
        .stiky-menu-icons ul li a.task-icon {
          background-position: -7px -530px; }
        .stiky-menu-icons ul li a.invoice-icon {
          background-position: -60px -530px; }
        .stiky-menu-icons ul li a.estimate-icon {
          background-position: -110px -474px; }
        .stiky-menu-icons ul li a:hover {
          opacity: 1; }

/*
.form-layout-10{
	width: 7.5%;
	float: left;
	margin-right: 20px;
}

.form-layout-20{
	width: 17.5%;
	float: left;
	margin-right: 20px;
}

.form-layout-30{
	width: 100%;
	float: none;
	margin-right: 0px;
}

.form-layout-33{
	width: 100%;
	float: none;
	margin-right: 0px;
}

.form-layout-40{
	width: 100%;
	float: none;
    margin-right: 0px;
}

.form-layout-50{
	width: 100%;
	float: none;
    margin-right: 0px;
}

.form-layout-60{
	width: 100%;
	float: none;
	margin-right: 0px;
}

.form-layout-80{
	width: 100%;
	float: none;
	margin-right: 0px;
}
*/
.form-layout-100 {
  width: 100%;
  float: none; }
  .form-layout-100 input {
    width: 100%; }
  .form-layout-100 .input-area input {
    width: 50%; }

.task-structure {
  width: 100%;
  height: auto;
  margin: 0px; }
  .task-structure .tasks {
    padding: 20px;
    border: 1px solid #95c3d8;
    border-radius: 3px;
    box-shadow: none;
    width: 48%;
    margin: 0 1% 20px; }
    .task-structure .tasks:hover {
      padding: 20px;
      border: 1px solid #95c3d8;
      border-radius: 3px;
      box-shadow: none; }
    .task-structure .tasks.task-complete .mobile-tag-container .tags {
      background: #b9b9b9 !important; }
    .task-structure .tasks.task-complete .tasks-priority-view {
      background: #b9b9b9 !important; }
    .task-structure .tasks input.filled-in:not(:checked) + label:before {
      display: none; }
    .task-structure .tasks input.filled-in:not(:checked) + label:after {
      display: none; }
    .task-structure .tasks label {
      margin-left: 0;
      width: 100%; }
      .task-structure .tasks label:before, .task-structure .tasks label:after {
        display: none; }
    .task-structure .tasks div.task-assignee {
      padding-left: 0; }
    .task-structure .tasks div.mobile-tag-container {
      padding-top: 20px; }
      .task-structure .tasks div.mobile-tag-container span.tags {
        padding: 3px 8px 3px 8px;
        color: #fff;
        font-size: 12px;
        float: left;
        margin-right: 5px;
        font-weight: 600;
        border-radius: 3px;
        display: inline-block; }
    .task-structure .tasks div.tasks-status {
      padding-top: 20px; }
      .task-structure .tasks div.tasks-status span.tasks-priority-view {
        padding: 3px 10px 3px 30px;
        color: #fff;
        background: #b9b9b9;
        font-size: 12px;
        font-weight: 600;
        border-radius: 3px;
        text-transform: uppercase;
        position: relative; }
        .task-structure .tasks div.tasks-status span.tasks-priority-view:after {
          position: absolute;
          content: '';
          height: 13px;
          width: 14px;
          top: 5px;
          left: 10px;
          background: url(../img/sprite.png) no-repeat -13px -227px; }
  .task-structure a.icons {
    position: absolute;
    right: 14px;
    top: auto;
    bottom: 20px;
    margin-top: -14px; }

.tasks .edit-tasks {
  margin-left: 0px; }
  .tasks .edit-tasks .edit-task-header {
    margin-bottom: 20px; }
    .tasks .edit-tasks .edit-task-header .tasks-priority {
      position: relative;
      left: 0;
      right: auto; }
  .tasks .edit-tasks .task-description textarea {
    height: 85px; }
  .tasks .edit-tasks .edit-task-footer .task-assignee {
    margin-bottom: 20px; }
    .tasks .edit-tasks .edit-task-footer .task-assignee .select-wrapper {
      margin-bottom: 0px; }
  .tasks .edit-tasks .edit-task-footer .mark-done {
    padding: 30px 0 20px 0; }
    .tasks .edit-tasks .edit-task-footer .mark-done label {
      float: none;
      margin-left: 40px; }
    .tasks .edit-tasks .edit-task-footer .mark-done input.filled-in:not(:checked) + label:after {
      height: 27px;
      width: 27px;
      top: -4px;
      left: -40px;
      border-radius: 40px;
      display: inline-block;
      content: ''; }
    .tasks .edit-tasks .edit-task-footer .mark-done input.filled-in:not(:checked) + label:before {
      top: 3px;
      left: -36px;
      width: 8px;
      content: '';
      height: 15px;
      border-radius: 40px;
      display: inline-block;
      border-right: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff; }
    .tasks .edit-tasks .edit-task-footer .mark-done input.filled-in:checked + label:after {
      background-color: #67c078;
      display: inline-block; }
    .tasks .edit-tasks .edit-task-footer .mark-done input.filled-in:checked + label:before {
      top: -1px;
      left: -36px;
      width: 8px;
      height: 15px;
      display: inline-block;
      border-right: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff; }
  .tasks .edit-tasks .edit-task-footer .tag-container .add-tags {
    margin-top: 15px; }
    .tasks .edit-tasks .edit-task-footer .tag-container .add-tags input {
      width: 200px; }
    .tasks .edit-tasks .edit-task-footer .tag-container .add-tags .add-input {
      right: -30px; }

.header {
  z-index: 995; }

.drag-container .drag-wrapper {
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  margin: 0 auto;
  position: relative; }
  .drag-container .drag-wrapper a.nxt {
    height: 35px;
    width: 35px;
    background: #5572f7 url(../img/arrow.svg) no-repeat 4px 2px;
    position: fixed;
    text-indent: 99999px;
    right: 22px;
    top: 60%;
    display: block;
    border-radius: 3px;
    z-index: 2; }
  .drag-container .drag-wrapper a.pre {
    height: 35px;
    width: 35px;
    background: #5572f7 url(../img/arrow.svg) no-repeat -27px 2px;
    position: fixed;
    text-indent: 99999px;
    left: 22px;
    top: 60%;
    display: block;
    border-radius: 3px;
    z-index: 2; }
  .drag-container .drag-wrapper .drag-list {
    width: 100%;
    /*height: 918px;*/
    position: relative; }
    .drag-container .drag-wrapper .drag-list .drag-column {
      margin: 0px;
      position: absolute;
      width: 100%;
      padding: 80px 0;
      display: none;
      -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      -moz-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .drag-container .drag-wrapper .drag-list .drag-column.active {
        display: block;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        -moz-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
    .drag-container .drag-wrapper .drag-list .drag-header {
      padding: 0 15px; }
      .drag-container .drag-wrapper .drag-list .drag-header ul li {
        display: block;
        margin: 0 0 5px; }

.note-lists ul li {
  margin: 0 0 5px 0;
  transform: scale(0.8); }

.notes.note-add {
  position: relative;
  transform: scale(0.8); }
  .notes.note-add .btn-floating {
    right: 50% !important;
    bottom: 50% !important;
    margin: 0 -25px -25px 0; }

.deals-wrapper {
  overflow: auto;
  margin-bottom: 15px; }
  .deals-wrapper .deal-stage-wrapper {
    width: 600px; }

.collapsible {
  box-shadow: none; }

.collapsible-body {
  position: relative; }
  .collapsible-body .btn-floating.btn-large {
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5); }
    .collapsible-body .btn-floating.btn-large i {
      line-height: 50px; }

.collapsible-header {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 15px;
  position: relative; }
  .collapsible-header:after {
    position: absolute;
    content: '';
    background: url(../img/dwn-arrow.svg) no-repeat 0 0;
    height: 15px;
    width: 15px;
    right: 20px;
    top: 18px; }
  .collapsible-header.active {
    color: #3949ab; }
    .collapsible-header.active:after {
      background: url(../img/up-arrow.svg) no-repeat 0 0;
      top: 18px; }

.vetical-tab-nav .vertical-nav-wrap {
  float: left;
  width: 100%;
  border-right: none;
  min-height: auto; }
  .vetical-tab-nav .vertical-nav-wrap .user-search {
    margin-bottom: 0px; }
  .vetical-tab-nav .vertical-nav-wrap ul {
    padding: 20px;
    overflow: auto;
    height: 170px;
    border-bottom: 1px solid #95c3d8; }
.vetical-tab-nav .vertical-tabs-content {
  width: 100%;
  border-left: none; }
.vetical-tab-nav .permissions-lists {
  overflow: auto; }
  .vetical-tab-nav .permissions-lists .permissions-list {
    width: 600px; }

/************************************************
Global Styes
*************************************************/
@media only screen and (max-width: 1280px) {
  .header nav.top-menu ul li a {
    padding: 30px 22px; }
    .login-wrapper .login-inner-content-wrapper .login-inner-content .login-inner .login-left-side
    {
      width: 100%;
      }
      .right-side-bar, .contacts, .content
      {
        padding: 60px 30px;
       }
       .modal .modal-close
       {
            position: absolute;
          right: -30px;
          top: -20px;
       }
       .drag-container
       {
        margin: 0 auto;
       }
       .drag-container .drag-list .drag-inner-list
       {
        border-right: none;
        background: none;
       }
       .drag-container .drag-wrapper a.nxt
       {
        right: 32px;
       }
       .bottom-header {
    padding: 22px 13px;
}
div.content-table-wrapper{
      max-width: 960px;
    width: 100%;
    overflow: auto
}
div.content-table-wrapper div.content-table
{
  width: 1000px;
}
      }
@media only screen and (max-width: 767px) {
  .vetical-tab-nav .profile-wrapper .dropdown-button {
    left: auto;
    right: 0px; }
  .vetical-tab-nav .ver-tabs-panel .profile-wrapper {
    margin-bottom: 20px; }
.side-nav a
{

    text-transform: capitalize;
font-weight:700;
}
.deal-card-list .card h2
{
font-weight:700;
}
  .container {
    width: 90%; }

  .input-area {
    padding-right: 10px; }

  .demo-content:before {
    width: 30%; }

  .add-input {
    display: block; }

  .input-field #default_contact + label {
    margin-bottom: 30px; }

  .settings-tabs .left-border {
    border: none;
    padding-left: 15px; }

  .feeds-list .feeds-list-inner {
    padding: 20px 15px; }
  .feeds-list .feeds {
    padding: 0 0 0 25px;
    position: relative; }
    .feeds-list .feeds p {
      margin: 0 0 5px 0; }
    .feeds-list .feeds .timeline {
      position: absolute; }
      .feeds-list .feeds .timeline:before {
        height: 65px; }
    .feeds-list .feeds:last-child .timeline:before {
      display: none; }

  .header nav.top-menu ul li a {
    padding: 22px 16px; }

  .buttons a.linkedin-button, .buttons a.google-button {
    font-size: 12px; }

  .card-lists .card {
    width: 48%;
    margin: 0 1% 20px; }

  .login-right-side.right {
    display: none; }

  .login-inner .login-left-side.left {
    width: 100% !important; }

  .login-wrapper .login-inner-content-wrapper .login-inner-content .login-inner {
    overflow: auto; }

  .signup-form-wrapper {
    width: 100%;
    z-index: -1;
    left: 0;
    padding: 20px;
    top: 0;
    display: none; }

  .logo-upload .logo-wrapper,
  .logo-upload .picture-wrapper,
  .picture-upload .logo-wrapper,
  .picture-upload .picture-wrapper {
    width: 100%; }

  .login-wrapper .login-inner-content-wrapper .login-inner-content .login-inner .login-left-side {
    width: 100%;
    padding: 40px 20px; }
    .login-wrapper .login-inner-content-wrapper .login-inner-content .login-inner .login-left-side h3 {
      line-height: 25px;
      margin-bottom: 50px; }
    .login-wrapper .login-inner-content-wrapper .login-inner-content .login-inner .login-left-side h2 {
      font-size: 18px; }

  .header .right-nav .notification {
    padding: 0px; }

  .side-nav {
    background-color: #f7f8f9; }
    .side-nav li {
      border-bottom: 1px solid #95c3d8; }

  .wrapper {
    padding-top: 85px; }

  .select-wrapper {
    margin-bottom: 20px; }

  .widgets .select-wrapper {
    margin-bottom: 10px;
    width: 95%; }
  .widgets .add-input span {
    right: -15px; }

  form .widgets .field-group .add-more {
    right: -15px; }
  form .widgets .field-group .select-wrapper input[type=text] {
    margin: 0 0 30px 0; }

  .notes-form {
    padding: 40px 20px 40px 30px; }
    .notes-form span.note-border {
      width: 20px; }

  .invoice-error {
    text-align: center; }

  .logo-upload {
    padding-top: 30px; }

  .container .row .col {
    padding: 0 15px !important; }

  .row {
    margin-bottom: 0px; }

  .row .col.s12 {
    width: 100%; }

  .modal {
    max-width: 90%;
    margin: 20px auto; }

  .header {
    position: absolute; }
    .header .right-nav {
      padding: 27px 0; }
      .header .right-nav .notification-wrapper {
        right: -260px; }
        .header .right-nav .notification-wrapper.notification-open {
          right: 10px;
          display: block;
          opacity: 1; }

  #tabs ul.ui-tabs-nav li {
    padding: 0 15px; }
    #tabs ul.ui-tabs-nav li a {
      font-size: 12px; }

  .task-structure {
    margin: 0px auto; }
    .task-structure .tasks {
      width: 100%;
      margin: 0 0 20px; }

  .more-task-popup.contextual-tasks {
    top: 50px;
    right: 40px;
    left: auto !important; }
  .more-task-popup.more-task-popup-open {
    margin: 20px 0px 0; }
  .more-task-popup:after {
    left: 86%; }

  .screens {
    margin-bottom: 20px; }

  ul.all-documents li .document-area {
    float: none;
    margin: 0 auto; }

  .card-lists .card {
    width: 100%;
    margin: 0 0 20px; }

  .invoice-grid {
    overflow: auto; }
    .invoice-grid .content-table,
    .invoice-grid .content-table-header,
    .invoice-grid .content-table-body {
      width: 900px; }
    .invoice-grid .content-table-data:first-child {
      width: 38% !important; }
    .invoice-grid .content-table-data:nth-child(2) {
      width: 17%; }

  .list-search {
    position: relative;
    right: 0;
    width: 100%;
    top: 0;
    margin: 0 auto; }
    .list-search input.search {
      transform: translateX(0px);
      opacity: 1;
      margin-bottom: 20px; }

  .deal-card-list .card {
    margin-right: 0px;
    width: 100%; }
    .deal-card-list .card.card-small {
      width: 100%; }

  .select-dashboard ul {
    margin-bottom: 30px; }
    .select-dashboard ul li {
      margin-bottom: 5px; }
      .select-dashboard ul li:after {
        display: none; }
      .select-dashboard ul li.active a {
        font-size: 13px; }

  .dashboard-contents-wrapper .dashboard-contents {
    padding: 15px; }

  .graphs-wrapper {
    margin-bottom: 30px; }
    .graphs-wrapper .graph {
      padding: 30px 20px;
      height: 350px; }
      .graphs-wrapper .graph.sales-graph .no-sales-data .no-sales, 
      .graphs-wrapper .graph.funnel-graph .no-sales-data .no-sales{
        padding-top: 70px; }
      .graphs-wrapper .graph canvas#chart-area {
        width: 340px !important;
        height: 340px !important; }

  .tabs-wrapper .feeds-list {
    overflow: auto; }
    .tabs-wrapper .feeds-list .content-table {
      width: 800px;
      overflow: hidden; }

  .contacts-grid.user-grid {
    overflow: auto; }
    .contacts-grid.user-grid .content-table {
      width: 900px; }

  .tabs-wrapper .user-grid.contacts-grid .select-all .filled-in:not(:checked) + label:after {
    left: 9px;
    top: 9px; }
  .tabs-wrapper .user-grid.contacts-grid .select-all .filled-in:checked + label:after {
    top: 9px; }
  .tabs-wrapper .user-grid.contacts-grid .select-all .filled-in:checked + label:before {
    top: 8px; }

  .email-settings [type="checkbox"].filled-in:not(:checked) + label:after {
    top: 4px;
    left: 0;
    right: auto; }
  .email-settings [type="checkbox"].filled-in:not(:checked) + label:before {
    top: 4px;
    left: 1px;
    right: auto; }
  .email-settings [type="checkbox"].filled-in:checked + label:after {
    top: 4px;
    left: 0;
    right: auto; }
  .email-settings [type="checkbox"].filled-in:checked + label:before {
    top: 4px;
    left: 1px;
    right: auto; }

  .collapsible-body {
    padding: 15px; }

  .tabs-wrapper .user-grid .content-table-data {
    width: 13.5%; }
    .tabs-wrapper .user-grid .content-table-data:last-child {
      width: 14% !important; }

  .send-mail {
    margin-bottom: 0px; }

  .content-table-wrapper {
    max-width: 600px;
    width: 100%;
    overflow: auto; }
    .content-table-wrapper .content-table {
      width: 1000px; }
       }
@media only screen and (max-width: 600px) {
  .select-payment .buttons button,
  .invoice-wrapper .buttons button {
    margin: 0 auto 15px;
    display: block;
    font-size: 13px;
    width: 140px; }

  .buttons button {
    margin: 0 5px;
    font-size: 12px; }

  .numbers ul li {
    width: 100%;
    padding: 0px;
    border-right: none;
    margin-bottom: 20px; }

  .dashboard-contents-wrapper .feeds-list {
    overflow: auto; }
    .dashboard-contents-wrapper .feeds-list .content-table {
      width: 500px; }

  .buttons a.linkedin-button {
    margin-bottom: 20px; }

  .deal-card-list {
    margin-bottom: 0px; }
    .deal-card-list .deal-card {
      padding: 10px 15px; }
      .deal-card-list .deal-card h2 {
        color: #3a3a3a;
        font-size: 14px;
        margin-bottom: 6px; }
      .deal-card-list .deal-card .proposal-view {
        border-right: 1px solid #95c3d8;
        float: left;
        width: 50%; }
        .deal-card-list .deal-card .proposal-view .year {
          color: #3a3a3a;
          text-align: left;
          border-bottom: none;
          padding-bottom: 6px; }
        .deal-card-list .deal-card .proposal-view .price {
          color: #3a3a3a;
          font-size: 24px;
          margin-bottom: 6px; }
          .deal-card-list .deal-card .proposal-view .price span {
            font-size: 18px; }
      .deal-card-list .deal-card .won-view {
        float: left;
        width: 30%;
        margin-left: 30px; }
        .deal-card-list .deal-card .won-view .year {
          color: #3a3a3a;
          text-align: left;
          border-bottom: none; }
        .deal-card-list .deal-card .won-view .price {
          color: #3a3a3a;
          font-size: 24px;
          margin-bottom: 6px; }
          .deal-card-list .deal-card .won-view .price span {
            font-size: 18px; }

  .deal-colour {
    padding: 47px 20px 50px;
    margin-bottom: 0;
    background: #f7f8f9;
    border: 1px solid #95c3d8;
    border-radius: 5px; }

  .numbers {
    padding: 10px 15px 10px;
    margin-bottom: 20px;
    background: #f7f8f9; }
    .numbers ul li {
      margin-bottom: 0px; }
      .numbers ul li .numers-header {
        font-size: 14px;
        margin-bottom: 5px; }
      .numbers ul li .price {
        font-size: 24px; }

  h3 {
    margin-bottom: 30px;
    font-size: 16px; } }
@media only screen and (max-width: 425px) {
  .invoice-grid .content-table,
  .invoice-grid .content-table-header,
  .invoice-grid .content-table-body {
    width: 600px; }

  .deal-card-list .deal-card {
    width: 100%;
    margin-right: 0; } }

/*# sourceMappingURL=responsive.css.map */
