
@font-face {
    font-family: 'lucida_sansdemibold_roman';
    src: url('../fonts/lucida/lucida_sans_demibold_roman-webfont.woff2') format('woff2'),
         url('../fonts/lucida/lucida_sans_demibold_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
	background: #f7f8f9 !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4d4d4d;
}

ul, li{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
h1, h2, h3, h4{
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}
h2{
	font-size: 24px;
	line-height: 1.2;
}
h3{
	margin-bottom: 30px;
	color: #0482bb;
	font-weight: 600;
	font-size: 18px;
	line-height: 1;
}
h4{
	font-size: 18px;
	line-height: 1;
}
h5, h6{
	padding: 0px;
	margin: 0px 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

p{
	margin: 0 0 10px 0;
}

a {
    color: #0482bb;
}

img{
	max-width: 100%;
}


button:focus,
button:active,
button:visited{
	background: none;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.container .row{
	margin: 0 -15px;
}

.row .col{
	padding: 0 15px;
}

.contents > .container > .row > .col{
	padding: 0px;
}

.icons{
	color: #969696;
	display: inline-block;
}

.default{
	background-color: #dfd9d8 !important;
}

.warning{
	background-color: #ff5e2b; 
}

.error{
	background-color: #fa285e; 
}

.success{
	background-color: #33c7a9; 
}

.red {
  background-color: #df4a32 !important;
}

.red-text {
  color: #df4a32 !important;
}

.green {
    background-color: #00a675 !important;
}

.blue-text{
	color: #0482bb !important;
}

.dark-blue{
  background-color: #2e3192 !important;
}

.dark-blue-text {
  color: #2e3192 !important;
}

.sky-blue{
  background-color: #52a2c6 !important; 
}

.sky-blue-text{
  color: #52a2c6 !important; 
}

.orange {
  background-color: #ff775b !important;
}

.orange-text {
  color: #ff775b !important;
}

.teal-light{
	background-color: #80cbc4 !important;
}

.teal-lighten-one{
	background-color: #1cc1b6 !important;
}

.indigo {
    background-color: #2e3192 !important;
}

.note-orange{
	background: #ff632d !important;
	border-left: 2px solid #c93a27 !important;
}

.note-orange:before{
	border-color: #fff #fff #c8360e #c8360e !important;
}

.note-blue{
	background: #0d7bbe !important;
	border-left: 2px solid #013c60 !important;
}

.note-blue:before{
	border-color: #fff #fff #006292 #006292 !important;
}




/*** TAG COLORS ***/

.tag-red{
	background-color: #e57373 !important;
}

.tag-pink{
	background-color: #F06292 !important;
}

.tag-purple{
	background-color: #BA68C8 !important;
}

.tag-indigo{
	background-color: #7986CB !important;
}

.tag-blue{
	background-color: #64B5F6 !important;
}

.tag-green{
	background-color: #81C784 !important;
}

.tag-light-green{
	background-color: #AED581 !important;
}

.tag-orange{
	background-color: #FFB74D !important;
}

.tag-deep-orange{
	background-color: #FF8A65 !important;
}

.tag-teal{
	background-color: #4DB6AC !important;
}

.tag-cyan{
	background-color: #4DB6AC !important;
}

	

.select-wrapper span.caret{
	text-indent: -99999px;
    background: url(../img/sprite.png) no-repeat -2px -47px;
    width: 15px;
}

.select-wrapper input.select-dropdown{
	font-size: 14px;
}

.dropdown-content li > a, 
.dropdown-content li > span{
	color: #4d4d4d;
	font-size: 13px;
	padding: 14px 10px;
}

.btn,
.btn:hover{
	text-transform: none;
	box-shadow: none;
	border-radius: 5px;
	padding: 0 20px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.btn-large,
.btn-large:hover{
	box-shadow: none;
}

.buttons button{
	margin: 0 10px;
}


.btn.split-btn{
	padding: 0 17px 0 50px;
	position: relative;
}

.btn.split-btn:after{
	position: absolute;
	content: '';
	left: 40px;
	top: 0px;
	width: 1px;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);	
}

.select-button,
.select-button:hover{
	padding: 0 35px 0 13px;
	position: relative;
}

.select-button:after{
	background: url(../img/sprite.png) no-repeat -2px -47px;
    content: '';
    position: absolute;
    top: 14px;
    right: 14px;
    height: 10px;
    width: 12px;
}

.hide{
	display: none;
}

.bullet{
	height: 12px;
	width: 12px;
	border-radius: 20px;
	display: inline-block;
	margin-right: 8px; 
}

.container{
	max-width: 1200px;
	width: 100%;
}

.row{
	margin-bottom: 0px;
}

.border{
	border: 1px solid #95c3d8;
	border-radius: 5px;
}

.header{
	padding: 0px 0;
	background-color: #ffffff;
	border-bottom: 1px solid #95c3d8;
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0;
	left: 0;
}




/**** LOGIN SCREEN ****/

.login-wrapper{
	background: #fff url(../img/background-welcome.jpg) no-repeat left bottom ;
	background-size: cover;
    height: 100vh;
}

.login-inner-content-wrapper{
	display: table;
	width: 100%;
	height: 100vh;
}

.login-inner-content{
	display: table-cell;
	vertical-align: middle;
}

.login-inner{
	background: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.login-left-side{
	background: #fff;
	width: 60%;
	text-align: center;
	padding: 60px 20px;
}

.login-right-side{
	width: 40%;
	position: relative;
}

.orange-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.66;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4798f+0,f07f10+100 */
	background: #e4798f; /* Old browsers */
	background: -moz-linear-gradient(top,  #f07f10 0%, #e4798f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f07f10 0%, #e4798f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f07f10 0%, #e4798f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f07f10', endColorstr='#e4798f',GradientType=0 ); /* IE6-9 */

}

.signin-form .form-layout-50,
.signup-form .form-layout-50{
	width: 47.5%;
    float: left;
    margin-right: 20px;
}

.linkedin-button{
	background: url(../img/sprite.png) no-repeat -75px 4px;
}

.google-button{
	background: url(../img/sprite.png) no-repeat -75px -35px;
}

.buttons a.linkedin-button,
.buttons a.google-button{
	line-height: 1;
	font-size: 13px;
	font-family: 'lucida_sansdemibold_roman';
	height: 40px;
    line-height: 40px;
}

div.field-group{
	position: relative;
}

/*** CHECK AND ERROR ***/

span.error-mark,
span.check-mark{
	opacity: 0;
	visibility: hidden;
	transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	transition: all 0.5s ease-in-out;
	position: absolute;
    right: 0;
    top: 10px;
}

span.error-mark:after{
	opacity: 0;
	content: '';
	background: url(../img/sprite.png) no-repeat -9px -171px;
    height: 17px;
    width: 17px;
    display: block;
    transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	transition: all 0.5s ease-in-out;
}

div.input-field.input-invalid span.error-mark{
	opacity: 1;
	visibility: visible;
	height: 18px;
    width: 18px;
    display: inline-block;
    background: #c50000;
    border-radius: 20px;
    transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transition: all 0.5s ease-in-out;
}

div.input-field.input-invalid span.error-mark:after{
	opacity: 1;
	transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transition: all 0.5s ease-in-out;
}

span.check-mark:after{
	opacity: 0;
	content: '';
	background: url(../img/sprite.png) no-repeat  -28px -172px;
    height: 17px;
    width: 17px;
    display: block;
    transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	transition: all 0.5s ease-in-out;
}


div.input-field.input-valid span.check-mark{
	opacity: 1;
	visibility: visible;
	height: 18px;
    width: 18px;
    display: inline-block;
    background: #32b232;
    border-radius: 20px;
    transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transition: all 0.5s ease-in-out;
}

div.input-field.input-valid span.check-mark:after{
	opacity: 1;
	transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transition: all 0.5s ease-in-out;
}

/*** END CHECK AND ERROR ***/

.login-right-side img{
	display: block;
	width: 100%;
}

.login-left-side h2{
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 50px;
}

.buttons{
	margin-bottom: 25px;
}

.sign-up-text{
	font-size: 14px;
	line-height: 1;
	color: #4d4d4d;
	font-weight: 600;
	display: block;
	text-align: center;
	margin-bottom: 30px;
}

.login-left-side form{
	text-align: left;
}

.submit-button{
	margin-top: 40px;
}

.submit-button .send-mail{
	max-width: 205px;
	width: 100%;
}

div.signupleft{
	padding: 75px 30px 35px 30px;
}

p.newuser{
	text-align: center;
	padding-top: 30px;
	font-size: 13px;
}

p.newuser a{
	color: #0482bb;
	text-decoration: none;
	font-size: 13px;
	font-weight: 400;
}

.wrong-pass{
    font-size: 14px;
    color: #cf2d2d;
    font-style: italic;
    font-weight: 600;
    position: absolute;
    left: 0;
    bottom: -23px;
}

.signin-form .form-layout-50.email-full{
	float: none;
	transform: translate(116px, 0);
	transition: all 0.5s ease-in-out;
}

.hide-pass{
	transform: translate(460px, 0);
    position: absolute;
}

/**** PROFILE AVATAR ****/

.profile{
	padding: 18px 0;
}

.profile-pic{
	float: left;
	margin-right: 15px;
	border: 2px solid #a9aec3;
	height: 45px;
	width: 45px;
	line-height: 45px;
	border-radius: 50px;
	overflow: hidden;
}

.profile-pic img{
	max-width: 100%;
	width: 100%;
	height: auto;
}

.profile-info{
	float: left;
}

.profile-info h5{
	font-style: italic;
    color: #4d4d4d;
    position: relative;
    line-height: 44px;
    padding-right: 20px;
}

.profile-info .dwn-arrow{
	position: absolute;
    right: 0px;
    top: 18px;
    height: 10px;
    width: 15px;
    background: url(../img/sprite.png) no-repeat -2px -25px;
}

.profile-usermenu{
	width: 200px;
    padding: 30px;
    position: absolute;
    display: none;
    background: #fff;
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.profile-usermenu ul li{
	padding-bottom: 20px;
}

.profile-usermenu ul li:last-child{
	padding-bottom: 0px;
}

.profile-usermenu ul li a{
	font-size: 13px;
	color: #969696;
	line-height: 20px;
}

.profile-usermenu ul li a:hover{
	color: #6299f6;
}

/**** PROFILE AVATAR ****/
/**** TOP NAV ****/

nav.top-menu{
	height: 40px;
    line-height: 40px;
    background-color: transparent;
    box-shadow: none;
}

nav ul li{
	line-height: 40px;
	padding: 20px 0;
}

nav ul li a{
	padding: 0 30px;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: #4d4d4d;
	position: relative;
}

nav ul li a:after{
	background: #0483bc;
	height: 2px;
	width: 100%;
	bottom: -24px;
	left: 0px;
	content: '';
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

nav ul li a:hover{
	color: #0482bb !important;
	text-decoration: none !important;
	background-color: transparent;
}

nav ul li a:hover:after{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

/**** TOP NAV ****/
/**** PROGRESS BAR ****/
.wrapper .progress{
	margin: 0px;
}
/**** PROGRESS BAR ****/
/**** SEARCH ****/

.right-nav{
	padding: 20px 0;
}

.search,
.notification{
	display: inline-block;
	position: relative;
}

.search-view .search-lists{
	float: left;
	width: 50%;
}

.search-view .searchrightView{
	float: right;
	width: 50%;
}

.search-view h2{
	font-size: 14px;
    color: #0482bb;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 30px;

}

.search-view .search-lists ul li a{
	color: #969696;
	font-size: 14px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	padding-right: 25px;
	position: relative;
}

.search-view .search-lists ul li a:after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background: url(../img/sprite.png) no-repeat -47px -169px;
}

.search-view .search-lists ul li{
	margin-bottom: 30px;
}

.search-view .search-lists ul li:last-child{
	margin-bottom: 0;
}

.search-lists.quick-links ul li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #0482bb;
	padding: 0px;
	font-weight: 600;
}

.search-lists.quick-links ul li a:after{
	display: none;
}

.search-bar input[type=text].valid{
	box-shadow: none;
}

.searchvisbile{
	z-index: 9999999;
}

.search-backdrop{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000;
    display: none;
}
.search-backdrop.backdropshow{
	display: block;
}

.serach-wrapper{
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	position: absolute;
    max-width: 784px;
    width: 100%;
    background: #fff;
    z-index: 999;
    top: 20px;
    left: 0;
}

.serach-wrapper .section-left{
	-webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transform: translateX(0%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
   	position: absolute;
    top: 0;
    left: 0;
    width: 51%;
    height: 100%;
    background: #fff;
    z-index: 1000;
}

.serach-wrapper .section-right{
	-webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transform: translateX(0%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
   	position: absolute;
    top: 0;
    right: 0;
    width: 51%;
    height: 100%;
    background: #fff;
    z-index: 1000;
}

.serach-wrapper .btn{
	position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.serach-wrapper.serach-wrapper-open{
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.serach-wrapper .file-field .file-path-wrapper{
	padding-right: 140px;
	padding-left: 0px;
}

.search-view{
	border: 1px solid #95c3d8;
    border-top: 2px solid #0483bc;
    padding: 20px 20px 70px 20px;
}

.search-bar label{
	padding-left: 10px;
	font-weight: 700;
	font-size: 18px;
}

.search-bar input[type="text"]{
	padding-left: 10px;
	border-bottom: none;
	padding-left: 10px;
	font-weight: 700;
	font-size: 18px;
	color: #969696;
	position: relative;
}

.serach-wrapper .file-field .file-path-wrapper:before{
	content: '';
    position: absolute;
    background: #1cc1b6;
    width: 1px;
    height: 34px;
    top: 7px;
    left: 0;
}

.search-bar input[type="text"].select-dropdown{
	font-weight: 500;
	font-size: 14px;
	padding-left: 0;
}

.search-bar input[type="text"]:focus{
	border-bottom: none;
	box-shadow: none;
}

.serach-wrapper .searchcat{
	background: transparent;
	color: #969696;
	position: absolute;
    top: 0;
    right: 20px;
    width: 100px;
}

.serach-wrapper .searchcat span{
	color: #969696;
	font-size: 14px;
    opacity: 0.7;
}

.search-bar{
	padding-left: 30px;
}

.notification button.notify-icon.notifyhide{
	opacity: 0;
}

.notification a.search-cross{
	background-color: transparent;
	border: none;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -74px -159px; 
	height: 40px;
	width: 40px;
	position: relative;
	opacity: 0;
    position: absolute;
    top: 2px;
    left: 0;
}

.notification a.search-cross.search-cross-show{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.search-show{
	position: relative;
}

.search button.search-icon{
	background-color: transparent;
	border: none;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -34px 6px; 
	height: 40px;
	width: 40px;
}

.serach-wrapper .input-field{
	margin-top: 0px;
}

/**** END SEARCH ****/
/**** NOTIFICATION ****/
	
.notification button.notify-icon{
	background-color: transparent;
	border: none;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -34px -34px; 
	height: 40px;
	width: 40px;
	position: relative;
	opacity: 1;
}



.notify-icon span{
	height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    display: inline-block;
    position: absolute;
    right: 2px;
    text-align: center;	
    font-size: 10px;
    color: #fff;
    top: 2px;
    background: #ed1c24;
}

.notification-wrapper{
	position: absolute;
    top: 84px;
    z-index: 99;
    background: #fff;
    width: 250px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.notification-open{
	opacity: 1;
	visibility: visible;
    transition: all 0.3s ease-in-out;
}

.notification-wrapper ul li{
	border-bottom: 1px solid #f2f2f2;
    padding: 10px;
}

.notification-wrapper ul li:hover{
	background: #f7f8f9;
}

.notification-wrapper ul li a{
    font-size: 13px;
	color: #4d4d4d;
	line-height: 1;
}

/**** END NOTIFICATION ****/


.bottom-header{
	padding: 22px 0;
}


/**** CONTACT AND SIDE BAR WIDGETS ****/

.contents{
	margin-bottom: 50px;
}

.right-side-bar,
.contacts,
.content{
	background-color: #fff;
	padding: 60px 20px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 70px;
}

.right-side-bar{
	padding: 60px 0;
}

.widgets,
.information{
	padding-bottom: 40px;
    margin-bottom: 50px;
    background: #fff;
    border-bottom: 1px solid #95c3d8;
}

.widgets:last-child{
	border: none;
	margin-bottom: 0px;
}

.information:last-child{
	border: none;
	margin-bottom: 0px;
}

.information-header .add-input{
	display: inline-block;
    margin-left: 10px;
}

.widgets-header h3,
.information-header h3{
	margin-bottom: 30px;
	color: #0482bb;
	font-weight: 600;
	display: inline-block;
}

.address-information,
.im-profile,
.social-profile{
	display: none;
}

.signup-form-wrapper{
	opacity: 0;
	position: absolute;
    top: 60px;
    z-index: -1;
}
/**** CONTACT AND SIDE BAR WIDGETS ****/

.screens{
	padding: 20px;
	text-align: center;
	border: 2px solid #dddee4;
	border-radius: 5px;
	cursor: pointer;
}

.screens:hover{
	border: 2px solid #8360f2;
}

.screens h4{
	font-family: 'Open Sans', sans-serif;
	color: #4d4d4d;
}

.screens:hover h4{
	color: #8360f2;
}

/**** CONTACT TABLE ****/

table thead th{
	color: #969696;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 900;
	background: #fbfbfc;
}

table tr td{
	font-size: 13px;
	color: #969696;
}

table.bordered > thead > tr{
	border: none;
}

table.highlight > tbody > tr:hover {
    background-color: #fbfbfc;
}

.contacts-grid{
	padding: 50px 30px;
}

.contacts-grid h3{
	padding-top: 15px;
}

.total-contact{
	font-size: 13px;
	font-weight: 400;
}

.table-shorting{
	margin-bottom: 40px;
}

.table-shorting li{
	margin: 0 15px 0 0;
}

.table-shorting li:first-child{
	margin: 0 35px 0 0;
}

.table-shorting li:last-child{
	margin: 0;
}

#tabs .table-shorting li ul li{
	margin: 0px;
}

.serach-table .input-field,
.tables-length .input-field{
	margin-top: 0;
}

.serach-table input{
	padding: 0 0 0 30px;
    width: 140px;
}

.serach-table span{
	position: absolute;
    top: 10px;
}

.filter{
	height: 40px;
    line-height: 40px;
}

.filter span{
	height: 40px;
	width: 40px;
	display: inline-block;
    background: url(../img/sprite.png) no-repeat 5px -100px;
    float: left;
}

.tables-length input.select-dropdown{
	width: 60px;
}

.tables-length input.select-dropdown,
.tables-length .dropdown-content li > span{
	color: #0482bb;
}

.contacts-grid .select-all label{
	text-indent: -9999px;
	padding-left: 30px;
}

.contacts-grid .select-all .filled-in:not(:checked) + label:after,
.contacts-grid .select-all .filled-in:checked + label:after{
	height: 10px;
    width: 10px;
    background-color: transparent;
    border: 1px solid #95c3d8;
    top: 7px;
    left: 14px;
    border-radius: 0;
    z-index: 0;
}

.contacts-grid .select-all .filled-in:checked + label:after {
    border: 1px solid #8dc63f;
    background-color: #8dc63f;
}

.contacts-grid .select-all .filled-in:checked + label:before{
	top: 6px;
    left: 14px;
    width: 4px;
    height: 7px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.avatar-pic-wrapper{
	position: relative;
	display: block;
    width: 40px;
    padding: 9px 0;
}

.avatar-pic-wrapper:after{
	content: '';
	height: 34px;
    position: absolute;
    width: 34px;
    left: 50%;
    margin-left: -17px;
    top: 8px;
	border-radius: 50px;
	border: 1px solid #14a4a6;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.avatar-pic{
	height: 26px;
	width: 26px;
	display: block;
	border-radius: 50px;
	margin: 0 auto;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	margin: 3px auto 3px;
	line-height: 25px;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.content-table .content-table-row:hover .avatar-pic-wrapper:after{
	transition: all 0.3s ease-in-out;
	opacity: 1;
}

.information-table .input-field {
    position: relative;
    margin-top: 0;
    width: 100px;
}

.information-table input.select-dropdown{
	margin: 0 0 0px 0;
	border: none;
	height: 30px;
	font-size: 13px;
}



.content-table,
.content-table-header,
.content-table-body{
	display: table;
    width: 100%;
}

.content-table-header{
	border-radius: 0px;
}

.content-table-header .content-table-data{
	border: none;
}

.content-table-header .content-table-row{
	background: #fbfbfc;
}

.content-table-row{
	display: table-row;
    vertical-align: inherit;
    cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.content-table-row:hover,
.content-table-row.selected{
	background: #fbfbfc;
	transition: all 0.3s ease-in-out;
}

.content-table-data{
	padding: 0px 10px;
    display: table-cell;
    height: 50px;
    line-height: 50px;
    float: left;
    width: 12%;
    text-align: left;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	border-bottom: 1px solid #dadada;						
}

.content-table-data:first-child{
	width: 5%;
}

.content-table-data:last-child{
	width: 6%;
}

/*.content-table-data.address:hover{
	width: 15%;
	text-overflow: inherit;
    overflow: auto;
    line-height: 20px;
	transition: all 0.3s ease-in-out;
    white-space: pre-wrap;
}*/

.content-table-data a.icons{
	transition: all 0.3s ease-in-out;
	display: inline-block;
}

.content-table-data a.icons i{
	position: relative;
	top: 7px;
}

.content-table-data .more-actions{
	position: relative;
}
.content-table-data .more-actions span{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.content-table-data .more-actions span a{
	height: 14px;
	width: 14px;
	display: inline-block;
	background: url(../img/sprite.png) no-repeat 0 0;
}

.content-table-data .more-actions span a.edit-icon{
	background-position: -13px -200px;
}

.content-table-data .more-actions span a.remove-icon{
	background-position: -33px -200px;
}

.content-table-row:hover .content-table-data .more-actions:hover span{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.content-table-row:hover .content-table-data .more-actions:hover a.icons{
	transition: all 0.3s ease-in-out;
	opacity: 0;
}

span.phone-number-type {
	height: 20px;
	width: 20px;
	display: block;
	margin: 15px auto;
	border-radius: 30px;
	border: 1px solid #9ac6da;
	font-size: 9px;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	color: #0482bb;
	font-family: 'Open Sans', sans-serif;
}


/**** END INFORMATION TABLE ****/

/***** FORM *****/

.clear-fix:before,
.clear-fix:after{
	display: table;
  	content: " ";
}

.clear-fix,
.clear-fix:after{
	clear: both;
}

.form-layout{
	width: 100%;
}

.form-layout div:last-child{
	margin-right: 0px;
}

.form-layout-10{
	width: 7.5%;
	float: left;
	margin-right: 20px;
}

.form-layout-20{
	width: 17.5%;
	float: left;
	margin-right: 20px;
}

.form-layout-30{
	width: 27.5%;
	float: left;
	margin-right: 10px;
}

.form-layout-33{
	width: 31.5%;
	float: left;
	margin-right: 10px;
}

.form-layout-40{
	width: 37.5%;
    float: left;
    margin-right: 20px;
}

.form-layout-50{
	width: 45.5%;
    float: left;
    margin-right: 40px;
}

.form-layout-60{
	width: 58.5%;
	float: left;
	margin-right: 10px;
}

.form-layout-80{
	width: 78.5%;
	float: left;
	margin-right: 10px;
}

.form-layout-100{
	width: 98.5%;
	float: left;
}

.field-group input[type=text],
.field-group input[type=email],
.field-group input[type=password]{
    height: 40px;
    margin: 0 0 10px 0;
    line-height: 40px;
    font-size: 13px;
    color: #969696;
    border-bottom: 1px solid #dadada;
}

.field-group input[type=text] label,
.field-group input[type=email] label,
.field-group input[type=password] label{
	font-size: 14px;
}

.input-field label{
	font-size: 13px;
    color: #969696;
}

.md-select{
	min-width: auto;
}

.md-select,
.md-select .md-menu,
.md-select .md-select-value{
	height: 40px;
}

.md-input-container{
	margin: 4px 0 10px;
}

.md-input-container label{
	font-size: 14px;
    top: 27px;
    font-family: 'Open Sans', sans-serif;
    color: #969696;
}

.add-input,
.remove-input{
	display: block;
    font-size: 13px;
    color: #3c86f5;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    height: 50px;
    line-height: 50px;
    transition: 0.2s all ease-in-out;
}

.add-input span{
	position: relative;
    top: 5px;
    margin-right: 8px;
    height: 20px;
    width: 20px;
    display: inline-block;
    background: url(../img/sprite.png) no-repeat -118px -87px;
}

.remove-input span{
	position: relative;
    top: 5px;
    margin-right: 8px;
	height: 20px;
	width: 20px;
	display: inline-block;
	background: url(../img/sprite.png) no-repeat -118px -112px;
}

.remove-input:hover span{
	background-position: -118px -112px;
}


/**** SIDE BAR WIDGETS ****/

.more-widgets{
	position: absolute;
    right: 10px;
	top: 10px;
}

.drag-handle{
	background: url(../img/sprite.png) no-repeat 0 0;
	height: 18px;
    width: 18px;
    position: relative;
    display: inline-block;
    top: 3px;
    margin-right: 5px;
    cursor: move;
}

.widgets-header h3{
	padding-left: 20px;
	cursor: move;
}

.widgets-header{
	position: relative;
}

.widgets-header .more-actions{
	display: inline-block;
    position: absolute;
    right: 35px;
    top: -2px;
    width: 52px;
}

.maximize{
	/*opacity: 0;
	position: absolute;
    left: 0;
    top: 0;
    z-index: -1;*/
    display: none;
}

.widgets-sub-header h5{
	color: #969696;
	padding-left: 20px;
	margin-bottom: 8px;
    font-weight: 700;
}

[type="checkbox"].filled-in:checked + label:after{
	border: 2px solid #67c078;
    background-color: transparent;
}

[type="checkbox"].filled-in:checked + label:before{
	border-right: 2px solid #67c078;
    border-bottom: 2px solid #67c078;
}

.border-right{
	position: relative;
}

.border-right:after{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 5px;
	height: 100%;
	background: #a9aec3;
	content: '';
}

.border-right-yellow:after{
	background: #fff200;
}

.border-right-green:after{
	background: #00a675;
}

.border-right-red:after{
	background: #f90136;
}

.border-right-grey:after{
	background: #a8a8a4;
}

.border-right-blue:after{
	background: #3c86f5;
}

/*** TASK WIDGET ***/

.tasks{
	margin-bottom: 10px;
    padding: 10px 0 10px 20px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.tasks:hover{
	border-top: 1px solid #95c3d8;
    border-bottom: 1px solid #95c3d8;
    background: #fbfbfc;
    transition: all 0.3s ease-in-out;
}

.tasks input.filled-in:not(:checked) + label:after{
	height: 15px;
    width: 15px;
    border: 2px solid #a9aec3;
    top: 15px;
    left: -35px;
}

.tasks input.filled-in label:after{
	transform: scale(0,0);
}

.tasks input.filled-in label:before{
	transform: scale(0,0);
}

.tasks input.filled-in:checked + label:after{
	height: 15px;
    width: 15px;
    top: 15px;
    left: -35px;
    transform: scale(1,1);
}

.tasks input.filled-in:checked + label:before {
    top: 15px;
    left: -34px;
    width: 6px;
    height: 9px;
    transform: rotateZ(37deg) scale(1,1);
    transition: all 0.1s ease-in-out;
}

[type="checkbox"].filled-in:not(:checked) + label:before{
	top: 18px;
    left: -34px;
    transition: all 0.1s ease-in-out;
}


.tasks label{
	position: relative;
	/*float: left;*/
	font-weight: 600;
    font-size: 14px;
    color: #0482bb;
    padding: 0;
    margin-left: 35px;
    letter-spacing: 0.5px;
}

.tasks .icons{
	margin-left: 5px;
}

/*.more-tasks,
.more-widgets{
	position: absolute;
	right: -20px;
    top: 3px;
	height: 20px;
	width: 10px;
	display: block;
	background: url(../img/sprite.png) no-repeat -5px -69px;
}*/

/*** MORE TASK POPUP ***/

.more-task-popup{
	opacity: 0;
	transition: 0.3s all ease-in-out;
    max-width: 237px;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 9;
    visibility: hidden;
    top: -30px;
    background: #fff;
}

.more-task-popup-open{
	visibility: visible;
	opacity: 1;
	top: 40px;
	right: -70px;
	margin-left: -115px;
}

.popup-header{
	padding: 20px 36px;
    border-bottom: 1px solid #d5d8e0;
}

.popup-header ul li{
	padding-bottom: 20px;
}

.popup-header a{
	color: #969696;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.popup-header ul li a span{
	color: #0482bb;
    font-weight: 600;
    margin: 0 20px;
}

.popup-header .input-field{
	width: 80px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 0;
}

.popup-header .input-field input.select-dropdown{
	margin-bottom: 0px;
	border: none;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #0482bb;
    font-weight: 600;
}

.popup-header .dropdown-content li > span{
	font-size: 14px;
    color: #3a82bb;
}

.popup-header .dropdown-content li{
	padding-bottom: 0px;
}

.popup-footer{
	padding: 20px 36px;
}

.popup-footer a{
	color: #969696;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

/*** END MORE TASK POPUP ***/

/*** END TASK WIDGET ***/

/**** DEALS ****/

.deals{
	padding: 0 20px;
}

/**** PROGRESS BAR ****/

.progress-bar-wrapper{
	height: 5px;
	position: relative;
	width: 100%;
}

.progress-bar{
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background: #92283f;
	background: -moz-linear-gradient(left,  #92283f 0%, #92283f 0%, #ff695d 50%, #ffca6e 100%, #539fe1 100%);
	background: -webkit-linear-gradient(left,  #92283f 0%,#92283f 0%,#ff695d 50%,#ffca6e 100%,#539fe1 100%);
	background: linear-gradient(to right,  #92283f 0%,#92283f 0%,#ff695d 50%,#ffca6e 100%,#539fe1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92283f', endColorstr='#539fe1',GradientType=1 );
}

.deals{
	margin-bottom: 20px;
}

.progress-bar-wrapper{
	margin-bottom: 10px;
}

.deal-title,
.deal-complete{
	font-size: 12px;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}

/**** END DEALS ****/

/***** CALENDER *****/

.calender-wrapper{
	padding: 0 20px;
}

.calender{
	border-radius: 5px;
}

.month {
	overflow: hidden;
	display: block;
	width: 100%; 
	height: auto;
	background: #907aff;
	border-radius: 5px;
	padding: 30px 15px;
}

.month aside{
	float: left;
	width: 40%;
	text-align: center;
}
.month header {
	position: relative;
	display: block;
	height: 80px;
	background: #e9eaf0;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.06);
}
.month header h1 {
	margin-left: 30px;
	line-height: 80px;
}

.month header .pagination span:first-of-type {
	background-position: -77px -4px;
}
.month header .pagination span:first-of-type:hover {
	background-position: -106px -4px;
}
.month header .pagination span:last-of-type {
	background-position: -90px -4px;
}
.month header .pagination span:last-of-type:hover {
	background-position: -119px -4px;
}

.month article {
	float: right;
	width: 60%;
}

.month article b,
.month article span {
	display: block;
	float: left;
	width: 26px; 
	height: 26px;
	margin: 4px;
	text-align: center;
}

.month article b {
	font: 600 14px/26px 'Open Sans';
	color: #fff;
}

.month article span {
	font: 600 12px/26px 'Open Sans';
	color: #dad3ff;
	border-radius: 2px;
	cursor: pointer;
}

.month article span.disable {
	color: #afa2f3;
}

.month article span:not(.disable):active {
	background: #b9becf;
}

.month article span.active,
.month article span.active:hover,
.month article span.active:active {
	color: #dad3ff;
	border-radius: 100%;
	background: #5b3ef2;
}

.month article div {
	display: block;
	overflow: hidden;
	clear: both;
}

.calender-week, .calender-day, .calender-months{
	display: inline-block;
	padding: 6px 4px 0;
	color: #dad3ff;
	font-size: 12px;
}

.calender-day-months .active{
	color: #fff;
	font-size: 14px;
}

.calender-day-months{
	margin-bottom: 40px;
}

.calender-date-month{
	margin-bottom: 20px;
}

.calender-date{
	display: block;
    font-size: 40px;
    line-height: 1;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.calender-month{
	font-size: 16px;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.add-event .md-button.md-raised{
	border: 1px solid #5b3ef2;
    color: #fff;
    font-weight: 300;
    box-shadow: none;
}

.btn-large i{
	font-size: 30px;
}

/***** EVENTS *****/

.events-wrapper{
	padding: 50px 45px;
}

.events{
	position: relative;
	margin-bottom: 10px;
}

.events span.big-bullet{
    position: absolute;
    height: 77px;
    width: 2px;
    top: 4px;
    left: -20px;
    background: #b0b1b2;
}

.events:last-child span.big-bullet{
	background: transparent;
}

.events span.big-bullet:after{
	width: 13px;
	content: '';
	height: 13px;
	background: #ccc;
	border-radius: 50px;
	position: absolute;
	left: -5px;
    top: 0px;
}

.events-time{
	float: left;
	width: 15%;
}

.events-details{
	float: left;
	width: 85%;
}

.events-time span{
	font-size: 18px;
	position: relative;
	display: inline-block;
	color: #0482bb;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.events-time span sup{
	font-size: 9px;
    top: 5px;
    right: -20px;
    color: #0482bb;
    position: absolute;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.events-details h5{
	margin: 0px;
	color: #0482bb;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
}

.lightpurple:after{
	background: #fff !important;
	border: 3px solid #8962fb;
}

.darkpurple:after{
	background: #fff !important;
	border: 3px solid #26c66d;
}

.lightred:after{
	background: #fff !important;
	border: 3px solid #139ae8;
}

/***** END EVENTS *****/ 
/***** END CALENDER *****/
/***** END SIDE BAR *****/

/**** ALERT MESSAGE ****/
.alert-wrapper{
	text-align: center;
    position: absolute;
    width: 100%;
    top: 100px;
}

.alert-message{
	padding: 0 50px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
    line-height: 50px;
    border-radius: 5px;
}

.alert-message p{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	margin: 0px;
}

/**** END ALERT MESSAGE ****/

/**** CONTEXTUAL ****/

.contextual-section{
	position: relative;
}

.contextual-section .right-side-bar{
	padding: 60px 20px;
}

.contextual-section .right-side-bar .widgets-header h3{
	padding: 0px;
}

.profile-wrapper{
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #cceaf7;
}

.profile-wrapper span.profile-image{
	height: 50px;
	width: 50px;
	border-radius: 100%;
	border: 2px solid #0482bb;
	overflow: hidden;
	display: block;
	position: absolute;
	left: 0px;
	bottom: 30px;
}

.profile-name-designation{
	padding-left: 60px;
}

.profile-name-designation span.name{
	display: block;
	font-size: 14px;
	line-height: 20px;
	color: #0482bb;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 120px;
}

.profile-name-designation span.designation{
	display: block;
	font-size: 13px;
	line-height: 20px;
	color: #969696;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

/**** TAB AREA ****/

#tabs ul{
	border-bottom: 1px solid #fbc2eb;
	margin-bottom: 50px;
}

#tabs ul li{
	float: left;
	padding: 0 27px;
}

#tabs ul li:first-child{
	padding-left: 0px;
}

#tabs ul li:last-child{
	padding-right: 0px;
}

#tabs ul li a{
	position: relative;
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
	color: #969696;
	font-weight: 600;
	font-size: 14px;
	transition: all 0.3s ease-in-out;
	font-family: 'Open Sans', sans-serif;
}

#tabs ul li a:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 100%;
	bottom: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
}

#tabs ul li:hover a,
#tabs ul li.ui-tabs-active a{
	color: #0482bb;
	transition: all 0.3s ease-in-out;
	outline: none;
}

#tabs ul li:hover a:after,
#tabs ul li.ui-tabs-active a:after{
	background: #3c86f5;
	color: #0482bb;
	transition: all 0.3s ease-in-out;
}

/*** TAB FEED ***/

.feeds-list .content-table-row:hover{
	background: transparent;
}

.feeds-list .content-table-data{
	border-bottom: none;
	margin-bottom: 30px;
}
.tabs-wrapper .feeds-list .content-table-data:nth-child(1){
	width: 7%;
}

.tabs-wrapper .feeds-list .content-table-data:nth-child(2){
	width: 55%;
}

.tabs-wrapper .feeds-list .content-table-data:nth-child(3){
	width: 19%;
}

.tabs-wrapper .feeds-list .content-table-data:nth-child(4){
	width: 19%;
}

.feeds-list .avatar-pic-wrapper:after{
	display: none;
}

.feeds-list .avatar-pic-wrapper{
	padding: 5px 0;
}

.feeds-list .avatar-pic{
	height: 40px;
    width: 40px;
    border: 2px solid #a9aec3;
    margin: 0 auto;
}

/*** TAB FEED ***/

/*** TAB TASKS ***/

.tabs-wrapper .tasks{
	border: 1px solid transparent;
}

.tabs-wrapper .tasks:hover{
	border: 1px solid #95c3d8;
}

.tasks-priority{
	position: absolute;
	right: 80px;
    top: 50%;
    margin-top: -12px;
    padding: 3px 10px 3px 30px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}

.tasks-priority:after{
	position: absolute;
	content: '';
	height: 13px;
	width: 14px;
	top: 5px;
    left: 10px;
    background: url(../img/sprite.png) no-repeat -13px -227px;
}

.tasks-priority.tasks-done{
	background: #a6e510;
}

.tasks-priority.tasks-done:after{
	background-position: -56px -246px;
}

.contextual-tasks.more-task-popup{
	max-width: 190px;
	margin: 10px auto 0;
}

.contextual-tasks.more-task-popup:after{
	background: url(../img/arrow-up.png) no-repeat 0 0;
	position: absolute;
	left: 50%;
	top: -13px;
	width: 17px;
	height: 14px;
	margin-left: -8px;
	content: '';
}

.contextual-tasks .popup-header ul li{
	padding-bottom: 5px;
}

.contextual-tasks .popup-header a{
	font-size: 12px;
	transition: all 0.3s ease-in-out;
	position: relative;
	padding-left: 25px;
}

.contextual-tasks .popup-header a:after{
	background: url(../img/sprite.png) no-repeat 0 0;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0px;
	left: 0px;
	content: '';
}

.contextual-tasks .popup-header a:hover,
.contextual-tasks .popup-header a.active{
	color: #3c86f5;
	transition: all 0.3s ease-in-out;
}

.contextual-tasks .popup-header a.edit:after{
	background-position: -33px -225px;
}

.contextual-tasks .popup-header a.complete:after{
	background-position: -34px -245px;
}

.contextual-tasks .popup-header a.change-date:after{
	background-position: -56px -225px;
}

.contextual-tasks .popup-header a.assign-task:after{
	background-position: -11px -245px;
}

.contextual-tasks .popup-header{
	padding: 15px 20px;
}

.fileDropTarget {
    width: 205px;
    height: 50px;
    border: solid thin #1a1a1a;
    position: relative;
}

/*** TAB TASKS ***/

/*** TAB DOCUMENTS ***/

.drag-area,
.document-area {
	position: relative;
	text-align: center;
	width: 170px;
	float: left;
	margin-right: 30px;
}

.document-area{
	margin-right: 0px;
}

.drag-area .drag-label {
	display: block;
	width: 170px;
	height: 156px;
	background: #fbfbfc;
	position: relative;
}

.drag-area .input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.drag-area .file-upload{
	height: 40px;
	width: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -20px;
	/*background: url(../img/sprite.png) no-repeat -1px -270px;*/
	background: url(../img/icons.svg) no-repeat -2px -81px;
	background-size: 100%;
}

.drag-area .file-name{
	position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
    white-space: normal;
}

.drag-area .drag-label {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 10px;
	cursor: pointer;
	margin-bottom: 30px;
}

.document-area span{
	display: block;
	background: #fbfbfc;
    border: 1px solid #95c3d8;
    padding: 43px 0px;
    border-radius: 5px;
    margin-bottom: 35px;
    position: relative;
}

.document-area span img{
	display: block;
    margin: 0 auto;
}

.document-area span ul{
	position: absolute;
    width: 100%;
    bottom: 8px;
    text-align: center;
    left: 0;
    opacity: 0;
	transition: all 0.3s ease-in-out;
}

.document-area span ul li{
	height: 20px;
    width: 20px;
    background: url(../img/sprite.png) no-repeat 0px 0px;
    margin: 0 0px;
}

.document-area span ul li.document-edit{
	background-position: -55px -277px;
}

.document-area span ul li.document-remove{
	background-position: -81px -277px;
}

.document-area span ul li.document-expand{
	background-position: -106px -277px;
}

ul.all-documents li a:hover .document-area span ul{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}



#tabs .tabs-wrapper ul.all-documents{
	float: left;
	margin-bottom: 30px;
}

ul.all-documents li{
	margin: 0 15px;
}

ul.all-documents li:first-child{
	margin-left: 0px;
}

ul.all-documents li:last-child{
	margin-right: 0px;
}

#tabs .tabs-wrapper ul.all-documents li a{
	padding: 0px;
}

ul.all-documents li a:hover .document-area .desc{
	border-bottom: 1px solid #dadada;
	transition: all 0.3s ease-in-out;
	color: #969696;
}

.document-area .desc{
	border-bottom: 1px solid transparent;
	transition: all 0.3s ease-in-out;
    padding: 5px 0;
    color: #969696;
    font-size: 13px;
    text-transform: lowercase;
    font-weight: 400;
}

/*** TAB DOCUMENTS ***/

/*** NOTES AREA ***/

.note-lists{
	position: relative;
	z-index: 2;
}

.note-list-hide{
	opacity: 0;
    z-index: 0;
}

.notes{
	width: 170px;
	height: 230px;
	float: left;
	padding: 40px 8px;
	margin: 0 15px 20px;
	background: #d3d1d5;
	border-left: 2px solid #bababa;
	position: relative;
}
.notes:before{
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 40px 35px 0;
    border-style: solid;
    border-color: #fff #fff #bababb #bababb;
    background: #bababb;
    display: block;
    width: 0;
}

.notes:first-child{
	margin-left: 0px;
}

.notes:last-child{
	margin-right: 0px;
}

.notes a{
	display: block;
	height: 100%;
}

.notes:hover .note-actions ul li{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.notes h4{
	font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    position: relative;
}

.notes h4:after{
	position: absolute;
	content: '';
	bottom: -2px;
	left: 0px;
	width: 65px;
	height: 2px;
	background: #fff;
}

.notes.note-add{
	cursor: pointer;
}

.notes.note-add span{
	padding-top: 50px;
    display: block;
}

.notes.note-add span a{
	margin: 0 auto;
    display: block;
}

.note-actions{
	position: absolute;
    bottom: 0px;
    text-align: right;
    left: 0;
    width: 100%;
}

.note-author{
	display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 8px 10px 0;
}

#tabs .tabs-wrapper .note-actions ul{
	text-align: center;
	margin-bottom: 12px;
}

.note-actions ul li{
	background: url(../img/sprite.png) no-repeat 0 0;
	display: inline-block;
	height: 22px;
	width: 22px;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.note-actions ul li.note-edit{
	background-position: -54px -310px;
}

.note-actions ul li.note-delete{
	background-position: -81px -310px;
}

.note-actions ul li.note-expand{
	background-position: -106px -310px;
}

.notes-form{
	padding: 40px 30px;
    border-left: 30px solid #ff642e;
    border-radius: 0;
    background: #fff;
    transform: translate(0px, -250px);
    opacity: 0;
}

.notes-form input,
.notes-form input::-webkit-input-placeholder{
	font-weight: 600;
	color: #969696;
}

.notes-form textarea,
.notes-form textarea::-webkit-input-placeholder{
	font-weight: 400;
	color: #969696;
}


.note-close{
    border: none;
    background: url(../img/sprite.png) no-repeat -79px -197px;
    height: 30px;
    width: 30px;
    position: relative;
    opacity: 1;
    position: absolute;
    top: 20px;
    right: 20px;
}

.notes-form textarea.materialize-textarea{
	height: 500px !important;
	overflow: hidden;
    line-height: 55px;
    border-bottom: none;
}

.notes-form textarea.materialize-textarea:focus:not([readonly]){
	border: none;
	box-shadow: none;
}

.text-wrapper{
    background: linear-gradient(transparent, transparent 54px, #dadada 54px);
    background-size: 55px 55px;
    margin-bottom: 50px;
}

#tabs .tabs-wrapper ul{
	border-bottom: none;
    margin-bottom: 0px;
}

#tabs .tabs-wrapper ul li {
    float: none;
    display: inline-block;
    padding: 0 0px;
}

#tabs .tabs-wrapper ul li a:after{
	display: none;
}

.file-drop-target a{
	width: 205px;
	border: 1px solid #95c3d8;
	height: 60px;
	line-height: 60px;
	padding-left: 45px;
	display: inline-block;
	background: #f7f8f9;
}

.file-drop-target span{
	position: relative;
}

.file-drop-target span:after{
	position: absolute;
	height: 26px;
	width: 26px;
	content: '';
	top: -4px;
    left: -34px;
    background: url(../img/sprite.png) no-repeat -81px -239px;
}

/*** NOTES AREA ***/


/**** END TAB AREA ****/

/**** RIGHT SIDE FORM ****/
	
form .widgets .field-group input[type=text]{
	height: 30px;
    line-height: 30px;
    font-size: 13px;
	font-family: 'Open Sans', sans-serif;
    color: #969696;
    border-bottom: 1px solid transparent;
}

form .widgets .field-group label{
	color: #3c86f5;
    font-weight: 400;
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    transform: translateY(-140%);
}

form .widgets .field-group input[type=text]:focus:not([readonly]){
	border-bottom: 1px solid #dadada;
    box-shadow: none;
}

form .widgets .field-group input[type=text]:focus:not([readonly]) + label{
	color: #3c86f5;
}

form .widgets .field-group .add-more{
	height: 20px;
    width: 20px;
    background: url(../img/sprite.png) no-repeat -54px -198px;
    display: block;
    position: absolute;
    left: 50%;
    top: -15px;
    margin-left: -10px;
}

form .widgets .field-group .select-wrapper{
	width: 80px;
    position: absolute;
    top: -20px;
}

form .widgets .field-group .select-wrapper span.caret{
	margin: 12px 0 0;
}

form .widgets .field-group .select-wrapper input[type=text]{
	color: #3c86f5;
}

.widgets .add-input{
	font-size: 12px;
	text-align: left;
    height: 30px;
    line-height: 30px;
}

.widgets .add-input span{
	position: absolute;
	background-position: -54px -198px;
	top: 6px;
	margin-left: -10px;
	left: 50%;
	height: 20px;
    width: 20px;
}

/**** RIGHT SIDE FORM ****/



/**** END CONTEXTUAL ****/

/**** ****/

.modal-overlay{
	background: #fff;
}

.modal-close{
	position: absolute;
	right: 35px;
	top: 20px;
	height: 20px;
	width: 20px;
	border: none;
	background: url(../img/sprite.png) no-repeat -118px -136px;
	z-index: 2;
}

.modal form{
	margin-bottom: 50px;
}

.modal h3{
	margin-bottom: 15px;
	letter-spacing: 1px;
}

.modal .modal-content {
    padding: 50px 20px;
}

.modal .buttons{
	margin-bottom: 0px;
}

.modal.modal-fixed-footer .modal-content{
	position: relative;
    height: 100%;
}

.modal.modal-fixed-footer{
	height: auto;
}

.modal .modal-footer .btn{
	float: none;
	margin: 0 6px;
}

/***** FOOTER STYLE *****/

.footer{
	background: #fff;
	z-index: 99;
}

.footer .copy-right{
	line-height: 56px;
	height: 56px;
	text-align: center;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}


/**** DEAL *****/

.drag-container{
	padding: 0 20px;
    background: #fff;
}

.drag-column:first-child{
	margin-left: 0px;
}

.drag-column{
	width: 23%;
    float: left;
    margin-left: 30px;
	padding: 60px 0;
}

.drag-header{
	position: relative;
	margin-bottom: 30px;
}

.drag-column-header{
	display: inline-block;
	text-transform: uppercase;
	margin-right: 10px;	
	letter-spacing: 0.5px;
}

.total-price{
	color: #969696;
	display: inline-block;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

.drag-header-more{
	position: absolute;
	right: 0px;
	top: 0px;
}

.drag-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.drag-column {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 0 10px;
	position: relative;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
}

.drag-inner-list {
  	min-height: 50px;
}


.drag-item.is-moving {
	-webkit-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

.drag-options {
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.drag-options.active {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}

.gu-mirror {
	position: fixed;
	margin: 0;
	z-index: 9999;
	opacity: 1;
	list-style-type: none;
}

.gu-hide {
  	display: none;
}

.gu-unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gu-transit {
  	opacity: 0.2;
}

.add-deals{
	height: 18px;
    width: 18px;
    float: left;
    background: url(../img/sprite.png) no-repeat -120px -164px;
}

.drag-header-more .icons{
	position: relative;
    top: -3px;
    margin-left: 4px;
}
.card {
	padding: 20px;
	border: 1px solid #95c3d8;
    border-radius: 3px;
    box-shadow: none;
    background: #fbfbfc;
    overflow: hidden;
    margin: 0 0 30px;
}

.card .card-content{
	padding: 0 0 10px 0;
}

.card .card-content .card-title{
	font-size: 15px;
	line-height: 23px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.5px;
}

.task-assigned{
	float: left;
    width: 50%;
}

.task-assigned span.avatar-pic-wrapper{
	display: inline-block;
	width: 30px;
	padding: 10px 0;
}

.task-price{
    float: right;
    width: 50%;
    text-align: right;
}

.task-price .price{
    padding-top: 8px;
    display: inline-block;
    font-weight: 600;
    font-style: italic;
    color: #969696;
}

.task-price .price span{
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
	color: #0482bb;
	position: relative;
    top: 3px;
}

.task.active{
  transform:rotate(10deg);
}

.card .card-action{
	border: none;
	padding: 0px;
	z-index: 1;
    background: transparent;
}

.card-id{
	font-size: 12px;
	font-weight: 600;
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
	color: #0482bb;
	letter-spacing: 0.5px;
}

.card-status{
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	line-height: 14px;
	letter-spacing: 0.5px;
	padding: 2px 8px;
	background: #65d300;
	border-radius: 20px;
}

.card .card-action span{
	margin-right: 15px;
}

.card .card-action span:last-child{
	margin-right: 0px;
}

.card-bg{
	position: absolute;
	height: 100%;
	width: 3px;
	left: 0;
    top: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#92283f+1,ff695c+50,ffca6e+100 */
	background: #92283f; /* Old browsers */
	background: -moz-linear-gradient(top,  #92283f 1%, #ff695c 50%, #ffca6e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #92283f 1%,#ff695c 50%,#ffca6e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #92283f 1%,#ff695c 50%,#ffca6e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92283f', endColorstr='#ffca6e',GradientType=0 ); /* IE6-9 */
}

.card-type{
	position: absolute;
	right: 0;
    bottom: -5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 35px;
	color: #d6d6ef;
	line-height: 35px;
    text-transform: uppercase;
}




.tasks-wrapper{
	background: #fff;
	padding: 60px 20px;
}

.tasks-wrapper .tasks{
	border: 1px solid transparent;
}

.tasks-wrapper .tasks:hover{
	border: 1px solid #95c3d8;
}

.tasks a.icons{
	position: absolute;
	right: 14px;
	top: 50%;
    margin-top: -14px;
}

.tasks-wrapper .tasks label{
	float: none;
}

.tag-container{
	position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -12px;
}

.tags{
	padding: 3px 8px 3px 8px;
    color: #fff;
    font-size: 12px;
    float: left;
    margin-right: 5px;
    font-weight: 600;
    border-radius: 3px;
    background-color: #b9b9b9;
    text-transform: uppercase;
}

.more-tags{
	color: #969696;
	font-size: 10px;
}

.task-assignee{
	padding-left: 35px;
	color: #969696;
	font-size: 13px;
	letter-spacing: 0.5px;
}

.task-assignee a{
	color: #3c86f5;
}


/**** EDIT TASKS ****/

/*.tasks .edit-tasks{
	border: 1px solid #95c3d8;
}*/

.tasks .edit-tasks .edit-task-header{
	margin-bottom: 25px;
}

.tasks .edit-tasks .edit-task-header label{
	border-bottom: 1px solid #dadada;
	width: 100%;
	padding-bottom: 5px;
	height: auto;
	display: none;
}

.tasks .edit-tasks .edit-task-header input[type=text]{
	font-weight: 600;
    font-size: 14px;
    color: #0482bb;
    padding: 0;
    height: 30px;
    margin-left: 35px;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.tasks .edit-tasks .edit-task-header input.filled-in:not(:checked) + label:after,
.tasks .edit-tasks .edit-task-header input.filled-in:checked + label:after,
.tasks .edit-tasks .edit-task-header input.filled-in:checked + label:before,
.tasks .edit-tasks .edit-task-header input.filled-in:not(:checked) + label:before{
	top: 6px;
}

.tasks .edit-tasks .edit-task-header .tasks-priority{
	color: #5090f6;
	top: 13px;
    right: 100px;
    margin: 0;
    font-size: 10px;
    padding: 3px 15px 3px 30px;
}

.tasks .edit-tasks .edit-task-header .tasks-priority:after{
	top: 4;
	background-position: -14px -316px;
}

.tasks .edit-tasks .edit-task-header .tasks-priority:before{
	content: '';
	height: 10px;
	width: 10px;
	position: absolute;
	right: 0px;
	top: 5px;
	background: url(../img/sprite.png) no-repeat -17px -338px;
}

.tasks .edit-tasks .edit-task-header .task-removed{
	width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../img/sprite.png) no-repeat -80px -277px;
    position: absolute;
    right: 25px;
    top: 13px;
}

.tasks .edit-tasks .task-description{
	margin-left: 35px;
}

.tasks .edit-tasks .task-description textarea{
	font-size: 14px;
	color: #969696;
	border: none;
	height: 100px;
	outline: none;
}

.edit-task-footer{
	position: relative;
	padding-top: 10px;
}

.edit-task-footer .task-assignee span{
	float: left;
    margin-right: 8px;
}

.edit-task-footer .task-assignee .select-wrapper span.caret{
	right: 2px;
    top: 3px;
}

.edit-task-footer .select-wrapper{
	float: left;
    width: 80px;
}

.edit-task-footer .select-wrapper input{
	margin: 0;
    height: 20px;
    border: none;
    color: #3c86f5;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.edit-task-footer .tag-container{
	position: relative;
	left: auto;
	top: auto;
	margin: 0px;
}

.edit-task-footer .tag-container .add-tags{
	display: inline-block;
}

.edit-task-footer .tag-container .add-tags .input-field{
	margin: 0;
}

.edit-task-footer .tag-container .add-tags input{
	margin: 0;
    height: 24px;
    font-size: 13px;
    width: 100px;
    line-height: 24px;
}

.edit-task-footer .tag-container .add-tags .add-input{
	width: 30px;
    position: absolute;
    right: -40px;
    top: 0;
    height: 100%;
}

.edit-task-footer .tag-container .add-tags .add-input span{
	top: -7px;
}

.edit-task-footer .tag-container .tags{
	position: relative;
}

.edit-task-footer .tag-container .tags .remove-tags{
	position: absolute;
    top: -5px;
    right: -4px;
    background: url(../img/sprite.png) no-repeat -16px -359px;
    height: 13px;
    width: 13px;
    display: inline-block;
}

.mark-done{
	text-align: right;
	padding: 0 20px;
}

.mark-done label{
	color: #969696;
	font-size: 13px;
	font-weight: 400;
}

.mark-done input.filled-in:not(:checked) + label:after,
.mark-done input.filled-in:checked + label:after{
	height: 27px;
    width: 27px;
    top: 0px;
    left: -40px;
    border-radius: 40px;
}

.mark-done input.filled-in:checked + label:after{
	background-color: #67c078;
}

.mark-done input.filled-in:checked + label:before,
.mark-done input.filled-in:not(:checked) + label:before{
	top: 3px;
    left: -36px;
    width: 8px;
    height: 15px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}


/*DATE AND TIME PICKER STYLE*/

.dtp { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 2000; font-size: 14px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.dtp > .dtp-content { background: #fff; max-width: 300px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); max-height: 520px; position: relative; left: 50%; }
.dtp > .dtp-content > .dtp-date-view > header.dtp-header { background: #689F38; color: #fff; text-align: center; padding: 0.3em; }

.dtp div.dtp-date, .dtp div.dtp-time { background: #8BC34A; text-align: center; color: #fff; padding: 10px; }
.dtp div.dtp-date > div { padding: 0; margin: 0; }
.dtp div.dtp-actual-month { font-size: 1.5em; }
.dtp div.dtp-actual-num { font-size: 3em; line-height: 0.9; }
.dtp div.dtp-actual-maxtime { font-size: 3em; line-height: 0.9; }
.dtp div.dtp-actual-year { font-size: 1.5em; color: #DCEDC8; }
.dtp div.dtp-picker { padding: 1em; text-align: center; }

.dtp div.dtp-picker-month, .dtp div.dtp-actual-time { font-weight: 500; text-align: center; }
.dtp div.dtp-picker-month { padding-bottom:20px!important; text-transform: uppercase!important; }

.dtp .dtp-close { position: absolute; top: 0.5em; right: 1em; }
.dtp .dtp-close > a { color: #fff; }
.dtp .dtp-close > a > i { font-size: 1em; }

.dtp table.dtp-picker-days { margin: 0; min-height: 251px;}
.dtp table.dtp-picker-days, .dtp table.dtp-picker-days tr, .dtp table.dtp-picker-days tr > td { border: none; }
.dtp table.dtp-picker-days tr > td {  font-weight: 700; font-size: 0.8em; text-align: center; padding: 0.5em 0.3em; }
.dtp table.dtp-picker-days tr > td > span.dtp-select-day { color: #BDBDBD!important; padding: 0.4em 0.5em 0.5em 0.6em;}
.dtp table.dtp-picker-days tr > td > a, .dtp .dtp-picker-time > a { color: #212121; text-decoration: none; padding: 0.4em 0.5em 0.5em 0.6em; border-radius: 50%!important; }
.dtp table.dtp-picker-days tr > td > a.selected{ background: #8BC34A; color: #fff; }
.dtp table.dtp-picker-days tr > th { color: #757575; text-align: center; font-weight: 700; padding: 0.4em 0.3em; }

.dtp .p10 > a { color: #689F38; text-decoration: none; }
.dtp .p10 { width: 10%; display: inline-block; }
.dtp .p20 { width: 20%; display: inline-block; }
.dtp .p60 { width: 60%; display: inline-block; }
.dtp .p80 { width: 80%; display: inline-block; }

.dtp a.dtp-meridien-am, .dtp a.dtp-meridien-pm { position: relative; top: 10px; color: #212121; font-weight: 500; padding: 0.7em 0.5em; border-radius: 50%!important;text-decoration: none; background: #eee; font-size:1em; }
.dtp .dtp-actual-meridien a.selected { background: #689F38; color: #fff; }

.dtp .dtp-picker-time > .dtp-select-hour { cursor: pointer; }
.dtp .dtp-picker-time > .dtp-select-minute { cursor: pointer; }

.dtp .dtp-buttons { padding: 0 1em 1em 1em; text-align: right; }

.dtp.hidden, .dtp .hidden { display: none; }
.dtp .invisible { visibility: hidden; }

.dtp .left { float: left; }
.dtp .right { float: right; }
.dtp .clearfix { clear: both; }

.dtp .center { text-align: center; }

.dtp-picker-year{
    margin-bottom: 1px;
}

.year-picker-item{
    text-align: center;
    padding-top: 5px;
    font-size: large;
    cursor: pointer;
    margin: 0 auto;
}

.dtp-actual-year:hover{
    cursor: pointer;
}
.dtp-actual-year.disabled:hover{
    cursor: inherit;
}
.year-picker-item:hover{
    color:#689F38;
}

.year-picker-item.active{
    color:#689F38;
    font-weight: bold;
}

.dtp-select-year-range{
    display: inline-block;
    text-align: center;
    width: 100%;
}



.tabs-wrapper .table-shorting{
	float: right;
}

.tabs-wrapper .user-grid.contacts-grid{
	padding: 0px;
}

.tabs-wrapper .user-grid .content-table-data{
	width: 23%;
}

.tabs-wrapper .user-grid .content-table-data:last-child {
    width: 26%;
}

.tabs-wrapper .user-grid .content-table-data:first-child {
    width: 5%;
}

.tabs-wrapper .user-grid .content-table-data.filter{
	position: relative;
}

.tabs-wrapper .user-grid .content-table-data.filter span{
	position: absolute;
    right: 50px;
    top: 5px;
}

.tabs-wrapper .user-grid.contacts-grid .select-all .filled-in:not(:checked) + label:after, 
.tabs-wrapper .user-grid.contacts-grid .select-all .filled-in:checked + label:after{
	left: 9px;
	top: 8px;
}

.tabs-wrapper .user-grid.contacts-grid .select-all .filled-in:not(:checked) + label:before{
	top: 11px;
    left: 6px;
}
.tabs-wrapper .user-grid.contacts-grid .select-all .filled-in:checked + label:before{
	top: 7px;
    left: 10px;
}

.tabs-wrapper .user-grid .avatar-pic-wrapper{
	width: 30px;
}

.ui-tabs-panel{
	position: relative;
}

.ui-tabs-panel .btn-floating.add-icon{
	height: 50px;
	width: 50px;
	line-height: 50px;
	position: absolute;
    right: 10px;
    bottom: -25px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

.ui-tabs-panel .btn-floating.add-icon i{
	line-height: 50px;
}

.role-grid.contacts-grid{
	padding: 0px;
}

.tabs-wrapper .role-grid .content-table-data,
.tabs-wrapper .role-grid .content-table-data:first-child,
.tabs-wrapper .role-grid .content-table-data:last-child{
	width: 33.33%;
}

.tabs-wrapper .role-grid .content-table-data.filter{
	position: relative;
}

.tabs-wrapper .role-grid .content-table-data.filter span{
	position: absolute;
    right: 110px;
    top: 5px;
}